{% extends 'layouts/application.html' %}{% block bodyClass %}class="home"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}


<!-- slider  -->
<section id="slider" class="slideshow carousel slide" data-ride="carousel">
    <div class="slideshow__controler">
        <div class="slideshow__controler-panel">
            <a class="carousel-control-prev slideshow__control" href="#slider" data-slide="prev">
                <span class="carousel-control-prev-icon"><i class="icon-prev arrow_carrot-left_alt2"></i></span>
            </a>
            <ul class="carousel-indicators">
                <!-- Indicators -->
                <li data-target="#slider" data-slide-to="0" class="active"></li>
                <li data-target="#slider" data-slide-to="1"></li>
                <li data-target="#slider" data-slide-to="2"></li>
            </ul>
            <a class="carousel-control-next slideshow__control" href="#slider" data-slide="next">
                <span class="carousel-control-next-icon"><i class="icon-prev arrow_carrot-right_alt2"></i></span>
            </a>
        </div>
    </div>
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100 d-none d-md-block" src="../images/banner-100.jpg" alt="Los Angeles">
            <img class="w-100 d-md-none" src="../images/banner-100-mb.jpg" alt="banner-100-mb">
        </div>
        <div class="carousel-item">
            <img class="w-100 d-none d-md-block" src="../images/banner-100.jpg" alt="Chicago">
            <img class="w-100 d-md-none" src="../images/banner-100-mb.jpg" alt="banner-100-mb">
        </div>
        <div class="carousel-item">
            <img class="w-100 d-none d-md-block" src="../images/banner-100.jpg" alt="New York">
            <img class="w-100 d-md-none" src="../images/banner-100-mb.jpg" alt="banner-100-mb">
        </div>
        
    </div>
    
</section>
<section>
    <div class="bg-primary text-center py-2">
        <h3 class="text-white mb-0 h4">WHISKY HOTEL IN HOLLYWOOD</h3>
    </div>
</section>


<section class="about">
    <div class="container">
        <div class="p-3 p-md-5 " >
            <div class="title__section">
                <span>About</span>
                <h2 class="mb-4 mb-md-5">Whisky Hotel</h2>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="about__des text-justify">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga laboriosam consectetur quam provident doloremque nulla natus magni molestias doloribus, voluptates, ab ullam commodi, asperiores vero voluptate illum aut aspernatur repellendus. Eaque veniam
                        cupiditate possimus tenetur distinctio. Accusamus animi minus placeat.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga laboriosam consectetur quam provident doloremque nulla natus magni molestias doloribus, voluptates, ab ullam commodi, asperiores vero voluptate illum aut aspernatur repellendus. Eaque veniam
                            cupiditate possimus tenetur distinctio. Accusamus animi minus placeat.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about__video">
                        <iframe class="w-100 video-youtube" src="https://www.youtube.com/embed/KAMNsSbRfDQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>

<div class="mt-5">
    <div class="title__section">
        <span>Get Inspired by Whisky Hotel's</span>
        <h2 class="mb-4 mb-md-5">PHOTO GALERY</h2>
    </div>
</div>

<section class="galety  py-4" style="background: #E6E7E8;">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                   sdad
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"  class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid"  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            
           
       </div>
    </div>
</section>   
<div class="mt-5 text-center">
    <a href="#!" class="btn btn-secondary">See more</a>
</div> 

<div class="mt-5">
    <div class="title__section">
        <span>About</span>
        <h2 class="mb-4 mb-md-5">PROJECT HIGHLIGHTS</h2>
    </div>
</div>

<section class="hightights py-5">
    <div class="container">
       <div class="row">
           <div class="col-md-6">
               <div class="hightights__card">
                   <div class="hightights__number">1</div>
                   <div class="hightights_content">
                    Adolfo Suaya, known as a celebrity in the F&B/Entertainment Industry, is an Argentine-American real estate investor, restaurateur, hotelier, and television host.
                   </div>
               </div>
               <div class="hightights__card">
                    <div class="hightights__number">2</div>
                    <div class="hightights_content">
                        Owner personally guarantees repayment of EB-5 investor funds.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">3</div>
                    <div class="hightights_content">
                        Project pledges 100% of membership interest to the EB-5 NCE.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">4</div>
                    <div class="hightights_content">
                        Refinitiv, which is owned by Blackstone and Thomson Reuters, provided a third party independent due diligence report on the Owner and Company looking into the financial, legal, and personal background for any potential red flags.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">5</div>
                    <div class="hightights_content">
                        Refinitiv provided a personal asset review report.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">6</div>
                    <div class="hightights_content">
                        EB-5 compliance due diligence report from an Independent Attorney to ensure that the project and all documents comply with EB-5 regulations.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">7</div>
                    <div class="hightights_content">
                        EB-5 is a small portion of the capital stack making only 22%. Project does not rely on EB-5 Funds as the project is already fully capitalized.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">8</div>
                    <div class="hightights_content">
                        Senior Bank loan closed, which means the bank cleared and approved the Owner, Project, Construction Budget, Schedule, and viability of the project.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">9</div>
                    <div class="hightights_content">
                        Project already in construction and is expected to complete early 2022.
                    </div>
                </div>
           </div>
           <div class="col-md-6">
                <div class="hightights__card">
                    <div class="hightights__number">10</div>
                    <div class="hightights_content">
                        Construction Manager entered a Guaranteed Maximum Price contract, which means the project is guaranteed to be completed within a certain price.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">11</div>
                    <div class="hightights_content">
                        Owner has entered a completion guaranty to complete the Hotel.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">12</div>
                    <div class="hightights_content">
                        Location – Project is located directly in the heart of Hollywood off Hollywood Boulevard and Wilcox Ave, which is off major tourist attractions and the night scene.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">13</div>
                    <div class="hightights_content">
                        CBRE appraisal value of $78.1 million provides a 40% buffer to repay all funds.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">14</div>
                    <div class="hightights_content">
                        High chance of repayment because repayment will occur similar time as the two world events hosted in Los Angeles, 2026 World Cup and the 2028 Olympics, which will increase tourism and hotel occupancy. This will increase revenue and will make the project more viable for refinancing or even a potential sale at peak market.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">15</div>
                    <div class="hightights_content">
                        The project will create over 778 jobs, which is 5x’s more than the needed jobs to fulfill all EB-5 investors. EB-5 investors will rely on up to 140 jobs.
                    </div>
                </div>
                <div class="hightights__card">
                    <div class="hightights__number">16</div>
                    <div class="hightights_content">
                        MM US Capital Management is an independent manager to communicate and act in the investors best interest and has engaged with NES Financial, largest fund administrator for EB-5, to provide fund accounting and administrative solutions, which will allow investors to access their own personal documents via individual Login and ID.
                    </div>
                </div>
            </div>
        
       </div>
    </div>
    <div class="height-7 d-none d-lg-block"></div>
</section>

<div class="mt-5">
    <div class="title__section">
        <span>International</span>
        <h2 class="mb-4 mb-md-5">PRESS RELEASES</h2>
    </div>
</div>
<section class="releases bg-primary py-5">
    <div id="releases__carousel" class="carousel slide w-100" data-ride="carousel" data-interval="false">
        <div class="releases__listbox carousel-inner w-100" role="listbox">
            <div class=" carousel-item active">
                <div class="col-lg-4 col-md-6">
                    <img class="img-fluid px-3" src="../images/20.png">
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-lg-4 col-md-6">
                    <img class="img-fluid px-3" src="../images/21.png">
                </div>
            </div>
            <div class="carousel-item">
                <div class="col-lg-4 col-md-6">
                    <img class="img-fluid px-3" src="../images/22.png">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev " href="#releases__carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"><i class="icon-prev arrow_carrot-left_alt2"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next " href="#releases__carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"><i class="icon-prev arrow_carrot-right_alt2"></i></span>
            <span class="sr-only">Next</span>
        </a>
        <ul class="carousel-indicators">
            <li data-target="#releases__carousel" data-slide-to="0" class="active"></li>
            <li data-target="#releases__carousel" data-slide-to="1" class=""></li>
            <li data-target="#releases__carousel" data-slide-to="2" class=""></li>
        </ul>
    </div>
    <div class="releases__gradient">
      
    </div>
</section>

<div class="mt-5">
    <div class="title__section">
        <span>The Project’s</span>
        <h2 class="mb-4 mb-md-5">EB-5 BENEFITS</h2>
    </div>
</div>
<section class="project py-5" style="background: url(../images/project.jpg) no-repeat top center;">
    <div class="height-4"></div>
    <div class="container">
         <div class="row">
             <div class="col-md-4">
                 <div class="project__card">
                     <div class="project__icon">
                         <img width="90" src="../images/14.png">
                     </div>
                     <div class="project__content">
                        One investment offers one 
                        of the fastest path to permanent
                        residency (Green Card) for the
                        investor and entire immediate
                        family (spouse and unmarried 
                        children under 21)
                     </div>
                 </div>
             </div>
             <div class="col-md-4">
                <div class="project__card">
                    <div class="project__icon">
                        <img width="90" src="../images/14.png">
                    </div>
                    <div class="project__content">
                        Green Card holders are eligible to 
                        travel and work anywhere in US
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project__card">
                    <div class="project__icon">
                        <img width="90" src="../images/14.png">
                    </div>
                    <div class="project__content">
                        Investor’s children are eligible
                        to attend U.S. universities and 
                        colleges at the same tuition cost 
                        as U.S. Residents and Citizens
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project__card">
                    <div class="project__icon">
                        <img width="90" src="../images/14.png">
                    </div>
                    <div class="project__content">
                        The investor and entire immediate
                        family are eligible to apply for U.S.
                        citizenship
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project__card">
                    <div class="project__icon">
                        <img width="90" src="../images/14.png">
                    </div>
                    <div class="project__content">
                        No language requirement
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project__card">
                    <div class="project__icon">
                        <img width="90" src="../images/14.png">
                    </div>
                    <div class="project__content">
                        No education or business
                        background requirement
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project__card">
                    <div class="project__icon">
                        <img width="90" src="../images/14.png">
                    </div>
                    <div class="project__content">
                        Ability to qualify for financial
                        aid and scholarship designated for 
                        Green Card holders
                        and Citizens only
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>


<section class="term">
    <div class="mt-5">
        <div class="title__section">
            <h2 class="mb-4 mb-md-5">EB-5 TERMS OF WHISKY HOTEL</h2>
        </div>
    </div>
    <div class="container">
       <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tbody>
                        <tr >
                            <td width="40%"><strong>Manager</strong></td>
                            <td>IMM U.S. Capital Management, LLC</td>
                        </tr>
                        <tr>
                            <td><strong>EB-5 NCE</strong></td>
                            <td>Whisky Hotel Investors, LLC</td>
                        </tr>
                        <tr>
                            <td ><strong>Total Offering</strong></td>
                            <td>$12,600,000 (14 Members)</td>
                        </tr>
                        <tr>
                            <td ><strong>Investment Amount</strong></td>
                            <td>$900,000</td>
                        </tr>
                        <tr>
                            <td ><strong>Term</strong></td>
                            <td>6 Years with 2 one-year extensions</td>
                        </tr>
                        <tr>
                            <td ><strong>Preferred Return</strong></td>
                            <td>NCE Preferred Annual Return is 6.5%. EB-5 investors will 
                                share approximately 1/13 of the Preferred Annual Return, 
                                which equates to a return of approximately 0.5% per investor.</td>
                        </tr>
                        <tr>
                            <td ><strong>Security/Collateral</strong></td>
                            <td>1. Owner Guaranty's repayment thru Guaranty Agreement.<br>
                            2. Membership Pledge Agreement for the benefit of the Investors.
                            </td>
                        </tr>
                        <tr>
                            <td ><strong>Jobs Created</strong><br>Job Cushion</td>
                            <td>778<br>456%</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
       </div>
    </div>

</section>

<section class="term">
    <div class="mt-5">
        <div class="title__section">
            <span>MM US Capital Management</span>
            <h2 class="mb-4 mb-md-5">EB-5 FUND MANAGER:</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <img src="../images/logo-imm-us.png">
               <div class="my-3">
                <p><strong>IMM U.S. Capital Management,</strong> LLC has over 15 years experience in financial services and over 10 years of EB-5 experience.</p>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase font-weight-bold text-primary my-3 h4">Industry-Leading Track Record</h3>
            </div>
            <div class="col-md-3">
                <div class="industry">
                    <h4>$300+</h4>
                    <img src="../images/12.png">
                    <p class="my-3">$300+ million EB-5 Funds raised and managed</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="industry">
                    <h4>600</h4>
                    <img src="../images/13.png">
                    <p class="my-3">600+ I-526 approvals<br>(100% project approvals)</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="industry">
                    <h4>300+</h4>
                    <img src="../images/14.png">
                    <p class="my-3">300+ I-829 approvals<br>(100% approvals)</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="industry">
                    <h4>36</h4>
                    <img src="../images/15.png">
                    <p class="my-3">36 investor funds returned</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase font-weight-bold text-primary h4">Benefits to investors</h3>
            </div>
            <div class="col-md-12">
                <div class="p-4 border-bottom">
                    <h4 class="h5 text-uppercase font-weight-bold pb-3">&bull; Decision Making</h4>
                    <p>IMM will have decision making control. </p>
                    <p>Typically, for other projects the Regional Center or the Fund Manager will decide without IMM having input, which may or may not be the best decision for the investors. IMM will be able to ensure that all decision making is in the best interest of the investors.</p>
                </div>    
            </div>
            <div class="col-md-12">
                <div class="p-4 border-bottom">
                    <h4 class="h5 text-uppercase font-weight-bold pb-3">&bull; Transparency</h4>
                    <p>IMM will have full access to project documents and financials. This will allow to make sure documents are reviewed and reported annually by IMM.</p>
                    
                </div>    
            </div>
            <div class="col-md-12">
                <div class="p-4">
                    <h4 class="h5 text-uppercase font-weight-bold pb-3">&bull; Communications</h4>
                    <p>IMM will be the direct communicator with the Project and Investors. This will allow for more efficient responses to investors.</p>
                    
                </div>    
            </div>
        </div>
    </div>

</section>

<section class="term">
    <div class="mt-5">
        <div class="title__section">
            <span>Latest</span>
            <h2 class="mb-4 mb-md-5">Updates</h2>
        </div>
    </div>
    <div class="container">
        <div class="row content-row">
            <div class="col-md-3 mb-3">
                <div class="blog__wrap pb-3">
                    <div class="blog__image ">
                        <a href="https://immgroup.com/quy-dau-tu/3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc/"> 
                            <img class="img-fluid"  src="https://immgroup.com/wp-content/uploads/2020/10/thumbnail-3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc-da-thu-hut-60-trieu-aud-trong-5-ngay-goi-von.jpg" >
                            </a>
                    </div>
                    <h3 class="blog__title mb-2 content_2" >
                        <a href="https://immgroup.com/quy-dau-tu/3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc/">3 suất đầu tư nhanh dành cho Việt Nam <br> vào Quỹ An cư Hưu trí Úc</a>
                    </h3>
                    <div class="blog__date mb-2">
                        <small>30/10/2020</small>
                    </div>
                    <div class="blog__des content_3" >
                        IMM Group xin giới thiệu Quỹ An cư Hưu trí Úc. Chỉ trong 5 ngày gọi vốn, Quỹ đã thu hút được 60 triệu AUD của nhà đầu tư trên toàn cầu. Hiện chỉ còn 3 suất đầu tư dành cho nhà đầu tư Việt Nam đến ngày 16/11/2020.&nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="blog__wrap pb-3">
                    <div class="blog__image ">
                        <a href="https://immgroup.com/quy-dau-tu/3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc/"> 
                            <img class="img-fluid"  src="https://immgroup.com/wp-content/uploads/2020/10/thumbnail-3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc-da-thu-hut-60-trieu-aud-trong-5-ngay-goi-von.jpg" >
                            </a>
                    </div>
                    <h3 class="blog__title mb-2 content_2" >
                        <a href="https://immgroup.com/quy-dau-tu/3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc/">3 suất đầu tư nhanh dành cho Việt Nam <br> vào Quỹ An cư Hưu trí Úc</a>
                    </h3>
                    <div class="blog__date mb-2">
                        <small>30/10/2020</small>
                    </div>
                    <div class="blog__des content_3" >
                        IMM Group xin giới thiệu Quỹ An cư Hưu trí Úc. Chỉ trong 5 ngày gọi vốn, Quỹ đã thu hút được 60 triệu AUD của nhà đầu tư trên toàn cầu. Hiện chỉ còn 3 suất đầu tư dành cho nhà đầu tư Việt Nam đến ngày 16/11/2020.&nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="blog__wrap pb-3">
                    <div class="blog__image ">
                        <a href="https://immgroup.com/quy-dau-tu/3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc/"> 
                            <img class="img-fluid"  src="https://immgroup.com/wp-content/uploads/2020/10/thumbnail-3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc-da-thu-hut-60-trieu-aud-trong-5-ngay-goi-von.jpg" >
                            </a>
                    </div>
                    <h3 class="blog__title mb-2 content_2" >
                        <a href="https://immgroup.com/quy-dau-tu/3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc/">3 suất đầu tư nhanh dành cho Việt Nam <br> vào Quỹ An cư Hưu trí Úc</a>
                    </h3>
                    <div class="blog__date mb-2">
                        <small>30/10/2020</small>
                    </div>
                    <div class="blog__des content_3" >
                        IMM Group xin giới thiệu Quỹ An cư Hưu trí Úc. Chỉ trong 5 ngày gọi vốn, Quỹ đã thu hút được 60 triệu AUD của nhà đầu tư trên toàn cầu. Hiện chỉ còn 3 suất đầu tư dành cho nhà đầu tư Việt Nam đến ngày 16/11/2020.&nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="blog__wrap pb-3">
                    <div class="blog__image ">
                        <a href="https://immgroup.com/quy-dau-tu/3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc/"> 
                            <img class="img-fluid" src="https://immgroup.com/wp-content/uploads/2020/10/thumbnail-3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc-da-thu-hut-60-trieu-aud-trong-5-ngay-goi-von.jpg" >
                            </a>
                    </div>
                    <h3 class="blog__title mb-2 content_2" >
                        <a href="https://immgroup.com/quy-dau-tu/3-suat-dau-tu-nhanh-danh-cho-viet-nam-vao-quy-an-cu-huu-tri-uc/">3 suất đầu tư nhanh dành cho Việt Nam <br> vào Quỹ An cư Hưu trí Úc</a>
                    </h3>
                    <div class="blog__date mb-2">
                        <small>30/10/2020</small>
                    </div>
                    <div class="blog__des content_3" >
                        IMM Group xin giới thiệu Quỹ An cư Hưu trí Úc. Chỉ trong 5 ngày gọi vốn, Quỹ đã thu hút được 60 triệu AUD của nhà đầu tư trên toàn cầu. Hiện chỉ còn 3 suất đầu tư dành cho nhà đầu tư Việt Nam đến ngày 16/11/2020.&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}