{% extends 'layouts/application.html' %}{% block bodyClass %}class="home"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}


<!-- slider  -->
<section id="slider" class="slideshow carousel slide" data-ride="carousel">
    <div class="slideshow__controler">
        <div class="slideshow__controler-panel">
            <a class="carousel-control-prev slideshow__control" href="#slider" data-slide="prev">
                <span class="carousel-control-prev-icon"><i class="icon-prev arrow_carrot-left_alt2"></i></span>
            </a>
            <ul class="carousel-indicators">
                <!-- Indicators -->
                <li data-target="#slider" data-slide-to="0" class="active"></li>
                <li data-target="#slider" data-slide-to="1"></li>
                <li data-target="#slider" data-slide-to="2"></li>
            </ul>
            <a class="carousel-control-next slideshow__control" href="#slider" data-slide="next">
                <span class="carousel-control-next-icon"><i class="icon-prev arrow_carrot-right_alt2"></i></span>
            </a>
        </div>
    </div>
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100 d-none d-md-block" src="../images/banner-100.jpg" alt="Los Angeles">
            <img class="w-100 d-md-none" src="../images/banner-100-mb.jpg" alt="banner-100-mb">
        </div>
        <div class="carousel-item">
            <img class="w-100 d-none d-md-block" src="../images/banner-100.jpg" alt="Chicago">
            <img class="w-100 d-md-none" src="../images/banner-100-mb.jpg" alt="banner-100-mb">
        </div>
        <div class="carousel-item">
            <img class="w-100 d-none d-md-block" src="../images/banner-100.jpg" alt="New York">
            <img class="w-100 d-md-none" src="../images/banner-100-mb.jpg" alt="banner-100-mb">
        </div>
        
    </div>
    
</section>
<section>
    <div class="bg-primary text-center py-2">
        <h3 class="text-white mb-0 h4">WHISKY HOTEL IN HOLLYWOOD</h3>
    </div>
</section>

<!--div class="wrapper">
    <h2>Slick Carousel Example<h2>
        <div class="container">
            <div class="rơw">
                <div class="col-6">
                    <div class=" center">
                        <div><img src="../images/project-01.jpg"></div>
                        <div><img src="../images/project-01.jpg"></div>
                        <div><img src="../images/project-01.jpg"></div>
                        <div><img src="../images/project-01.jpg"></div>
                        <div><img src="../images/project-01.jpg"></div>
                        <div><img src="../images/project-01.jpg"></div>
                        <div><img src="../images/project-01.jpg"></div>
                        <div><img src="../images/project-01.jpg"></div>
                    </div>
                </div>
            </div>
            
        </div>
  
  </div>


  <div class="container page-top">



    <div class="row">


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
               sdad
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"  class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid"  alt="">
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
            </a>
        </div>
        
        
       
       
   </div>

 
  

</div-->
<section class="about">
    <div class="container">
        <div class="p-3 p-md-5 " >
            <div class="title__section">
                <span>About</span>
                <h2 class="mb-4 mb-md-5">Whisky Hotel</h2>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="about__des text-justify">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga laboriosam consectetur quam provident doloremque nulla natus magni molestias doloribus, voluptates, ab ullam commodi, asperiores vero voluptate illum aut aspernatur repellendus. Eaque veniam
                        cupiditate possimus tenetur distinctio. Accusamus animi minus placeat.</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga laboriosam consectetur quam provident doloremque nulla natus magni molestias doloribus, voluptates, ab ullam commodi, asperiores vero voluptate illum aut aspernatur repellendus. Eaque veniam
                            cupiditate possimus tenetur distinctio. Accusamus animi minus placeat.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about__video">
                        <iframe class="w-100 video-youtube" src="https://www.youtube.com/embed/KAMNsSbRfDQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>

<div class="mt-5">
    <div class="title__section">
        <span>Get Inspired by Whisky Hotel's</span>
        <h2 class="mb-4 mb-md-5">PHOTO GALERY</h2>
    </div>
</div>

<section class="galety  py-4" style="background: #E6E7E8;">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                   sdad
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"  class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid"  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            
           
       </div>
    </div>
</section>   
<div class="mt-5 text-center">
    <a href="#!" class="btn btn-secondary">See more</a>
</div> 

<div class="mt-5">
    <div class="title__section">
        <span>About</span>
        <h2 class="mb-4 mb-md-5">PROJECT HIGHLIGHTS</h2>
    </div>
</div>


<section class="hightights py-5">
    <div class="container">
       <div class="row">
           <div class="col-md-6">
               <div class="hightights__card">
                   <div class="hightights__number">1</div>
                   <div class="hightights_content">
                    Adolfo Suaya, known as a celebrity in the F&B/Entertainment Industry, is an Argentine-American real estate investor, restaurateur, hotelier, and television host.
                   </div>
               </div>
           </div>
           <div class="col-md-6">
            <div class="hightights__card">
                <div class="hightights__number">1</div>
                <div class="hightights_content">
                 Adolfo Suaya, known as a celebrity in the F&B/Entertainment Industry, is an Argentine-American real estate investor, restaurateur, hotelier, and television host.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hightights__card">
                <div class="hightights__number">1</div>
                <div class="hightights_content">
                    High chance of repayment because repayment will occur similar time as the two world events hosted in Los Angeles, 2026 World Cup and the 2028 Olympics, which will increase tourism and hotel occupancy. This will increase revenue and will make the project more viable for refinancing or even a potential sale at peak market.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hightights__card">
                <div class="hightights__number">1</div>
                <div class="hightights_content">
                 Adolfo Suaya, known as a celebrity in the F&B/Entertainment Industry, is an Argentine-American real estate investor, restaurateur, hotelier, and television host.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hightights__card">
                <div class="hightights__number">1</div>
                <div class="hightights_content">
                 Adolfo Suaya, known as a celebrity in the F&B/Entertaielier, and television host.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hightights__card">
                <div class="hightights__number">1</div>
                <div class="hightights_content">
                    High chance of repayment because repayment will occur similar time as the two world events hosted in Los Angeles, 2026 World Cup and the 2028 Olympics, which will increase tourism and hotel occupancy. This will increase revenue and will make the project more viable for refinancing or even a potential sale at peak market.
                </div>
            </div>
        </div>
       </div>
    </div>
</section>

{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}