{% extends 'layouts/application.html' %}{% block bodyClass %}class="dinh-cu-my"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="container py-4 py-md-5">
    <h1 class="title text-uppercase text-center mb-4 mb-md-5">Đối tác của IMM group</h1>
    <section class="mb-4 mb-md-5">
        <h2 class="line-title d-inline-block text-uppercase"><strong>Bất động sản</strong></h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-australian-life-property.jpg" alt="logo-australian-life-property">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-bartra.jpg" alt="logo-bartra">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-cybarco.jpg" alt="logo-cybarco">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-lennar.jpg" alt="logo-lennar">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-M-group.jpg" alt="logo-M-group">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-omnia-group.jpg" alt="logo-omnia-group">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-silverstein-properties.jpg" alt="logo-silverstein-properties">
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4 mb-md-5">
        <h2 class="line-title d-inline-block text-uppercase"><strong>Di trú</strong></h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-arton-capital.jpg" alt="logo-arton-capital">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-canam-enterprise.jpg" alt="logo-canam-enterprise">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-southeast-regional-center.jpg" alt="logo-southeast-regional-center">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-EB5-capital.jpg" alt="logo-EB5-capital">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-jc-associates.jpg" alt="logo-jc-associates">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-md-regional-center.jpg" alt="logo-md-regional-center">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-quasar-advisory-services.jpg" alt="logo-quasar-advisory-services">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-small-world-migration.jpg" alt="logo-small-world-migration">
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4 mb-md-5">
        <h2 class="line-title d-inline-block text-uppercase"><strong>Văn phòng luật</strong></h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-am-sociedade-de-advogados.jpg" alt="logo-am-sociedade-de-advogados">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-andreas-demetriades-co.jpg" alt="logo-andreas-demetriades-co">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-confederation-partners.jpg" alt="logo-confederation-partners">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-darren-silver-associates.jpg" alt="logo-darren-silver-associates">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-fragomen-worldwide.jpg" alt="logo-fragomen-worldwide">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-law-offies-of-robert-p.gaffney.jpg" alt="logo-law-offies-of-robert-p.gaffney">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-mdl-immigration.jpg" alt="logo-mdl-immigration">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-miller-mayer.jpg" alt="logo-miller-mayer">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-omirou-omirou.jpg" alt="logo-omirou-omirou">
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4 mb-md-5">
        <h2 class="line-title d-inline-block text-uppercase"><strong>Tài chính</strong></h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-investment-protection-planning.jpg" alt="logo-investment-protection-planning">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-succession-matching.jpg" alt="logo-succession-matching">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-8th-bridge-capital.jpg" alt="logo-8th-bridge-capital">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-global-pacific-business-management.jpg" alt="logo-global-pacific-business-management">
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4 mb-md-5">
        <h2 class="line-title d-inline-block text-uppercase"><strong>Ngân hàng</strong></h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-ab-bank.jpg" alt="logo-ab-bank">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-BIDV-bank.jpg" alt="logo-BIDV-bank">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-eximbank.jpg" alt="logo-eximbank">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-HDbank.jpg" alt="logo-HDbank">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-MBbank.jpg" alt="logo-MBbank">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-shinhan-bank.jpg" alt="logo-shinhan-bank">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-TPbank.jpg" alt="logo-TPbank">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-VPbank.jpg" alt="logo-VPbank">
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-SHBbank.jpg" alt="logo-SHBbank">
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4 mb-md-5">
        <h2 class="line-title d-inline-block text-uppercase"><strong>Du lịch</strong></h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="partner__item">
                    <img src="../images/partner/logo-viet-4-mua-tour.jpg" alt="logo-viet-4-mua-tour">
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}