{% extends 'layouts/application.html' %}{% block bodyClass %}class="product-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="product-page product-page02">
    <h1 class="my-4 my-md-5 title text-center text-uppercase"><strong>Đầu tư bất động sản lấy quốc tịch síp</strong></h1>
    <section class="banner ">
        <img src="../images/product/banner.jpg" alt="banner">
    </section>
    <section class="advantages mt-4 mt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block">ƯU ĐIỂM</h2>
            <div class="row content-row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/2.png" alt="2">
                            </div>
                            <div class="right-text">
                                <h3>Đảo Síp, một thiên đường du lịch của Liên minh châu Âu đón 4 triệu khách du lịch nghỉ dưỡng mỗi năm (2018) hơn gấp 4 lần dân số của đảo Síp</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/1.png" alt="1">
                            </div>
                            <div class="right-text">
                                <h3>Passport Cộng hòa Síp thuộc khối liên minh châu Âu, hộ chiếu quyền lực đứng thứ 16 trên toàn thế giới</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/3.png" alt="3">
                            </div>
                            <div class="right-text">
                                <h3>Tự do đi lại (hoặc chỉ xin visa điện tử) 172 nước trên toàn thế giới bao gồm Canada, New Zealand, tất cả các nước Châu Âu.v.v</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/5.png" alt="5">
                            </div>
                            <div class="right-text">
                                <h3>Cả gia đình tự do sinh sống, làm việc, đầu tư ở bất kỳ nước nào trong khối Liên minh châu Âu (EU) bao gồm Anh (nếu Brexit không thành công), Đức, Ý, Hà Lan, Pháp, Thụy Điển, Tây Ban Nha, Ireland..v.v.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/6.png" alt="6">
                            </div>
                            <div class="right-text">
                                <h3>Con gái và gia đình hưởng đầy đủ quyền lợi công dân trong 28 nước Liên minh châu Âu (EU): học hành miễn phí, y tế, phúc lợi xã hội, quyền bảo hộ công dân EU v.v.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/4.png" alt="4">
                            </div>
                            <div class="right-text">
                                <h3>Đầu tư thêm 500.000 Euro, lấy thêm quốc tịch cho cả cha & mẹ của đương đơn</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/9.png" alt="9">
                            </div>
                            <div class="right-text">
                                <h3>Con cái phụ thuộc đi theo đến 28 tuổi (vẫn được đi chung hồ sơ)</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/8.png" alt="8">
                            </div>
                            <div class="right-text">
                                <h3>Không giới hạn độ tuổi, không yêu cầu ngoại ngữ, học vấn, trình độ hay kinh nghiệm kinh doanh</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/7.png" alt="7">
                            </div>
                            <div class="right-text">
                                <h3>Hồ sơ xin quốc tịch nhanh chóng từ 8-12 tháng</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/11.png" alt="11">
                            </div>
                            <div class="right-text">
                                <h3>Không yêu cầu sinh sống (tự do đi lại bất kỳ lúc nào)</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/product/10.png" alt="7">
                            </div>
                            <div class="right-text">
                                <h3>Vẫn giữ quốc tịch Việt Nam (song tịch)</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="condition py-4 pt-md-5 mt-4 mt-md-5 bg-dark-gray">
        <div class="container">
            <h2 class="line-title d-inline-block">ĐIỀU KIỆN</h2>
            <div class="border-dark p-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="d-flex mb-md-0 mb-4 align-items-lg-center">
                            <div class="condition__icon"><img class="mx-auto" src="../images/cyprus-flag.png" alt="cyprus-flag"></div>
                            <div class="right-text pl-3">
                                <h3><strong>Lý lịch an ninh trong sạch</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex mb-md-0 mb-4">
                            <div class="condition__icon"><img class="mx-auto" src="../images/cyprus-flag.png" alt="cyprus-flag"></div>
                            <div class="right-text pl-3">
                                <h3><strong>Thực hiện việc đầu tư 2 triệu EUR vào Bất động sản tại Síp, và đóng góp 150.000 EUR vào các cơ quan được chỉ định trực thuộc Chính phủ Síp</strong></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex mb-md-0 align-items-lg-center">
                            <div class="condition__icon"><img class="mx-auto" src="../images/cyprus-flag.png" alt="cyprus-flag"></div>
                            <div class="right-text pl-3">
                                <h3><strong>Diễn giải được nguồn tiền đầu tư</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-4 pt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block">IMM GROUP & CYBARCO</h2>
            <div class="row">
                <div class="col-md-8 mb-4 mb-md-0">
                    <h3 class="mb-4 mb-md-5 font-16"><strong>IMM Group tự hào đại diện độc quyền tập đoàn bất động sản Cybarco tại Việt Nam</strong></h3>
                    <ul>
                        <li>
                            <h4 class="font-weight-light font-16">• Cybarco là tập đoàn gia đình thượng lưu, cùng truyền thống phát triển từ thế kỷ 19 (1896), và tiếp tục bền vững sau 4 thế hệ.</h4>
                        </li>
                        <li>
                            <h4 class="font-weight-light font-16">• Phân khúc chuyên biệt của bất động sản dành cho giới thượng lưu châu Âu</h4>
                        </li>
                        <li>
                            <h4 class="font-weight-light font-16">• Nhà thầu cho các dự án của chính phủ các nước như Anh, Hy Lạp, Emirates of Qatar, Bahrain & Kuwait.</h4>
                        </li>
                        <li>
                            <h4 class="font-weight-light font-16">• Là tập đoàn xây tòa nhà Oval – biểu tượng của đất nước Síp</h4>
                        </li>
                        <li>
                            <h4 class="font-weight-light font-16">• Tập đoàn duy nhất tại Đảo Síp công bố giá bán biệt thự/giá căn hộ trên web thể hiện sự minh bạch và công bằng cho tất cả khách hàng trong và ngoài nước</h4>
                        </li>
                    </ul>
                    <div class="img__slider mt-4">
                        <div class="img__main">
                            <img class="w-100" src="../images/product/toa-nha-oval-sip.jpg" alt="toa-nha-oval-sip">
                        </div>
                        <div class="owl-carousel owl-theme img__slide-bottom4 mt-3">
                            <div class="img__item">
                                <img src="../images/product/thanh-pho-cang-limassol.jpg" alt="thanh-pho-cang-limassol">
                            </div>
                            <div class="img__item">
                                <img src="../images/product/thanh-pho-cang-limasso-dao-sip.jpg" alt="thanh-pho-cang-limasso-dao-sip">
                            </div>
                            <div class="img__item">
                                <img src="../images/product/du-an-cybarco-dao-sip.jpg" alt="du-an-cybarco-dao-sip">
                            </div>
                            <div class="img__item">
                                <img src="../images/product/dau-tu-dinh-cu-dao-sip.jpg" alt="dau-tu-dinh-cu-dao-sip">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="mx-auto" src="../images/giay-chung-nhan-imm-group-dai-dien-doc-quyen-cybarco-viet-nam.png" alt="giay-chung-nhan-imm-group-dai-dien-doc-quyen-cybarco-viet-nam">
                    <h4 class="font-16 mt-4 text-center">Giấy chứng nhận IMM Group là đại diện độc quyền của Cybarco tại Việt Nam</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="project mt-4 mt-md-5 py-4 py-md-5">
        <div class="skew-bg bg-ED"></div>
        <div class="container">
            <div class="project__detail ">
                <div class="row no-gutters mb-3">
                    <div class="col-md-4">
                        <div class="project__name-wrap font-commerceB">
                            <div class="row">
                                <div class="col-3 text-center pr-0">
                                    <h2 class="project__number">01</h2>
                                </div>
                                <div class="col-9">
                                    <h2 class="project__name">Dự án nổi bật Marina Villas - Biệt thự marina <br> giá từ: 2,6 triệu eur</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img src="../images/product/du-an-marina-villars.jpg" alt="du-an-marina-villars">
                    </div>
                </div>
                <div class="project__slider-img owl-carousel mb-3">
                    <div class="img__item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="img__item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="img__item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="img__item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="img__item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-md-8">
                        <iframe class="w-100" height="400" src="https://www.youtube.com/embed/MkkzP3bq60I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="project pt-4 pt-md-5">
        <div class="container">
            <div class="project__detail mb-5">
                <div class="row no-gutters mb-3">
                    <div class="col-md-4">
                        <div class="project__name-wrap-style02 font-commerceB">
                            <div class="row">
                                <div class="col-3 text-center pr-0">
                                    <h2 class="project__number">02</h2>
                                </div>
                                <div class="col-9">
                                    <h2 class="project__name text-primary mb-2 mb-lg-4">DỰ ÁN <br> MARINA CASTLE</h2>
                                    <h3 class="project__name">CĂN HỘ THUỘC KHU LÂU ĐÀI MARINA <br>GIÁ TỪ : 2 TRIỆU EUR</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img src="../images/product/du-an-marina-castle.jpg" alt="du-an-marina-castle">
                    </div>
                </div>
                <div class="project__slider-img owl-carousel mb-3">
                    <div class="img__item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="img__item"><img src="../images/product/du-an-marina-villars02.jpg" alt="du-an-marina-villars01"></div>
                    <div class="img__item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="img__item"><img src="../images/product/du-an-marina-villars02.jpg" alt="du-an-marina-villars01"></div>
                    <div class="img__item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-md-8">
                        <iframe class="w-100" height="400" src="https://www.youtube.com/embed/MkkzP3bq60I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="project__detail ">
                <div class="row no-gutters mb-3">
                    <div class="col-md-4">
                        <div class="project__name-wrap-style02 font-commerceB">
                            <div class="row">
                                <div class="col-3 text-center pr-0">
                                    <h2 class="project__number">03</h2>
                                </div>
                                <div class="col-9">
                                    <h2 class="project__name text-primary mb-2 mb-lg-4">DỰ ÁN <br> trilogy</h2>
                                    <h3 class="project__name">CĂN HỘ CAO CẤP THUỘC DỰ ÁN CHUNG CƯ KHU TRUNG TÂM <br>GIÁ TỪ : 940.000 EUR</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img src="../images/product/du-an-marina-castle.jpg" alt="du-an-marina-castle">
                    </div>
                </div>
                <div class="project__slider-img owl-carousel mb-3">
                    <div class="img__item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="img__item"><img src="../images/product/du-an-marina-villars02.jpg" alt="du-an-marina-villars01"></div>
                    <div class="img__item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-md-8">
                        <iframe class="w-100" height="400" src="https://www.youtube.com/embed/MkkzP3bq60I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}