{% extends 'layouts/application.html' %}{% block bodyClass %}class="product-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="product-page">
    <h1 class="my-4 my-md-5 title text-center text-uppercase"><strong>visa diện đầu tư trọng yếu 888c</strong></h1>
    <!-- Banner -->
    <section class="banner ">
        <div class="row no-gutters align-items-center banner__row">
            <div class="col-md-6 pl-md-4">
                <img src="../images/australia/Banner_888C_1.png" alt="Banner_888C_1">
            </div>
            <div class="col-md-6">
                <img src="../images/australia/Banner_888C_2.png" alt="Banner_888C_2">
            </div>
        </div>
    </section>
    <section class="mt-4 mt-md-5 ">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-6">
                    <h2 class="line-title d-inline-block text-uppercase">VISA 888C LÀ GÌ?</h2>
                    <ul class="mb-5">
                        <li class="mb-3"><strong>• Visa định cư vĩnh viễn Úc dành cho Nhà đầu tư đã có <a href="./page-visa-doanh-nhan-188C.html">Visa 188C</a> (visa định cư Úc diện Đầu tư Trọng yếu) để tiếp tục duy trì hoạt động đầu tư/ kinh doanh tại nước Úc.</strong></li>
                        <li><strong>• Vợ/chồng và con cái sẽ cùng được cấp Visa với đương đơn.</strong></li>
                    </ul>
                    <p>
                        <button class="btn">Đánh giá hồ sơ miễn phí</button>
                    </p>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>
    <section class="mt-4 mt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block text-uppercase">quyền lợi</h2>
            <div class="row content-row">
                <div class="col-md-6 col-xl-3 mb-4 mb-md-4 mb-xl-0">
                    <div class="text-center bg-gray">
                        <div class="top-text content_1">
                            <h3>Cả gia đình được tự do sinh sống, học tập, làm việc và kinh doanh ở bất kỳ Bang nào tại Úc.</h3>
                        </div>
                        <div class="bottom-img content_2">
                            <img class="w-100" src="../images/australia/Selling-points-1.png" alt="Selling-points-1">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 mb-4 mb-md-4 mb-xl-0">
                    <div class="text-center bg-gray">
                        <div class="top-text content_1">
                            <h3>Được hưởng đầy đủ phúc lợi về y tế, an sinh xã hội và giáo dục như công dân Úc.</h3>
                        </div>
                        <div class="bottom-img content_2">
                            <img class="w-100" src="../images/australia/Selling-points-2.png" alt="Selling-points-2">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 mb-4 mb-md-0">
                    <div class="text-center bg-gray">
                        <div class="top-text content_1">
                            <h3>Được tự do đi lại giữa Việt Nam và Úc.</h3>
                        </div>
                        <div class="bottom-img content_2">
                            <img class="w-100" src="../images/australia/Selling-points-3.png" alt="Selling-points-3">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="text-center bg-gray">
                        <div class="top-text content_1">
                            <h3>Được nhập quốc tịch Úc khi thỏa điều kiện.</h3>
                        </div>
                        <div class="bottom-img content_2">
                            <img class="w-100" src="../images/australia/Selling-points-4.png" alt="Selling-points-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="condition py-4 py-md-5 mt-4 mt-md-5 bg-dark-gray">
        <div class="container">
            <h2 class="line-title d-inline-block">ĐIỀU KIỆN</h2>
            <p class="text-secondary font-weight-bold">Đương đơn phải thỏa các yêu cầu:</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex mb-4">
                        <div class="condition__icon"><img class="mx-auto" src="../images/australia/flag-uc.png" alt="flag-uc"></div>
                        <div class="right-text pl-3">
                            <h3>Duy trì khoản đầu tư theo <a href="./page-visa-dien-dau-tu-trong-yeu-188C.html"><u> <strong>Visa 188C</strong> </u></a> đến thời điểm nộp hồ sơ</h3>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div class="condition__icon"><img class="mx-auto" src="../images/australia/flag-uc.png" alt="flag-uc"></div>
                        <div class="right-text pl-3">
                            <h3>TĐương đơn phải sống tối thiểu 40 ngày/năm hoặc vợ/chồng của đương đơn phải sống tối thiểu 180 ngày/năm, trong 4 năm giữ <a href="./page-visa-dien-dau-tu-trong-yeu-188C.html"><u><strong>Visa 188C</strong></u></a>.</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex mb-4 align-items-xl-center">
                        <div class="condition__icon"><img class="mx-auto" src="../images/australia/flag-uc.png" alt="flag-uc"></div>
                        <div class="right-text pl-3">
                            <h3>Tuân thủ luật pháp, không tham gia vào các hoạt động phạm pháp</h3>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div class="condition__icon"><img class="mx-auto" src="../images/australia/flag-uc.png" alt="flag-uc"></div>
                        <div class="right-text pl-3">
                            <h3>Có nguyện vọng tiếp tục hoạt động kinh doanh hoặc đầu tư tại Úc</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-4 mt-md-5 process">
        <div class="container">
            <h2 class="line-title d-inline-block">QUY TRÌNH</h2>
            <div class="process__wrap">
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_thanh-lap-cty-con.png" alt="icon_thanh-lap-cty-con">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 1</span>
                        </div>
                        <div class="process__des">
                            <h3>Duy trì khoản đầu tư theo chương trình 188C và thỏa các điều kiện khác theo quy định</h3>
                        </div>
                    </div>
                </div>
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_van-hanh-doanh-nghiep-hieu-qua.png" alt="icon_van-hanh-doanh-nghiep-hieu-qua">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 2</span>
                        </div>
                        <div class="process__des">
                            <h3>Tổng hợp thông tin và nộp hồ sơ xin Visa</h3>
                        </div>
                    </div>
                </div>
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_tham-dinh-va-danh-gia-ho-so.png" alt="icon_tham-dinh-va-danh-gia-ho-so">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 3</span>
                        </div>
                        <div class="process__des">
                            <h3>Được cấp Visa 888C</h3>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-5">
                <button class="btn">Đánh giá hồ sơ miễn phí</button>
            </p>
        </div>
    </section>
</div>
<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}