{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-EN"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<section id="slider" class="slideshow carousel slide" data-ride="carousel">
    <div class="slideshow__controler">
        <div class="slideshow__controler-panel">
            <a class="carousel-control-prev slideshow__control" href="#slider" data-slide="prev">
                <span class="carousel-control-prev-icon"><i class="icon-prev arrow_carrot-left_alt2"></i></span>
            </a>
            <ul class="carousel-indicators">
                <!-- Indicators -->
                <li data-target="#slider" data-slide-to="0" class="active"></li>
                <li data-target="#slider" data-slide-to="1"></li>
                <li data-target="#slider" data-slide-to="2"></li>
            </ul>
            <a class="carousel-control-next slideshow__control" href="#slider" data-slide="next">
                <span class="carousel-control-next-icon"><i class="icon-prev arrow_carrot-right_alt2"></i></span>
            </a>
        </div>
    </div>
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100 d-none d-md-block" src="../images/banner-100.jpg" alt="Los Angeles">
            <img class="w-100 d-md-none" src="../images/banner-100-mb.jpg" alt="banner-100-mb">
        </div>
        <div class="carousel-item">
            <img class="w-100 d-none d-md-block" src="../images/banner-100.jpg" alt="Chicago">
            <img class="w-100 d-md-none" src="../images/banner-100-mb.jpg" alt="banner-100-mb">
        </div>
        <div class="carousel-item">
            <img class="w-100 d-none d-md-block" src="../images/banner-100.jpg" alt="New York">
            <img class="w-100 d-md-none" src="../images/banner-100-mb.jpg" alt="banner-100-mb">
        </div>
    </div>
</section>
<section class="py-4 py-md-5">
    <div class="container">
        <h2 class="line-title d-inline-block">WHAT WE DO?</h2>
        <div class="row mb-4">
            <div class="col-lg-8">IMM Group was established in Jan, 2005. Vietnamese leading business in consultancy investment for permanent residency and citizenship.</div>
        </div>
        <div class="row content-row">
            <div class="col-md-6">
                <div class="border-dark">
                    <div class="px-4 pt-3 content_1">
                        <h3 class="line-title-w-number-no-line text-primary"><span class="title__number">1. </span><span class="title__text"> Global Immigration Investment & Family Wealth Management </span></h3>
                        <div class="mb-3 content-ul">
                            <ul>
                                <li>Investment consultancy services for second citizenship & permanent residency in USA, Australia, Canada, Europe, and other regions;</li>
                                <li>Investment consultancy services for second citizenship & permanent residency in USA, Australia, Canada, Europe, and other regions;</li>
                                <li>Making financial family succession plan. </li>
                            </ul>
                        </div>
                        <p class="link-icon"><a class="black-link01" style="font-weight: 500;" href="javascript:void(0);">See IMM Group list of services</a><i class="arrow_carrot-right"></i></p>
                    </div>
                    <img class="w-100" src="../images/home_EN/IMM-what-we-do-01.jpg" alt="IMM-what-we-do-01">
                </div>
            </div>
            <div class="col-md-6">
                <div class="border-dark">
                    <div class="px-4 pt-3 content_1">
                        <h3 class="line-title-w-number-no-line text-primary"><span class="title__number">2. </span><span class="title__text"> Foreign Direct Investment into Vietnam </span></h3>
                        <div class="mb-3">
                            FDI Services by IMM Group. Consult about procedures of Foreign Direct investment into Vietnam. Connect with local businesses for acquisitions, mergers.
                        </div>
                        <p class="link-icon"><a class="black-link01" style="font-weight: 500;" href="javascript:void(0);">Discover IMM FDI Services</a><i class="arrow_carrot-right"></i></p>
                    </div>
                    <img class="w-100" src="../images/home_EN/IMM-what-we-do-02.jpg" alt="IMM-what-we-do-01">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1 class="line-title d-inline-block">IMM GROUP PRODUCTS AND SERVICES</h1>
        <div class="service__info">
            <div class="row no-gutters border-dark">
                <div class="col-md-6">
                    <img src="../images/US/america-banner.png" alt="america-banner">
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="w-75">
                        <h3 class="text-primary">USA IMMIGRATION</h3>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed a nisi explicabo veritatis quidem inventore est dolorem quasi quibusdam provident.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters grid-list" style="margin-top:-1px">
                <div class="col-md-3 border-dark service__hover">
                    <div class="p-4">
                        <a href="javascript:void(0);">
                            <div class="service__name mb-3">
                                <h4 class="mb-2">Visa EB-5</h4>
                                <h5 class="mb-0">Immigrant Nomine Program</h5>
                            </div>
                            <div>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque sint possimus repudiandae ut ducimus facilis velit neque earum cum animi!
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 border-dark service__hover">
                    <div class="p-4">
                        <a href="javascript:void(0);">
                            <h4>Visa L-1A</h4>
                            <div>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque sint possimus repudiandae ut ducimus facilis velit neque earum cum animi!
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 border-dark service__hover">
                    <div class="p-4">
                        <a href="javascript:void(0);">
                            <h4>Visa E-2</h4>
                            <div>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque sint possimus repudiandae ut ducimus facilis velit neque earum cum animi!
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 border-dark service__hover">
                    <div class="p-4">
                        <a href="javascript:void(0);">
                            <h4>Visa EB-1C</h4>
                            <div>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque sint possimus repudiandae ut ducimus facilis velit neque earum cum animi!
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}