{% extends 'layouts/application.html' %}{% block bodyClass %}class="visa-kinh-doanh-E-2"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="product-page">
    <h1 class="my-4 mb-0 my-md-5 title text-center text-uppercase"><strong>ĐỊNH CƯ MỸ EB-5</strong></h1>
    <!-- Banner -->
    <section class="banner ">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src="../images/US/EB-1C/Banner-EB-1C.png" alt="Banner-EB-1C">
            </div>
            <div class="col-md-6">
                <img src="../images/US/EB-1C/Banner-EB-1C-1.png" alt="Banner-EB-1C">
            </div>
        </div>
    </section>
    <section class="mt-4 mt-md-5 ">
        <div class="container">
            <p class="text-center mb-4 mb-md-5">
                Bắt đầu từ ngày 21/11/2019 (giờ Mỹ) luật mới EB-5 bắt đầu có hiệu lực. Theo đó chương trình yêu cầu vốn đầu tư tăng lên 900.000 USD thay vì 500.000 USD như trước đây. Xem thêm đầy đủ: <a href="https://www.immigration.com.vn/tin-tuc-di-tru/900-000usd-la-muc-dau-tu-eb-5-moi-ap-dung-tu-21112019/"><strong> Tại đây</strong></a>
            </p>
            <div class="row align-items-start">
                <div class="col-md-7">
                    <h2 class="line-title d-inline-block text-uppercase">VISA EB-5 LÀ GÌ?</h2>
                    <ul class="mb-5">
                        <li class="mb-3"><strong>• EB-5 là chương trình đầu tư định cư Mỹ dành cho các nhà đầu tư nước ngoài muốn lấy thẻ xanh cho cả gia đình. Thông qua EB-5, vợ/ chồng cùng các con chưa kết hôn dưới 21 tuổi của nhà đầu tư sẽ được cấp thẻ xanh và hưởng đầy đủ quyền thường trú nhân của Mỹ.</strong></li>

                    </ul>
                    <p>
                        <button class="btn">Đánh giá hồ sơ miễn phí</button>
                    </p>
                </div>
                <div class="col-md-5 mt-4 mt-md-0">
                    <iframe class="m-auto w-100" height="300" src="https://www.youtube.com/embed/ETaPqLiKAkE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-4 mt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block text-uppercase">Lợi ích</h2>
            <div class="row content-row">
                <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                    <div class="text-center bg-gray">
                        <div class="top-text content_1">
                            <h3>Được hưởng đầy đủ quyền lợi như một công dân Mỹ bao gồm nền giáo dục tiên tiến</h3>
                        </div>
                        <div class="bottom-img content_2">
                            <img class="w-100" src="../images/US/EB-1C/american-passport.png" alt="american-passport">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                    <div class="text-center bg-gray">
                        <div class="top-text content_1">
                            <h3>Thẻ xanh cho cả gia đình</h3>
                        </div>
                        <div class="bottom-img content_2">
                            <img class="w-100" src="../images/US/EB-1C/con-cai-duoc-hoc-truong-cong-mien-phi.png" alt="con-cai-duoc-hoc-truong-cong-mien-phi">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ">
                    <div class="text-center bg-gray">
                        <div class="top-text content_1">
                            <h3>Cơ hội nhập quốc tịch mỹ</h3>
                        </div>
                        <div class="bottom-img content_2">
                            <img class="w-100" src="../images/US/EB-1C/cap-the-xanh-cho-ca-gia-dinh.jpg" alt="cap-the-xanh-cho-ca-gia-dinh">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="condition py-4 py-md-5 mt-4 mt-md-5 bg-dark-gray">
        <div class="container">
            <h2 class="line-title d-inline-block">ĐIỀU KIỆN</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex mb-3 align-items-xl-center">
                        <div class="condition__icon"><img class="mx-auto" src="../images/US/E-2/america-flag.png" alt="america-flag"></div>
                        <div class="right-text pl-3">
                            <h3>Đầu tư 900.000 USD vào 1 dự án thoả điều kiện theo chương trình.</h3>
                        </div>
                    </div>
                    <div class="d-flex mb-3 mb-3 align-items-xl-center">
                        <div class="condition__icon"><img class="mx-auto" src="../images/US/E-2/america-flag.png" alt="america-flag"></div>
                        <div class="right-text pl-3">
                            <h3>Chứng minh số tiền đầu tư 900.000 USD có nguồn gốc hợp pháp.</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex mb-3">
                        <div class="condition__icon"><img class="mx-auto" src="../images/US/E-2/america-flag.png" alt="america-flag"></div>
                        <div class="right-text pl-3">
                            <h3>Chứng minh việc đầu tư 900.000 USD sẽ tạo ra 10 việc làm toàn thời gian cho người bản xứ.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-4 mt-md-5 process">
        <div class="container">
            <h2 class="line-title d-inline-block">QUY TRÌNH</h2>
            <div class="process__wrap">
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_thanh-lap-cty-con.png" alt="icon_thanh-lap-cty-con">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 1</span>
                        </div>
                        <div class="process__des">
                            <h3>Hồ sơ I-526</h3>
                            <ul>
                                <li>• Chuẩn bị và nộp hồ sơ I-526: <strong>1,5 - 2 tháng</strong></li>
                                <li>• Chờ kết quả chấp thuận I-526: <strong>20 - 26 tháng</strong> (thay đổi theo Sở Di Trú theo thời gian)</li>
                                <li>• Chờ phỏng vấn - Nhận Visa định cư: (tùy theo tình hình hạn mức visa tại thời điểm đó)</li>
                                <li>• Sang Mỹ nhận thẻ xanh có điều kiện</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_van-hanh-doanh-nghiep-hieu-qua.png" alt="icon_van-hanh-doanh-nghiep-hieu-qua">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 2</span>
                        </div>
                        <div class="process__des">
                            <h3>HỒ SƠ I-829</h3>
                            <ul>
                                <li>• Đã sở hữu thẻ xanh có điều kiện được 21 tháng</li>
                                <li>• Nộp hồ sơ xin xóa điều kiện I-829</li>
                                <li>• Chờ xóa điều kiện thẻ xanh:<b> 24 - 25 tháng </b>(thay đổi theo Sở Di Trú theo từng thời điểm)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_tham-dinh-va-danh-gia-ho-so.png" alt="icon_tham-dinh-va-danh-gia-ho-so">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 3</span>
                        </div>
                        <div class="process__des">
                            <h3>Hoàn vốn</h3>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-5">
                <button class="btn">Đánh giá hồ sơ miễn phí</button>
            </p>
        </div>
    </section>
</div>
<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}