{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<section class="py-5 bg-white">
    <div class="container">
        <h1 class="mb-4 title text-center "><strong>ĐẦU TƯ ĐỊNH CƯ ÚC</strong></h1>
        <p class="text-justify">Với chính sách an sinh xã hội vượt trội, Úc có những thành phố đáng sống nhất thế giới. Xứ sở chuột túi cũng thu hút những nhà đầu tư có năng lực kinh doanh và tài chính qua chương trình đầu tư định cư Úc. Có nhiều lựa chọn với yêu cầu và mức
            đầu tư khác nhau.</p>
        <p class="text-justify"><a href="#!"><strong>IMM Group</strong></a>: Đầu tư định cư Úc mở ra cơ hội cho các doanh nhân cùng gia đình đến quốc gia này để sinh sống, làm việc và học tập. Hình thức là thành lập hoặc đầu tư vào doanh nghiệp, vào trái phiếu Chính phủ hay
            quỹ đầu tư Úc. Mức đầu tư từ 3,2 tỷ đồng (200.000AUD). Thời gian thụ lý hồ sơ tối thiểu là 6 tháng. Cả gia đình sẽ có visa tạm trú hoặc thường trú nhân Úc. Khi thỏa các điều kiện về cư trú, cả gia đình có thể xin nhập tịch Úc.</p>
        <p class="text-center video-content"><iframe style="max-width: 90%;" width="100%" height="" src="https://www.youtube.com/embed/AAltO1BRFfE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></p>
        <p class="text-justify">Các chương trình đầu tư định cư Úc phổ biến hiện nay là: <a class="text-default font-weight-bold" href="https://www.immigration.com.vn/dinh-cu-uc/visa-doanh-nhan-188a-888a/">188A</a>, <a class="text-default font-weight-bold" href="https://www.immigration.com.vn/dinh-cu-uc/visa-dien-dau-tu-trai-phieu-188b-888b/">188B</a>,
            <a class="text-default font-weight-bold" href="https://www.immigration.com.vn/dinh-cu-uc/visa-dau-tu-trong-yeu-188c-888c/">188C</a> và <a class="text-default font-weight-bold" href="https://www.immigration.com.vn/dinh-cu-uc/visa-doanh-nhan-tai-nang-132a/">132</a>.
            Để cân nhắc về khả năng và nhu cầu, mời quý nhà đầu tư xem bảng so sánh chi tiết dưới đây:</p>
    </div>
</section>
<section class="main-banner">
    <img src="../images/australia/australia-banner.jpg" alt="australia-banner">
</section>
<section class="py-4 py-md-5 compare__country ">
    <div class="container">
        <h2 class="line-title d-inline-block mb-4 mb-md-5">LỰA CHỌN CHƯƠNG TRÌNH ĐẦU TƯ ÚC PHÙ HỢP</h2>
        <div class="row content-row">
            <div class="col-md-6 col-lg-5 my-4 mb-md-5 ">
                <div class="compare__img text-center">
                    <a href="/dinh-cu-uc/visa-doanh-nhan-188a-888a.html" class="d-inline-block bg-white">
                        <img class="border-dark" src="../images/australia/188A.png" alt="visa-uc-188A">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="/dinh-cu-uc/visa-doanh-nhan-188a-888a.html">Visa doanh nhân 188A</a></h3>
                </div>
                <div class="row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>3,2 tỷ đồng (200.000AUD)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy visa tạm trú Úc. Lên thường trú nhân khi thỏa các điều kiện về kinh doanh tại Úc</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có visa</h4>
                            <ul class="compare__list pl-3">
                                <li>23-25 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Đối tượng</h4>
                            <ul class="compare__list pl-3">
                                <li>Dưới 55 tuổi</li>
                                <li>Chủ doanh nghiệp hoặc cổ đông góp vốn có tham gia quản lý công ty</li>
                                <li>Sở hữu và điều hành doanh nghiệp ít nhất 3 năm (năm tài chính Việt Nam)</li>
                                <li>Sở hữu tổng tài sản cá nhân và công ty với giá trị khoảng 12,7 tỷ đồng (800.000AUD)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư/ Yêu cầu</h4>
                            <ul class="compare__list pl-3">
                                <li>Thành lập hoặc đầu tư vào một công ty tại Úc</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhà đầu tư cùng vợ/chồng và con dưới 23 tuổi được cấp quyền tạm trú Úc</li>
                                <li>Cả gia đình có thể sinh sống, làm việc và học tập tại Úc</li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT</li>
                                <li>Sau khi thỏa điều kiện về kinh doanh và cư trú (đương đơn chính sống ở Úc tối thiểu 2 năm trong 4 năm), cả gia đình được nộp hồ sơ xin thường trú vĩnh viễn. Lúc này, cả gia đình sẽ được hưởng mọi phúc lợi y tế, giáo dục,
                                    an sinh xã hội… (trừ quyền bầu cử)</li>
                                <li>Sau tối thiểu 4 năm cư trú ở Úc, trong đó gồm 1 năm là cư dân thường trú (không vắng mặt ở Úc quá 1 năm trong 4 năm trước ngày nộp đơn, riêng 1 năm trước ngày nộp đơn không vắng mặt ở Úc 90 ngày), nhà đầu tư và gia đình
                                    có thể nộp đơn xin nhập quốc tịch Úc. Khi có quốc tịch Úc, nhà đầu tư sẽ có đầy đủ quyền công dân và được miễn thị thực đến 167 nước trên thế giới.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_7 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Ưu điểm</h4>
                            <ul class="compare__list pl-3">
                                <li>Là chương trình đầu tư <strong>định cư Úc với hạn mức đầu tư thấp nhất</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_8 ">
                            <h4 class="compare__title text-blue">Hạn chế</h4>
                            <ul class="compare__list pl-3">
                                <li>Chỉ dành cho những doanh nhân đang sở hữu hay góp vốn vào doanh nghiệp đã hoạt động ít nhất 3 năm tài chính</li>
                                <li>Chỉ phù hợp với các doanh nhân có khả năng giao tiếp tiếng anh nhất định</li>
                                <li>Phải sang Úc và vận hành doanh nghiệp thật</li>
                                <li>Phải ở Úc 2 trong 4 năm trước khi nộp hồ sơ xin thường trú nhân.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-2"></div>
            <div class="col-md-6 col-lg-5 my-4 mb-md-5 ">
                <div class="compare__img text-center">
                    <a href="/dinh-cu-uc/visa-doanh-nhan-188a-888a.html" class="d-inline-block bg-white">
                        <img class="border-dark" src="../images/australia/188A.png" alt="visa-uc-188A">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="/dinh-cu-uc/visa-doanh-nhan-188a-888a.html">Visa diện đầu tư trái phiếu 188B</a></h3>
                </div>
                <div class="row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>23,8 tỷ đồng (1,5 triệu AUD)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy visa tạm trú Úc. Lên thường trú nhân sau 4 năm khi khoản đầu tư đáo hạn</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có visa</h4>
                            <ul class="compare__list pl-3">
                                <li>23-25 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Đối tượng</h4>
                            <ul class="compare__list pl-3">
                                <li>Dưới 55 tuổi</li>
                                <li>Doanh nhân có kinh nghiệm kinh doanh hoặc đầu tư, năng lực tài chính cao</li>
                                <li>Sở hữu và quản lý điều hành ít nhất 10% cổ phần công ty hoặc quản lý vốn đầu tư tối thiểu 1,5 triệu AUD trong ít nhất 3 năm (năm tài chính Việt Nam)</li>
                                <li>Sở hữu tổng tài sản cá nhân và công ty với giá trị khoảng 36 tỷ đồng (2.250.000 AUD) ít nhất trong 2 năm tính đến trước ngày nộp đơn xin định cư.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư/ Yêu cầu</h4>
                            <ul class="compare__list pl-3">
                                <li>Đầu tư vào trái phiếu Chính phủ Úc và duy trì khoản đầu tư trong 4 năm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhà đầu tư sẽ nhận được lãi suất đều đặn 6 tháng/1 lần</li>
                                <li>Nhà đầu tư cùng vợ/chồng và con dưới 23 tuổi được cấp quyền tạm trú Úc</li>
                                <li>Cả gia đình có thể sinh sống, làm việc và học tập tại Úc</li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT</li>
                                <li>Sau 4 năm trái phiếu đáo hạn và thỏa điều kiện về cư trú(đương đơn chính hoặc vợ/chồng sống tối thiểu 2 năm trong thời gian 4 năm đầu tư trái phiếu), cả gia đình được nộp hồ sơ xin thường trú vĩnh viễn.</li>
                                <li>Sau tối thiểu 4 năm cư trú ở Úc, trong đó gồm 1 năm là cư dân thường trú (không vắng mặt ở Úc quá 1 năm trong 4 năm trước ngày nộp đơn, riêng 1 năm trước ngày nộp đơn không vắng mặt ở Úc 90 ngày), nhà đầu tư và gia đình
                                    có thể nộp đơn xin nhập quốc tịch Úc.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_7 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Ưu điểm</h4>
                            <ul class="compare__list pl-3">
                                <li>Hình thức đầu tư tuyệt đối an toàn vì khoản đầu tư được đảm bảo bởi Chính phủ của tiểu bang</li>
                                <li>Điều kiện dễ dàng hơn các chương trình khác, nhà đầu tư không bị ràng buộc về việc kinh doanh.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_8 ">
                            <h4 class="compare__title text-blue">Hạn chế</h4>
                            <ul class="compare__list pl-3">
                                <li>Khoản đầu tư phải được duy trì trong 4 năm</li>
                                <li>Phải ở Úc 2 trong 4 năm trước khi nộp hồ sơ xin thường trú nhân.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6 col-lg-5 my-4 mb-md-5 ">
                <div class="compare__img text-center">
                    <a href="/dinh-cu-uc/visa-dau-tu-trong-yeu-188c-888c.html" class="d-inline-block bg-white">
                        <img class="border-dark" src="../images/australia/188C.png" alt="visa-uc-188C">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="/dinh-cu-uc/visa-dau-tu-trong-yeu-188c-888c.html">Visa đầu tư trọng yếu 188C</a></h3>
                </div>
                <div class="row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>79,4 tỷ đồng (5 triệu AUD)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy visa tạm trú Úc. Lên thường trú nhân sau 4 năm khi khoản đầu tư đáo hạn</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có visa</h4>
                            <ul class="compare__list pl-3">
                                <li>6-9 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Đối tượng</h4>
                            <ul class="compare__list pl-3">
                                <li>Doanh nhân có năng lực tài chính rất lớn</li>
                                <li>Tổng giá trị tài sản đạt tối thiểu 79,4 tỷ đồng (5 triệu AUD)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư/ Yêu cầu</h4>
                            Duy trì trong 4 năm các khoản đầu tư sau:
                            <ul class="compare__list pl-3">
                                <li>Tối thiểu 8 tỷ đồng (500.000AUD) vào quỹ đầu tư mạo hiểm Úc hoặc các quỹ đầu tư phát triển tư nhân mà các quỹ này đầu tư vào các công ty khởi nghiệp hoặc các công ty nhỏ</li>
                                <li>Tối thiểu 23,8 tỷ đồng (1,5 triệu AUD) vào các quỹ đầu tư quản lý được chấp thuận. Quỹ có thể đầu tư vào các hạng mục tài sản, bao gồm công ty được niêm yết trên sàn chứng khoán, trái phiếu doanh nghiệp, bất động sản thương
                                    mại
                                </li>
                                <li>Tối thiểu 47,6 tỷ đồng (3 triệu AUD) vào các quỹ đầu tư cân bằng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhận lãi suất từ các quỹ đầu tư mà không cần tham gia quản lý trực tiếp</li>
                                <li>Nhà đầu tư cùng vợ/chồng và con dưới 23 tuổi được cấp quyền tạm trú Úc</li>
                                <li>Cả gia đình có thể sinh sống, làm việc và học tập tại Úc</li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT</li>
                                <li>Sau 4 năm duy trì khoản đầu tư và thỏa điều kiện về cư trú (nhà đầu tư sống tối thiểu 40 ngày/năm ở Úc hoặc vợ/chồng sống tối thiểu 180 ngày/năm), nhà đầu tư và gia đình được nộp hồ sơ xin thường trú vĩnh viễn.</li>
                                <li>Sau tối thiểu 4 năm cư trú ở Úc, trong đó gồm 1 năm là cư dân thường trú (không vắng mặt ở Úc quá 1 năm trong 4 năm trước ngày nộp đơn, riêng 1 năm trước ngày nộp đơn không vắng mặt ở Úc 90 ngày), nhà đầu tư và gia đình
                                    có thể nộp đơn xin nhập quốc tịch Úc.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_7 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Ưu điểm</h4>
                            <ul class="compare__list pl-3">
                                <li>Chương trình đầu tư định cư Úc duy nhất không giới hạn độ tuổi và không yêu cầu thang điểm di trú</strong>
                                </li>
                                <li>Không cần lưu trú thường xuyên ở Úc để đủ điều kiện lấy thường trú nhân.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_8 ">
                            <h4 class="compare__title text-blue">Hạn chế</h4>
                            <ul class="compare__list pl-3">
                                <li>Mức đầu tư lớn và có rủi ro. Khoản đầu tư phải được duy trì trong 4 năm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-2"></div>
            <div class="col-md-6 col-lg-5 my-4 mb-md-5 ">
                <div class="compare__img text-center">
                    <a href="/dinh-cu-uc/visa-doanh-nhan-tai-nang-132a.html" class="d-inline-block bg-white">
                        <img class="border-dark" src="../images/australia/132A.png" alt="visa-uc-132A">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="/dinh-cu-uc/visa-doanh-nhan-tai-nang-132a.html">Visa doanh nhân tài năng 132</a></h3>
                </div>
                <div class="row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>31,8 tỷ đồng (2 triệu AUD)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy thường trú nhân Úc, hưởng đầy đủ quyền lợi về y tế, giáo dục, an sinh xã hội… như công dân Úc, trừ quyền bầu cử. Được phép gia hạn sau mỗi 5 năm hoặc nhập tịch Úc nếu đáp ứng đủ điều kiện</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có visa</h4>
                            <ul class="compare__list pl-3">
                                <li>23-25 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Đối tượng</h4>
                            <ul class="compare__list pl-3">
                                <li>Dưới 55 tuổi</li>
                                <li>Chủ doanh nghiệp có kinh nghiệm điều hành, quản lý xuất sắc. Doanh nghiệp hoạt động hiệu quả, đạt doanh thu cao (ít nhất 2 trong 4 năm trước ngày nộp đơn, doanh thu của 1 hoặc 2 công ty cộng lại đạt tối thiểu 47,6 tỷ đồng
                                    (3 triệu AUD)</li>
                                <li>Tổng giá trị tài sản đạt tối thiểu 23,8 tỷ đồng (1,5 triệu AUD).</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư/ Yêu cầu</h4>
                            <ul class="compare__list pl-3">
                                <li>Thành lập hoặc đầu tư vào một công ty tại Úc</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhà đầu tư cùng vợ/chồng và con dưới 23 tuổi được cấp thường trú nhân Úc</li>
                                <li>Cả gia đình hưởng đầy đủ quyền lợi y tế, giáo dục, an sinh xã hội…</li>
                                <li>Cả gia đình có thể sinh sống, làm việc và học tập tại Úc</li>
                                <li>Được đăng ký hệ thống chăm sóc sức khỏe Medicare của Chính phủ Úc. Người có thẻ Medicare sẽ được hỗ trợ chi phí các dịch vụ y tế như: mua thuốc giá thấp, điều trị và ăn ở miễn phí tại các bệnh viện công</li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT. Học đại học, cao học với mức phí như người bản xứ</li>
                                <li>Sau tối thiểu 4 năm cư trú ở Úc, không vắng mặt ở Úc quá 1 năm trong 4 năm trước ngày nộp đơn, riêng 1 năm trước ngày nộp đơn không vắng mặt ở Úc 90 ngày; nhà đầu tư và gia đình có thể nộp đơn xin nhập quốc tịch Úc.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_7 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Ưu điểm</h4>
                            <ul class="compare__list pl-3">
                                <li><strong>Là visa định cư thường trú nhân chính thức, không phải visa định cư tạm</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_8 ">
                            <h4 class="compare__title text-blue">Hạn chế</h4>
                            <ul class="compare__list pl-3">
                                <li>Chỉ dành cho chủ sở hữu doanh nghiệp hay đồng sở hữu doanh nghiệp có năng lực kinh doanh thật sự xuất sắc, doanh nghiệp hoạt động tốt vượt trội.</li>
                                <li>Cần đầu tư thật và số tiền lớn (từ 2 triệu AUD).</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}