{% extends 'layouts/application.html' %}{% block bodyClass %}class="product-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="list-item__wrap py-4 py-md-5">
    <div class="container">
        <div class="blog__wrap border-bottom-dark pb-4 mb-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="blog__image">
                        <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                            <div class="image-box">
                                <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="blog__date mb-1 mt-2 mt-md-0"><small>18/10/2019</small> </div>
                    <h3 class="blog__title mb-2">
                        <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                    </h3>
                    <div class="blog__des mb-2">
                        Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                    </div>
                    <ul class="blog__tag d-flex">
                        <li class="list-inline-item">Tags:</li>
                        <li class="mr-1">
                            <a href="#!"> <i>IMM Group,</i></a>
                        </li>
                        <li class="mr-1">
                            <a href="#!"> <i>Visa E-2,</i></a>
                        </li>
                        <li class="mr-1">
                            <a href="#!"> <i>quốc tịch,</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blog__wrap border-bottom-dark pb-4 mb-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="blog__image">
                        <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                            <div class="image-box">
                                <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="blog__date mb-1 mt-2 mt-md-0"><small>18/10/2019</small> </div>
                    <h3 class="blog__title mb-2">
                        <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                    </h3>
                    <div class="blog__des mb-2">
                        Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                    </div>
                    <ul class="blog__tag d-flex">
                        <li class="list-inline-item">Tags:</li>
                        <li class="mr-1">
                            <a href="#!"> <i>IMM Group,</i></a>
                        </li>
                        <li class="mr-1">
                            <a href="#!"> <i>Visa E-2,</i></a>
                        </li>
                        <li class="mr-1">
                            <a href="#!"> <i>quốc tịch,</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blog__wrap border-bottom-dark pb-4 mb-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="blog__image">
                        <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                            <div class="image-box">
                                <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="blog__date mb-1 mt-2 mt-md-0"><small>18/10/2019</small> </div>
                    <h3 class="blog__title mb-2">
                        <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                    </h3>
                    <div class="blog__des mb-2">
                        Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                    </div>
                    <ul class="blog__tag d-flex">
                        <li class="list-inline-item">Tags:</li>
                        <li class="mr-1">
                            <a href="#!"> <i>IMM Group,</i></a>
                        </li>
                        <li class="mr-1">
                            <a href="#!"> <i>Visa E-2,</i></a>
                        </li>
                        <li class="mr-1">
                            <a href="#!"> <i>quốc tịch,</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blog__wrap border-bottom-dark pb-4 mb-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="blog__image">
                        <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                            <div class="image-box">
                                <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="blog__date mb-1 mt-2 mt-md-0"><small>18/10/2019</small> </div>
                    <h3 class="blog__title mb-2">
                        <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                    </h3>
                    <div class="blog__des mb-2">
                        Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                    </div>
                    <ul class="blog__tag d-flex">
                        <li class="list-inline-item">Tags:</li>
                        <li class="mr-1">
                            <a href="#!"> <i>IMM Group,</i></a>
                        </li>
                        <li class="mr-1">
                            <a href="#!"> <i>Visa E-2,</i></a>
                        </li>
                        <li class="mr-1">
                            <a href="#!"> <i>quốc tịch,</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blog__wrap border-bottom-dark pb-4 mb-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="blog__image">
                        <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                            <div class="image-box">
                                <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="blog__date mb-1 mt-2 mt-md-0"><small>18/10/2019</small> </div>
                    <h3 class="blog__title mb-2">
                        <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                    </h3>
                    <div class="blog__des mb-2">
                        Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                    </div>
                    <ul class="blog__tag d-flex">
                        <li class="list-inline-item">Tags:</li>
                        <li class="mr-1">
                            <a href="#!"> <i>IMM Group,</i></a>
                        </li>
                        <li class="mr-1">
                            <a href="#!"> <i>Visa E-2,</i></a>
                        </li>
                        <li class="mr-1">
                            <a href="#!"> <i>quốc tịch,</i></a>
                        </li>
                    </ul>


                    
                </div>
            </div>
        </div>
        <!-- Pagination  -->
        {% include "modules/component/pagination.html" %}
        <!-- end pagination  -->
    </div>
</div>
<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}