{% extends 'layouts/application.html' %}{% block bodyClass %}class="visa-kinh-doanh-E-2"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="product-page">
    <h1 class="my-4 my-md-5 title text-center text-uppercase"><strong>visa định cư eb-1c</strong></h1>
    <!-- Banner -->
    <section class="banner ">
        <div class="row no-gutters banner__row">
            <div class="col-md-6">
                <img src="../images/US/EB-1C/Banner-EB-1C.png" alt="Banner-EB-1C">
            </div>
            <div class="col-md-6">
                <img src="../images/US/EB-1C/Banner-EB-1C-1.png" alt="Banner-EB-1C">
            </div>
        </div>
    </section>
    <section class="mt-4 mt-md-5 ">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-7">
                    <h2 class="line-title d-inline-block text-uppercase">VISA E-2 LÀ GÌ?</h2>
                    <ul class="mb-5">
                        <li class="mb-3"><strong>• Là visa định cư vĩnh viễn tại Mỹ (Thẻ xanh không điều kiện) dành cho doanh nhân/nhà quản lý cấp cao của một công ty nước ngoài, sang Mỹ để vận hành việc kinh doanh công ty con tại Mỹ.</strong></li>
                        <li><strong>• Vợ/chồng và các con dưới 21 tuổi được cấp Thẻ xanh định cư cùng đương đơn.</strong></li>
                    </ul>
                    <p>
                        <button class="btn">Đánh giá hồ sơ miễn phí</button>
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="../images/US/EB-1C/visa-my.jpg" alt="visa-my">
                </div>
            </div>
        </div>
    </section>
    <section class="mt-4 mt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block text-uppercase">quyền lợi</h2>
            <div class="row content-row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="text-center bg-gray">
                        <div class="top-text content_1">
                            <h3>Gia đình tự do sinh sống và làm việc như một công dân bản xứ trên toàn nước Mỹ</h3>
                        </div>
                        <div class="bottom-img content_2">
                            <img class="w-100" src="../images/US/EB-1C/american-passport.png" alt="american-passport">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="text-center bg-gray">
                        <div class="top-text content_1">
                            <h3>Con cái được học trường công miễn phí</h3>
                        </div>
                        <div class="bottom-img content_2">
                            <img class="w-100" src="../images/US/EB-1C/con-cai-duoc-hoc-truong-cong-mien-phi.png" alt="con-cai-duoc-hoc-truong-cong-mien-phi">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 ">
                    <div class="text-center bg-gray">
                        <div class="top-text content_1">
                            <h3>Hưởng đầy đủ phúc lợi về an sinh xã hội dành cho công dân Mỹ (trừ quyền bầu cử)</h3>
                        </div>
                        <div class="bottom-img content_2">
                            <img class="w-100" src="../images/US/EB-1C/cap-the-xanh-cho-ca-gia-dinh.jpg" alt="cap-the-xanh-cho-ca-gia-dinh">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="advantages mt-4 mt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block">ƯU ĐIỂM</h2>
            <div class="row content-row">
                <div class="col-md-6 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/icon/uu-diem/icon_thoi-gian-thu-ly-nhanh.png" alt="thoi-gian-thu-ly-nhanh">
                            </div>
                            <div class="right-text">
                                <h3>Hồ sơ thụ lý nhanh chóng: <strong>từ 6 tháng</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/icon/uu-diem/icon_so-huu-va-tu-kiem-soat-doanh-nghiep-kha-nang-sinh-loi-cao.png" alt="so-huu-va-tu-kiem-soat-doanh-nghiep-kha-nang-sinh-loi-cao">
                            </div>
                            <div class="right-text">
                                <h3>Sở hữu doanh nghiệp riêng và khả năng sinh lời cao</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-4">
                <button class="btn">Đánh giá hồ sơ miễn phí</button>
            </p>
        </div>
    </section>
    <section class="condition py-4 pt-md-5 mt-4 mt-md-5 bg-dark-gray">
        <div class="container">
            <h2 class="line-title d-inline-block">ĐIỀU KIỆN</h2>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-secondary font-weight-bold">Đối với doanh nghiệp</p>
                    <div class="d-flex mb-4">
                        <div class="condition__icon"><img class="mx-auto" src="../images/US/E-2/america-flag.png" alt="america-flag"></div>
                        <div class="right-text pl-3">
                            <h3>Công ty mẹ ở Việt Nam phải có quy mô đủ lớn và đủ tài chính để đầu tư sang Mỹ.</h3>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div class="condition__icon"><img class="mx-auto" src="../images/US/E-2/america-flag.png" alt="america-flag"></div>
                        <div class="right-text pl-3">
                            <h3>Công ty con tại Mỹ đang hoạt động hiệu quả tối thiểu 1 năm, và có kế hoạch kinh doanh khả thi để tiếp tục phát triển.</h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-lg-center mb-4">
                        <div class="condition__icon"><img class="mx-auto" src="../images/US/E-2/america-flag.png" alt="america-flag"></div>
                        <div class="right-text pl-3">
                            <h3>Thoả tất cả các loại điều kiện của Visa <a href="#!"><strong><u>L-1A.</u></strong></a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-secondary font-weight-bold">Đối với đơn phương</p>
                    <div class="d-flex align-items-lg-center mb-4">
                        <div class="condition__icon"><img class="mx-auto" src="../images/US/E-2/america-flag.png" alt="america-flag"></div>
                        <div class="right-text pl-3">
                            <h3>Giữ vị trí quản lý cấp cao tại công ty mẹ ở Việt Nam.</h3>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div class="condition__icon"><img class="mx-auto" src="../images/US/E-2/america-flag.png" alt="america-flag"></div>
                        <div class="right-text pl-3">
                            <h3>Đủ năng lực và kinh nghiệm để sang Mỹ và đảm nhận vị trí quản lý cấp cao, vận hành công ty con tại Mỹ</h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-lg-center">
                        <div class="condition__icon"><img class="mx-auto" src="../images/US/E-2/america-flag.png" alt="america-flag"></div>
                        <div class="right-text pl-3">
                            <h3>Thỏa điều kiện về lý lịch an ninh và sức khỏe</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-4 pt-md-5 process">
        <div class="container">
            <h2 class="line-title d-inline-block">QUY TRÌNH</h2>
            <div class="process__wrap">
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_thanh-lap-cty-con.png" alt="icon_thanh-lap-cty-con">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 1</span>
                        </div>
                        <div class="process__des">
                            <h3>Thành lập công ty con tại Mỹ</h3>
                        </div>
                    </div>
                </div>
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_van-hanh-doanh-nghiep-hieu-qua.png" alt="icon_van-hanh-doanh-nghiep-hieu-qua">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 2</span>
                        </div>
                        <div class="process__des">
                            <h3>Vận hành công ty con hiệu quả tối thiểu 1 năm</h3>
                        </div>
                    </div>
                </div>
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_tham-dinh-va-danh-gia-ho-so.png" alt="icon_tham-dinh-va-danh-gia-ho-so">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 3</span>
                        </div>
                        <div class="process__des">
                            <h3>Thẩm định và đánh giá hồ sơ EB-1C</h3>
                        </div>
                    </div>
                </div>
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_tong-hop-ho-so-nop-cho-so-di-tru.png" alt="icon_tong-hop-ho-so-nop-cho-so-di-tru">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 4</span>
                        </div>
                        <div class="process__des">
                            <h3>Tổng hợp hồ sơ nộp cho Sở Di trú</h3>
                        </div>
                    </div>
                </div>
                <div class=" process__row">
                    <div class="process__icon">
                        <img src="../images/icon/quy-trinh/icon_thanh-lap-cty-con.png" alt="icon_thanh-lap-cty-con">
                    </div>
                    <div class="process__steps">
                        <div class="process__step">
                            <span>Bước 5</span>
                        </div>
                        <div class="process__des">
                            <h3>Phỏng vấn cấp visa</h3>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-5">
                <button class="btn">Đánh giá hồ sơ miễn phí</button>
            </p>
        </div>
    </section>
</div>
<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}