{% extends 'layouts/application.html' %}{% block bodyClass %}class="visa-kinh-doanh-E-2"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="FDI-page">
    <section class="py-4 py-md-5">
        <div class="container">
            <h1 class="mb-4 my-mb-5 title text-center"><strong>ĐẦU TƯ NƯỚC NGOÀI VÀO VIỆT NAM</strong></h1>
            <div>IMM FDI Services cung cấp tất cả các dịch vụ liên quan đến mua bán sáp nhập cho các doanh nghiệp/cá nhân muốn mua, bán công ty/dự án theo yêu cầu. Với lợi thế am hiểu thị trường và khả năng kết nối với nhà đầu tư khắp thế giới, chúng tôi giúp
                doanh nghiệp Việt Nam tìm nhà đầu tư nước ngoài để hợp tác kinh doanh hoặc bán lại toàn bộ cổ phần thoái vốn khỏi công ty. Chúng tôi sẽ hỗ trợ khách hàng bên bán xây dựng chiến lược cũng như quy trình thoái vốn chi tiết, chặt chẽ và hiệu
                quả để đảm bảo thương vụ thành công.</div>
        </div>
    </section>
    <section class="main-banner">
        <img class="w-100" src="../images/FDI/FDI-banner.png" alt="FDI-banner">
    </section>
    <section class="benifit pt-4 pt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block">LỢI THẾ CẠNH TRANH</h2>
            <div class="row content-row">
                <div class="col-md-6">
                    <div class="benifit__item-wrap border-dark bg-ED mb-3 mb-md-0">
                        <div class="d-flex align-items-center mb-3 content_1">
                            <div class="benifit-icon pr-3">
                                <img src="../images/FDI/kinh-nghiem-chuyen-sau.png" alt="kinh-nghiem-chuyen-sau">
                            </div>
                            <h3 class="mb-0"><strong>Kinh nghiệm chuyên sâu</strong></h3>
                        </div>
                        <div class="benifit__text-wrap content_2">
                            • Chúng tôi cung cấp các gói dịch vụ xuyên suốt từ giai đoạn xây dựng chiến lược đến lúc triển khai và hoàn thành giao dịch cho các thương vụ tư vấn đầu tư, mua bán và sáp nhập doanh nghiệp trong tất cả các lĩnh vực.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="benifit__item-wrap border-dark bg-ED mb-3 mb-md-0">
                        <div class="d-flex align-items-center mb-3 content_1">
                            <div class="benifit-icon pr-3">
                                <img src="../images/FDI/mang-luoi-doi-tac-quoc-te-toan-cau.png" alt="mang-luoi-doi-tac-quoc-te-toan-cau">
                            </div>
                            <h3 class="mb-0"><strong>Mạng lưới đối tác quốc tế toàn cầu</strong></h3>
                        </div>
                        <div class="benifit__text-wrap content_2">
                            • Với 14 năm hoạt động trong lĩnh vực tư vấn đầu tư, IMM Group đã phát triển mạng lưới đối tác chiến lược khắp toàn cầu trong nhiều lĩnh vực nông nghiệp, bất động sản, y tế, sản xuất, tài chính…
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="service mt-4 mt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block">DỊCH VỤ TƯ VẤN ĐẦU TƯ MUA BÁN DOANH NGHIỆP / DỰ ÁN</h2>
        </div>
        <div class="bg-ED py-4 py-md-5">
            <div class="container">
                Chúng tôi cung cấp các dịch vụ hỗ trợ trong suốt quá trình chuyển nhượng doanh nghiệp/dự án, từ bước xây dựng chiến lược thoái vốn, kêu gọi đầu tư, lập báo cáo chi tiết về dự án để giới thiệu cho nhà đầu tư đến việc tối ưu hóa giá trị của doanh nghiệp
                trong đàm phán chuyển nhượng. IMM FDI Services cũng cung cấp các dịch vụ hỗ trợ pháp lý cho thương vụ nhằm tối đa hóa quyền lợi cho doanh nghiệp và khả năng thành công cao nhất cho thương vụ.
            </div>
        </div>
        <div class="container">
            <div class="py-4 py-md-5">
                <div class="row">
                    <div class="col-md-7">
                        <div class="service__wrap mb-4">
                            <div class="service__title-wrap mb-3">
                                <div class="service__title-number mr-2">01</div>
                                <div class="service__title-text">
                                    <h3 class="text-secondary text-uppercase"><strong>TƯ VẤN CHUYỂN NHƯỢNG TOÀN PHẦN DOANH NGHIỆP/ DỰ ÁN</strong></h3>
                                </div>
                            </div>
                            <div class="service__content">
                                Chúng tôi sẽ xác định giá trị cốt lõi và lợi thế cạnh tranh đặc biệt của doanh nghiệp cũng như yêu cầu chiến lược của khách hàng trong việc tìm kiếm đối tác nước ngoài mua lại toàn bộ cổ phần. Chúng tôi hiểu rõ thoái vốn là một quá trình cần được xây
                                dựng kế hoạch chi tiết và hợp lý để đảm bảo tối đa hóa giá trị của doanh nghiệp. Chính vì thế, chúng tôi hỗ trợ khách hàng phân tích giá trị hiện tại và tiềm năng của danh mục đầu tư, đánh giá rủi ro, lợi ích và tính khả
                                thi của những phương án thoái vốn, và giúp khách hàng xây dựng phương pháp tiếp cận chiến lược. Bên cạnh đó, chúng tôi luôn chọn lọc những nhà đầu tư tiềm năng nhất với đầy đủ điều kiện tài chính và pháp lý nhằm đảm bảo
                                tỷ lệ thành công cao nhất cho thương vụ.
                            </div>
                        </div>
                        <div class="service__wrap mb-4">
                            <div class="service__title-wrap mb-3">
                                <div class="service__title-number mr-2">02</div>
                                <div class="service__title-text">
                                    <h3 class="text-secondary text-uppercase"><strong>Tư vấn kêu gọi đầu tư </strong></h3>
                                </div>
                            </div>
                            <div class="service__content">
                                IMM FDI Services cũng tìm kiếm nhà đầu tư tài chính cho các doanh nghiệp cần gọi vốn đầu tư để mở rộng sản xuất kinh doanh hoặc phát triển qua một thị trường, phân khúc mới. Nhà đầu tư tài chính được lựa chọn theo các tiêu chí về khả năng tài chính, khả
                                năng đồng hành với doanh nghiệp trong thời gian dài và am hiểu thị trường, phân khúc mà doanh nghiệp đang hoạt động.
                            </div>
                        </div>
                        <div class="service__wrap mb-4">
                            <div class="service__title-wrap mb-3">
                                <div class="service__title-number mr-2">03</div>
                                <div class="service__title-text">
                                    <h3 class="text-secondary text-uppercase"><strong>Tư vấn tìm kiếm đối tác – hợp tác mở rộng kinh doanh</strong></h3>
                                </div>
                            </div>
                            <div class="service__content">
                                Đối với các doanh nghiệp mong muốn tìm kiếm đối tác chiến lược để mở rộng mạng lưới kinh doanh và phát triển doanh nghiệp, chúng tôi sẽ kết nối doanh nghiệp với các tập đoàn, công ty có kinh nghiệm lâu năm trong lĩnh vực.
                            </div>
                        </div>
                        <div class="service__wrap mb-4">
                            <div class="service__title-wrap mb-3">
                                <div class="service__title-number mr-2">04</div>
                                <div class="service__title-text">
                                    <h3 class="text-secondary text-uppercase"><strong>Thẩm định tài chính và pháp lý của bên mua</strong></h3>
                                </div>
                            </div>
                            <div class="service__content">
                                Chúng tôi sẽ phân tích cơ hội thị trường nhằm xác định các đối tác tiềm năng, đồng thời xây dựng chiến lược và cơ chế hợp tác nhằm tối ưu hóa lợi nhuận cho khách hàng và giảm thiểu rủi ro đầu tư. Chúng tôi sẽ giúp khách hàng đánh giá khả năng tài chính
                                và pháp lý của bên mua và đảm bảo rằng khách hàng luôn có đầy đủ thông tin cần thiết trong quá trình thoái vốn, gọi vốn hay hợp tác kinh doanh.
                            </div>
                        </div>
                        <div class="service__wrap mb-4">
                            <div class="service__title-wrap mb-3">
                                <div class="service__title-number mr-2">05</div>
                                <div class="service__title-text">
                                    <h3 class="text-secondary text-uppercase"><strong>Hoàn thành thủ tục pháp lý cho dự án</strong></h3>
                                </div>
                            </div>
                            <div class="service__content">
                                Để đảm bảo thương vụ thành công và giảm thiểu rủi ro cho cả đôi bên, chúng tôi sẽ hỗ trợ hoàn thành thủ tục pháp lý cho dự án. Ví dụ như thủ tục chuyển nhượng dự án đầu tư, giấy chứng nhận đầu tư, thành lập văn phòng đại diện của nhà đầu tư tại Việt Nam
                                và các thủ tục khác.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="bg-img" style="background: url('../images/FDI/bg-service-FDI.png') 0 0/cover no-repeat; width:100%; height:100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="process mb-4 mb-md-5">
        <div class="container">
            <div class="process__wrap text-center">
                <div class="process__start my-3">
                    <img class="mx-auto" src="../images/FDI/chien-luoc.png" alt="chien-luoc">
                </div>
                <div class="process__arrow"></div>
                <div class="process__line my-3 process__has-bg">
                    <div class="row align-items-center">
                        <div class="col-2 process__number text-center"></div>
                        <div class="col-10 process__text text-left">
                            <h4>Teaser của doanh nghiệp để tìm kiếm nhà đầu tư</h4>
                        </div>
                    </div>
                </div>
                <div class="process__arrow"></div>
                <div class="process__line my-3">
                    <div class="row align-items-center">
                        <div class="col-2 process__number text-center">01</div>
                        <div class="col-10 process__text text-left">
                            <h4>Thông tin chi tiết về công ty</h4>
                        </div>
                    </div>
                </div>
                <div class="process__line my-3">
                    <div class="row align-items-center">
                        <div class="col-2 process__number text-center">02</div>
                        <div class="col-10 process__text text-left">
                            <h4>Phân tích tài chính, thẩm định giá trị của doanh nghiệp/ dự án</h4>
                        </div>
                    </div>
                </div>
                <div class="process__line my-3">
                    <div class="row align-items-center">
                        <div class="col-2 process__number text-center">03</div>
                        <div class="col-10 process__text text-left">
                            <h4>Phân tích, thẩm định pháp lý của doanh nghiệp/ dự án</h4>
                        </div>
                    </div>
                </div>
                <div class="process__line my-3">
                    <div class="row align-items-center">
                        <div class="col-2 process__number text-center">04</div>
                        <div class="col-10 process__text text-left">
                            <h4>Phân tích lợi thế cạnh tranh của doanh nghiệp/ dự án</h4>
                        </div>
                    </div>
                </div>
                <div class="process__line my-3">
                    <div class="row align-items-center">
                        <div class="col-2 process__number text-center">05</div>
                        <div class="col-10 process__text text-left">
                            <h4>Phân tích tổng quan về thị trường</h4>
                        </div>
                    </div>
                </div>
                <div class="process__line my-3">
                    <div class="row align-items-center">
                        <div class="col-2 process__number text-center">06</div>
                        <div class="col-10 process__text text-left">
                            <h4>Phân tích về thương vụ và các đề xuất với nhà đầu tư</h4>
                        </div>
                    </div>
                </div>
                <div class="process__arrow"></div>
                <div class="process__line process__has-bg my-3">
                    <div class="row align-items-center">
                        <div class="col-2 process__number text-center"></div>
                        <div class="col-10 process__text text-left">
                            <h4>Pitchbook của doanh nghiệp để giới thiệu cho nhà đầu tư</h4>
                        </div>
                    </div>
                </div>
                <div class="process__row my-4">
                    <ul class="list-inline">
                        <li class="process__row-item list-inline-item">
                            <h4>Pitchbook</h4>
                        </li>
                        <li class="process__row-item list-inline-item">
                            <h4>Tổ chức đối thoại giữa nhà đầu tư và doanh nghiệp</h4>
                        </li>
                        <li class="process__row-item list-inline-item">
                            <h4>Khảo sát dự án</h4>
                        </li>
                        <li class="process__row-item list-inline-item">
                            <h4>Đàm phán song phương</h4>
                        </li>
                        <li class="process__row-item list-inline-item">
                            <h4>Chốt thương vụ</h4>
                        </li>
                        <li class="process__row-item list-inline-item">
                            <h4>Hỗ trợ pháp lý sau thương vụ</h4>
                        </li>
                    </ul>
                </div>
                <div class="process__line process__has-bg my-3">
                    <div class="row align-items-center">
                        <div class="col-2 process__number text-center"></div>
                        <div class="col-10 process__text text-left">
                            <h4>Phí Thành Công có thể được thương lượng</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Blog  -->
<div id="related-blog">
    {% include "modules/component/blog.html" %}
</div>
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}