{% extends 'layouts/application.html' %}{% block bodyClass %}class="blog-detail"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<section class="blog-details py-4 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
                <div class="blog-details__main-wrap">
                    <p><img class="mx-auto" src="../images/blog/1.png" alt="1"></p>
                    <p><em>Hiện nhà đầu tư chỉ còn vài ngày để tranh thủ mức đầu tư 500.000USD</em></p>
                    <p>Mức đầu tư EB-5 mới, 900.000USD sẽ được áp dụng từ ngày 21/11. Hồ sơ EB-5 có thời gian chuẩn bị khoảng 1 tháng. Vậy 21/10 là ngày trễ nhất để quyết định xúc tiến hồ sơ. Hiện nhà đầu tư chỉ còn vài ngày để tranh thủ mức đầu tư 500.000USD.</p>
                    <p>Dưới đây là những cập nhật mới nhất của chương trình theo bản tin visa EB-5 tháng 11/2019</p>
                    <h3><strong> Bản tin visa EB-5 tháng 11/2019</strong></h3>
                    <p>Ngày ưu tiên xếp lịch phỏng vấn cấp visa thể hiện những hồ sơ nộp trước ngày này đang được Sở Di trú xét duyệt để cấp visa. <strong>Tháng 10</strong>, ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam là 15/10/2016.</p>
                    <p>Theo bản <strong>tin visa EB-5</strong> tháng 11/2019, Việt Nam tiến thêm 1 tháng, đến ngày 15/11/2016.</p>
                    <p>Tháng trước, ngày ưu tiên xếp lịch phỏng vấn cấp visa của Ấn Độ là 22/11/2017. Vào tháng 11, Ấn Độ tiến hơn 2 tuần đến 8/12/2017.</p>
                    <p>Vào tháng 10, ngày ưu tiên xếp lịch phỏng vấn cấp visa của Trung Quốc là 22/10/2014. Tháng 11/2019, Trung Quốc tiến thêm được 1 tuần, ngày 1/11/2014.</p>
                    
                    <h3><strong> Thời gian xét duyệt hồ sơ EB-5</strong></h3>
                    <p>Thời gian xét duyệt hồ sơ EB-5 mới nhất đã tăng so với cập nhật tháng 9:</p>
                    <p>
                        <ul>
                            <li>• Thời gian xét duyệt hồ sơ I-526 – thẻ xanh có điều kiện hiện tại là từ 28,5 đến 49,5 tháng</li>
                            <li> • Thời gian xét duyệt hồ sơ I-829 để xin thẻ xanh vĩnh viễn là từ 27,5 đến 47,5 tháng.</li>
                        </ul>
                    </p>
                    <p>Tuy nhiên, thời gian xét duyệt còn phụ thuộc vào hồ sơ của mỗi đương đơn và dự án đầu tư. Vào tháng 6, có 2 nhà đầu tư Việt là khách hàng của IMM Group đã có chấp thuận hồ sơ I-526 chỉ sau 18 tháng. Thời gian xét duyệt nhanh là nhờ
                        hồ sơ chứng minh nguồn tiền được kê khai rất rõ ràng. Mới đây, 1 khách hàng khác của IMM Group đã có chấp thuận I-829 cũng chỉ sau 18 tháng.</p>
                    <p>
                        <img src="../images/blog/4.png" alt="">
                    </p>
                    <p><em>Eckington Park là dự án tốt để nhà đầu tư tranh thủ mức đầu tư 500.000USD</em></p>
                    <p>Nếu thông tin này hữu dụng, quý nhà đầu tư vui lòng chia sẻ cho mọi người cùng xem.</p>
                    <p style="text-align: right;"><strong>IMM Group</strong></p>
                </div>
                <ul class="blog__tag d-flex">
                    <li class="list-inline-item">Tags:</li>
                    <li class="mr-1">
                        <a href="#!"> <i>IMM Group,</i></a>
                    </li>
                    <li class="mr-1">
                        <a href="#!"> <i>Visa E-2,</i></a>
                    </li>
                    <li class="mr-1">
                        <a href="#!"> <i>quốc tịch,</i></a>
                    </li>
                </ul>
            </div>
           
        </div>

    </div>
</section>

<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}