{% extends 'layouts/application.html' %}{% block bodyClass %}class="contact-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<h1 class="my-4 my-md-5 title text-center text-uppercase"><strong>CONTACT US</strong></h1>
<div class="contact-page">
    
    <!-- Tab panes -->
    <div class="row bg-ED mt-4 mt-md-5 mx-0 no-gutters">
        <div class="col-md-5 col-xl-5 order-md-1 text-white bg-primary">
            <div class="contact__group offset-xl-2 offset-lg-2 offset-md-1 py-2 py-lg-5 col-md-8">
                <h3 class="text-uppercase font-weight-bold mb-4 h5 ">IMM US CAPITAL MANAGEMENT</h3>
                <div class="mb-4">
                    <p><strong>Thomas Lee</strong><br>
                    Managinf Director of IMM US Capital Management
                    </p>
                </div>
                <div class="mb-4">
                    <p>***<br>
                        Email: <strong>thomas@immgroup.com</strong><br>
                        Address: <strong>8251 La Palma Ave, #379, Buena Park, CA 90620</strong>
                        </p>
                </div>
                <div class="mb-5">
                    <p><img src="../images/thomas.jpg"></p>
                </div>
                <div class="form mb-4">
                    <h3 class="text-uppercase font-weight-bold mb-4 h5 ">LEAVE US A MESSAGE</h3>
                    <div class="form-group">
                        <input class="form-control register__input required" type="text" name="yourname" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <select class="form-control required" name="yourtitle">
                            <option value="">-- Your Title --</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control register__input required number" name="yourphone" type="text" placeholder="Mobile phone">
                    </div>
                    <div class="form-group">
                        <input class="form-control register__input email required"  type="text" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control register__input required" name="yoursubject" type="text"  placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <input class="form-control register__input required" name="yourmesage" type="text" placeholder="Message">
                    </div>
                    <div class="form-group">
                        <div class="register__action pt-3">
                            <input type="submit" value="Submit" class="btn btn-secondary font-weight-bold">
                            <span class="ajax-loader"></span>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
        <div class="col-md-7 col-xl-7  order-md-2 mb-3 mb-md-0">
            <div class="map__wrap">
               
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6607.426784316904!2d-118.3327!3d34.102482!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bf3b872e009f%3A0xc6588c0a13663373!2s1717%20Wilcox%20Ave%2C%20Los%20Angeles%2C%20CA%2090028!5e0!3m2!1sen!2sus!4v1605755481279!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}