{% extends 'layouts/application.html' %}{% block bodyClass %}class="visa-kinh-doanh-E-2"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="FDI-page">
    <section class="py-4 py-md-5">
        <div class="container">
            <h1 class="mb-4 my-mb-5 title text-center "><strong>IMM FDI SERVICES</strong></h1>
            <div>IMM FDI Services cung cấp tất cả các dịch vụ liên quan đến mua bán sáp nhập cho các doanh nghiệp/cá nhân muốn mua, bán công ty/dự án theo yêu cầu. Với lợi thế am hiểu thị trường và khả năng kết nối với nhà đầu tư khắp thế giới, chúng tôi giúp
                doanh nghiệp Việt Nam tìm nhà đầu tư nước ngoài để hợp tác kinh doanh hoặc bán lại toàn bộ cổ phần thoái vốn khỏi công ty. Chúng tôi sẽ hỗ trợ khách hàng bên bán xây dựng chiến lược cũng như quy trình thoái vốn chi tiết, chặt chẽ và hiệu
                quả để đảm bảo thương vụ thành công.</div>
        </div>
    </section>
    <section class="main-banner">
        <img class="w-100" src="../images/FDI/en/IMM-FDI-banner.jpg" alt="IMM-FDI-banner">
    </section>
    <section class="why-to-invest pt-4 pt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block">WHY TO INVEST IN VIETNAM?</h2>
            <div>
                Vietnam is the third largest market in Southeast Asia and one of the fastest-growing economies in the world. The country measures more than 1,650km from North to South with a coastline about 2,000km long, covering an area of 329,560 square kilometres.
            </div>
            <div class="my-4 my-md-5">
                <h3 class="line-title-w-number text-primary"><span class="title__number">01</span><span class="title__text">CRITICAL POSITION & HUMAN RESOURCES</span></h3>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div>
                            The strategic position makes Vietnam an ideal distance to the world's most dynamic economic city and financial hub such as China, Singapore, Kuala Lumpur (Malaysia), Bangkok (Thailand), Hong Kong, and Taiwan, etc
                            <br><br>
                            <img src="../images/FDI/en/IMM-critical-position.jpg" alt="IMM-critical-position">
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5 mb-4">
                        <div>
                            The demographics of Vietnam is young
                            <ul>
                                <li>• 18.2% Number of trained workers</li>
                                <li>• 58% Working age population</li>
                            </ul>
                            <br>
                            <img class="mx-auto" src="../images/FDI/en/IMM-FDI-chart.png" alt="IMM-FDI-chart">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-ED">
            <div class="py-4 py-md-5">
                <div class="container">
                    <h3 class="line-title-w-number text-primary"><span class="title__number">02</span><span class="title__text">ECONOMIC GROWTH RATE & INTERNATIONAL INTEGRATION</span></h3>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div>
                                A. Over the last few decades, Vietnam’s economic growth has been one of the fastest in the world.
                                <br><br>
                                <img class="mx-auto" src="../images/FDI/en/IMM-FDI-chart01.png" alt="IMM-FDI-chart01">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
                            <div>
                                B. Numerous trade agreements Vietnam has signed to make the market more liberal.<br>
                                <ul>
                                    <li>• Member of ASEAN and ASEAN Free Trade Area (AFTA)</li>
                                    <li>• ASEAN Economic Community (AEC)</li>
                                    <li>• ASEAN Regional Forum (ARF)</li>
                                    <li>• The East Asia Forum (EAF)</li>
                                    <li>• AsiaPpacific Economic Cooperation (APEC)</li>
                                    <li>• Member of World Trade Organisation (WTO)</li>
                                    <li>• Bilateral Trade Agreement (BTA) with the US</li>
                                    <li>• Free Trade Agreement with the European Union</li>
                                </ul>
                                <br>
                                <p class="text-secondary">*Countries have signed free trade agreements with Vietnam</p>
                                <img class="mx-auto" src="../images/FDI/en/IMM-FDI-asia-flag.png" alt="IMM-FDI-asia-flag">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-4 py-md-5">
            <div class="container">
                <h3 class="line-title-w-number text-primary"><span class="title__number">03</span><span class="title__text">HUGE CONSUMER MARKET POTENTIAL</span></h3>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div>
                            Vietnam's per capita GDP reached an estimated VND 48.6 million (US$2,215)
                            <br><br>
                            <img class="mx-auto" src="../images/FDI/en/IMM-FDI-consumer.jpg" alt="IMM-FDI-consumer">
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div>
                            <img class="mx-auto" src="../images/FDI/en/IMM-FDI-consumer01.jpg" alt="IMM-FDI-consumer01">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-ED">
            <div class="py-4 py-md-5">
                <div class="container">
                    <h3 class="line-title-w-number text-primary"><span class="title__number">04</span><span class="title__text">ABUNDANT NATURAL RESOURCES</span></h3>
                    <div>Vietnam has an abundant wealth of natural resources including land resources, marine resources, travel resources, water resources, etc. It makes Vietnam an attractive destination for domestic and foreign investors to exploit and produce
                        business
                    </div>
                    <div class="resources__list d-flex mt-4">
                        <div class="resources__item mr-4">
                            <div class="border-dark">
                                <img src="../images/FDI/en/IMM-FDI-land-resources.jpg" alt="IMM-FDI-land-resources">
                                <span class="text-center bg-white d-block p-2 font-weight-bold">Land Resources</span>
                            </div>
                        </div>
                        <div class="resources__item mr-4">
                            <div class="border-dark">
                                <img src="../images/FDI/en/IMM-FDI-marine-resources.jpg" alt="IMM-FDI-marine-resources">
                                <span class="text-center bg-white d-block p-2 font-weight-bold">Land Resources</span>
                            </div>
                        </div>
                        <div class="resources__item mr-4">
                            <div class="border-dark">
                                <img src="../images/FDI/en/IMM-FDI-travel-resources.jpg" alt="IMM-FDI-travel-resources">
                                <span class="text-center bg-white d-block p-2 font-weight-bold">Land Resources</span>
                            </div>
                        </div>
                        <div class="resources__item mr-4">
                            <div class="border-dark">
                                <img src="../images/FDI/en/IMM-FDI-water-resources.jpg" alt="IMM-FDI-water-resources">
                                <span class="text-center bg-white d-block p-2 font-weight-bold">Land Resources</span>
                            </div>
                        </div>
                        <div class="resources__item mr-4">
                            <div class="border-dark">
                                <img src="../images/FDI/en/IMM-FDI-mineral-resources.jpg" alt="IMM-FDI-mineral-resources">
                                <span class="text-center bg-white d-block p-2 font-weight-bold">Land Resources</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us pt-4 pt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block">ABOUT US</h2>
            <div class="mb-4">
                IMM FDI offers flexibly in full or parts of Investment Consultancy up to the needs of the clients. For the foreign investors, we assist you on a successful approach and do business in Vietnam market. For the Vietnam project owners, we guarantee the final
                outcomes of your projects by making the best use of our key competencies:
            </div>
            <div class="row content-row">
                <div class="col-md-6 mb-4">
                    <div class="border-dark p-3 content_1 d-flex box-style01">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="box__icon pr-3"> <img src="../images/FDI/en/icon_IMM-skill.png" alt="icon_IMM-skill"></div>
                            <div class="box__text">
                                The IMM Group's team of skilled investment professionals with more than 14 years of experience
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="border-dark p-3 content_1 d-flex box-style01">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="box__icon pr-3"> <img src="../images/FDI/en/icon_IMM-strong-partnership.png" alt="icon_IMM-strong-partnership"></div>
                            <div class="box__text">
                                Strong partnerships with key players in both national and international investment ecosystem
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="border-dark p-3 content_1 d-flex box-style01">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="box__icon pr-3"> <img src="../images/FDI/en/icon_IMM-extensive-network.png" alt="icon_IMM-extensive-network"></div>
                            <div class="box__text">
                                An extensive network of leading sustainable & impactful investors built through years of expanding IMM Group's scale
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="border-dark p-3 content_1 d-flex box-style01">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="box__icon pr-3"> <img src="../images/FDI/en/icon_IMM-target-source.png" alt="icon_IMM-target-source"></div>
                            <div class="box__text">
                                Targeted source of essential contact to Vietnamese projects, as well as legal and financial experts
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="confident pt-4 pt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block">WHAT WE ARE CONFIDENT IN</h2>
            <div class="mb-5">
                <img src="../images/FDI/en/IMM-FDI-what-we-are-confident.png" alt="IMM-FDI-what-we-are-confident">
            </div>
            <div class="mb-4 mb-md-5 colorF31F3C">
                <h3 class="line-title-w-number ">
                    <span class="title__icon mr-2"><img src="../images/FDI/en/icon-title01.png" alt="icon-title01">
                </span><span class="title__text">Brokerage</span>
                </h3>
                <div class="mb-4">
                    IMM FDI serves as a brokerage, having longtime broker experience provides us with considerable resources and knowledge to exceed your needs and expectations. We are able to successfully manage but not limited to:<br>
                    <span class="text-secondary">01. Sourcing:</span> Supply chain management solutions. Production materials work-in-process inventory management finished goods from point of origin to point of consumption.<br>
                    <span class="text-secondary">02. Matching:</span> introduce and develop business partnerships that line up with your business interests, visions and goals.
                </div>
            </div>
            <div class="mb-4 mb-md-5 color88A814">
                <h3 class="line-title-w-number ">
                    <span class="title__icon mr-2"><img src="../images/FDI/en/icon-title02.png" alt="icon-title02">
                </span><span class="title__text">Merging and Acquisitions Deal Advisory</span>
                </h3>
                <div>
                    <p>Interested in obtaining a business in Vietnam? IMM Group can help you join the Vietnam market as your choice. Our intensive network won't miss your aspirations. You will be able to make better use of this network and your strengths
                        to become a market leader.
                    </p>
                    <p><b>How will we do?</b></p>
                    <p>
                        <a class="text-muted font-weight-bold btn-learn-more" data-toggle="collapse" href="#collapseHowWillWeDo1" role="button" aria-expanded="false" aria-controls="collapseHowWillWeDo1">
                            Learn more <i class="arrow_carrot-down icon__arrow"></i>
                        </a>
                    </p>
                </div>
                <div class="process__row01 mt-4 mt-md-5 collapse" id="collapseHowWillWeDo1">
                    <div class="d-flex process__row-wrap">
                        <div class="process__item">
                            <div class="process__step">
                                <span>01</span>
                            </div>
                            <div class="process__content">Develop an invest strategy</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>02</span>
                            </div>
                            <div class="process__content">Set the M&A search criteria</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>03</span>
                            </div>
                            <div class="process__content">Search for potential acquisition targets</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>04</span>
                            </div>
                            <div class="process__content">Begin acquisition planning</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>05</span>
                            </div>
                            <div class="process__content">Negotiations</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>06</span>
                            </div>
                            <div class="process__content">Peform valuation analysis</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>07</span>
                            </div>
                            <div class="process__content">M&A due diligence</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>08</span>
                            </div>
                            <div class="process__content">Purchase & Sales Contract</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>09</span>
                            </div>
                            <div class="process__content">Financing strategy for the acquisition</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>10</span>
                            </div>
                            <div class="process__content">Implementation</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 mb-md-5 color04537B">
                <h3 class="line-title-w-number">
                    <span class="mr-2 title__icon"><img src="../images/FDI/en/icon-title03.png" alt="icon-title03">
                </span><span class="title__text">Investment Consultancy</span>
                </h3>
                <div>
                    <p>IMM Group has an extensive domestic and international partnership networks, and we are always rapidly growing and eager to expand both your local and global network. Our network is not limited and will always cover your needs.</p>
                    <p><b>How will we do?</b></p>
                    <p>
                        <a class="text-muted font-weight-bold btn-learn-more" data-toggle="collapse" href="#collapseHowWillWeDo2" role="button" aria-expanded="false" aria-controls="collapseHowWillWeDo2">
                            Learn more <i class="arrow_carrot-down icon__arrow"></i>
                        </a>
                    </p>
                </div>
                <div class="process__row01 mt-4 mt-md-5 collapse" id="collapseHowWillWeDo2">
                    <div class="d-flex process__row-wrap">
                        <div class="process__item">
                            <div class="process__step">
                                <span>01</span>
                            </div>
                            <div class="process__content">Develop an investment strategy</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>02</span>
                            </div>
                            <div class="process__content">Design your personal investment criteria & philosophy</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>03</span>
                            </div>
                            <div class="process__content">Search for potential sources</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>04</span>
                            </div>
                            <div class="process__content">Begin business planning</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>05</span>
                            </div>
                            <div class="process__content">Negotiations</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>06</span>
                            </div>
                            <div class="process__content">Peform valuation analysis</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>07</span>
                            </div>
                            <div class="process__content">Pre-feasi-bility study</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>08</span>
                            </div>
                            <div class="process__content">Feasibility study</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>09</span>
                            </div>
                            <div class="process__content">Sales contract</div>
                        </div>
                        <div class="process__item">
                            <div class="process__step">
                                <span>10</span>
                            </div>
                            <div class="process__content">Implementation</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-ED py-4 pt-md-5">
        <div class="container">
            <h2 class="line-title d-inline-block">FIELDS OF BUSINESS THAT WE COVER</h2>
            <div class="mb-4 mb-md-5">
                <h3 class="line-title-w-number text-primary text-center">
                    <span class="title__text mx-auto">Real Estate</span>
                </h3>
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-real-estate01.jpg" alt="IMM-FDI-real-estate01">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Residential Property</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-real-estate02.jpg" alt="IMM-FDI-real-estate02">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Commercial Property</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-real-estate03.jpg" alt="IMM-FDI-real-estate03">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Industrial Property</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 mb-md-5">
                <h3 class="line-title-w-number text-primary text-center">
                    <span class="title__text mx-auto">Renewable Energy</span>
                </h3>
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-renewable-energy01.jpg" alt="IMM-FDI-renewable-energy01">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Residential Property</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-renewable-energy02.jpg" alt="IMM-FDI-renewable-energy02">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Solar Photovoltaics (PV)</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-renewable-energy03.jpg" alt="IMM-FDI-renewable-energy03">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Biofuels</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 mb-md-5">
                <h3 class="line-title-w-number text-primary text-center">
                    <span class="title__text mx-auto">Agriculture</span>
                </h3>
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-agriculture01.jpg" alt="IMM-FDI-agriculture01">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Raw Materials</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-agriculture02.jpg" alt="IMM-FDI-agriculture02">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Manure & Nutrient</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-agriculture03.jpg" alt="IMM-FDI-agriculture03">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Industrial Property</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-agriculture04.jpg" alt="IMM-FDI-agriculture04">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Fruit Processor</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-agriculture05.jpg" alt="IMM-FDI-agriculture05">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Horticulture Production</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-4">
                        <div class="border-dark">
                            <img class="w-100" src="../images/FDI/en/IMM-FDI-agriculture06.jpg" alt="IMM-FDI-agriculture06">
                            <span class="text-center bg-white d-block p-2 font-weight-bold">Aquaculture Production</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Blog  -->
<div id="related-blog">
    {% include "modules/component/blog.html" %}
</div>
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}