{% extends 'layouts/application.html' %}{% block bodyClass %}class="blog-detail"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<section class="blog-details py-4 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="blog-details__cat border-bottom-dark"><a href="/page-dinh-cu-my.html"> Đầu tư định cư Mỹ </a></h2>
                <h1 class="blog-details__title">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000USD</h1>
                <div class="blog__date mb-2"><small>18/10/2019</small> </div>
                <div class="blog-details__share mb-4">
                    <ul class="list-inline d-flex align-items-center">
                        <li class="list-inline-item"><a href="#!"><span class="social_facebook_circle"></span></a></li>
                        <li class="list-inline-item zalo"><a href="#!">Zalo</a></li>
                        <li class="list-inline-item"><a href="#!"><span class="social_share"></span></a></li>
                    </ul>
                </div>
                <div class="blog-details__summary mb-4 mb-md-5">
                    <strong>Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên, thời gian xét duyệt hồ sơ I-526 và I-829 lại tăng. Ngày áp dụng luật EB-5 mới đã cận kề. Chỉ còn 3 ngày để nộp hồ sơ EB-5 tranh thủ mức đầu tư 500.000USD.</strong>
                </div>
                <div class="blog-details__main-wrap">
                    <p><img class="mx-auto" src="../images/blog/1.png" alt="1"></p>
                    <p><em>Hiện nhà đầu tư chỉ còn vài ngày để tranh thủ mức đầu tư 500.000USD</em></p>
                    <p>Mức đầu tư EB-5 mới, 900.000USD sẽ được áp dụng từ ngày 21/11. Hồ sơ EB-5 có thời gian chuẩn bị khoảng 1 tháng. Vậy 21/10 là ngày trễ nhất để quyết định xúc tiến hồ sơ. Hiện nhà đầu tư chỉ còn vài ngày để tranh thủ mức đầu tư 500.000USD.</p>
                    <p>Dưới đây là những cập nhật mới nhất của chương trình theo bản tin visa EB-5 tháng 11/2019</p>
                    <h3><strong> Bản tin visa EB-5 tháng 11/2019</strong></h3>
                    <p>Ngày ưu tiên xếp lịch phỏng vấn cấp visa thể hiện những hồ sơ nộp trước ngày này đang được Sở Di trú xét duyệt để cấp visa. <strong>Tháng 10</strong>, ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam là 15/10/2016.</p>
                    <p>Theo bản <strong>tin visa EB-5</strong> tháng 11/2019, Việt Nam tiến thêm 1 tháng, đến ngày 15/11/2016.</p>
                    <p>Tháng trước, ngày ưu tiên xếp lịch phỏng vấn cấp visa của Ấn Độ là 22/11/2017. Vào tháng 11, Ấn Độ tiến hơn 2 tuần đến 8/12/2017.</p>
                    <p>Vào tháng 10, ngày ưu tiên xếp lịch phỏng vấn cấp visa của Trung Quốc là 22/10/2014. Tháng 11/2019, Trung Quốc tiến thêm được 1 tuần, ngày 1/11/2014.</p>
                    <div class="parallax__container border bg-ED p-2 my-4">
                        <div class="parallax__panel">
                            <div class="ads my-4">
                                <div class="">
                                    <div class="row align-items-center">
                                        <div class="col-md-5">
                                            <img src="../images/blog/2.png" alt="">
                                        </div>
                                        <div class="col-md-7">
                                            <h3>Visa Mỹ L-1A</h3>
                                            <p><strong>Visa định cư tạm tại Mỹ dành cho doanh nhân/nhà quản lý cấp cao của một công ty bên ngoài nước Mỹ, sang Mỹ để điều hành công ty con.</strong></p>
                                            <p><strong>Vợ/chồng và các con dưới 21 tuổi của đương đơn sẽ được cấp visa đi cùng.</strong></p>
                                            <p><a href="#" class="btn">Tìm hiểu thêm</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3><strong> Thời gian xét duyệt hồ sơ EB-5</strong></h3>
                    <p>Thời gian xét duyệt hồ sơ EB-5 mới nhất đã tăng so với cập nhật tháng 9:</p>
                    <p>
                        <ul>
                            <li>• Thời gian xét duyệt hồ sơ I-526 – thẻ xanh có điều kiện hiện tại là từ 28,5 đến 49,5 tháng</li>
                            <li> • Thời gian xét duyệt hồ sơ I-829 để xin thẻ xanh vĩnh viễn là từ 27,5 đến 47,5 tháng.</li>
                        </ul>
                    </p>
                    <p>Tuy nhiên, thời gian xét duyệt còn phụ thuộc vào hồ sơ của mỗi đương đơn và dự án đầu tư. Vào tháng 6, có 2 nhà đầu tư Việt là khách hàng của IMM Group đã có chấp thuận hồ sơ I-526 chỉ sau 18 tháng. Thời gian xét duyệt nhanh là nhờ
                        hồ sơ chứng minh nguồn tiền được kê khai rất rõ ràng. Mới đây, 1 khách hàng khác của IMM Group đã có chấp thuận I-829 cũng chỉ sau 18 tháng.</p>
                    <p>
                        <img src="../images/blog/4.png" alt="">
                    </p>
                    <p><em>Eckington Park là dự án tốt để nhà đầu tư tranh thủ mức đầu tư 500.000USD</em></p>
                    <p>Nếu thông tin này hữu dụng, quý nhà đầu tư vui lòng chia sẻ cho mọi người cùng xem.</p>
                    <p style="text-align: right;"><strong>IMM Group</strong></p>
                </div>
                <ul class="blog-details__tag d-flex">
                    <li class="list-inline-item">Tags:</li>
                    <li class="mr-1">
                        <a href="#!"> <i>IMM Group,</i></a>
                    </li>
                    <li class="mr-1">
                        <a href="#!"> <i>Visa E-2,</i></a>
                    </li>
                    <li class="mr-1">
                        <a href="#!"> <i>quốc tịch,</i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="sidebar-ads border-dark bg-ED p-3 text-center mb-5">
                    <p><img src="../images/visa-my-L1-A.png" alt="visa-my-L1-A"></p>
                    <p class="mb-4"><img class="mx-auto" src="../images/blog/2.png" alt="2"></p>
                    <h3 class="mb-4"><a href="#!" class="black-link02">Visa Mỹ L-1A</a></h3>
                    <p><a href="#" class="btn">Tìm hiểu thêm</a></p>
                </div>
                <!-- Sidebar Blog  -->
                {% include "modules/component/sidebar-blog.html" %}
            </div>
        </div>

    </div>
</section>

<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}