{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<section class="text-center py-5 bg-white">
    <div class="container">
        <h1 class="mb-4 title"><strong>ĐẦU TƯ LẤY QUỐC TỊCH VÀ VISA ĐI LẠI CHÂU ÂU</strong></h1>
        <p class="text-justify">Chương trình đầu tư - định cư châu Âu ngày càng chứng tỏ được sức hút mạnh mẽ với các nhà đầu tư định cư quốc tế nói chung và Việt Nam nói riêng. Đặc biệt, khi chương trình định cư Mỹ diện EB-5 sắp có sự thay đổi lớn, chương trình nhập cư Úc,
            Canada có điều kiện đưa ra ngày càng phức tạp, thì chương trình đầu tư định cư châu u với đa dạng hình thức và mức đầu tư mang đến nhiều lựa chọn phù hợp với số đông người Việt, nhờ đáp ứng các tiêu chí nhanh chóng - đơn giản - mức đầu tư
            hợp lý
        </p>
    </div>
</section>
<section class="main-banner">
    <img src="../images/europe/banner-chau-au.jpg" alt="banner-chau-au">
</section>
<section class="py-4 py-md-5 compare__country ">
    <div class="container">
        <h2 class="line-title d-inline-block mb-4 mb-md-5">LỰA CHỌN CHƯƠNG TRÌNH ĐẦU TƯ CHÂU ÂU PHÙ HỢP</h2>
        <div class="row content-row">
            <div class="col-md-4 my-4 mb-md-5 ">
                <div class="compare__img text-center">
                    <a href="#" class="d-inline-block">
                        <img src="../images/europe/sip-flag.png" alt="sip-flag">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="#!">Síp</a></h3>
                </div>
                <div class="europe row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>51,8 tỷ đồng<br>(2 triệu EUR)</li>
                                <li>Sau khi hồ sơ được chấp thuận, trao tặng thêm cho Chính phủ Síp 3,9 tỷ đồng
                                    <br>(150.000EUR)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy quốc tịch châu Âu, tự do sinh sống, làm việc, học tập tại bất kỳ quốc gia nào trong Liên minh châu Âu (EU)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có quyền cư trú/quốc tịch</h4>
                            <ul class="compare__list pl-3">
                                <li>8-12 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>Mua bất động sản và duy trì trong ít nhất 5 năm. Sau 5 năm, nhà đầu tư cần duy trì vốn bất động sản có giá trị ít nhất 500.000EUR.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhà đầu tư cùng vợ/chồng, con cái dưới 28 tuổi và cha mẹ của đương đơn chính sẽ có quốc tịch Síp và hưởng đầy đủ quyền lợi về y tế, giáo dục, an sinh xã hội...</li>
                                <li>Miễn visa đến <strong>165 nước và vùng lãnh thổ</strong></li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT</li>
                                <li>Cả gia đình được sống ở bất kỳ nước EU nào với đầy đủ phúc lợi xã hội. Kể cả các nước không có chương trình nhập cư như Pháp, Đức, Ý…</li>
                                <li>Sở hữu vĩnh viễn bất động sản cao cấp</li>
                                <li>Tự do mậu dịch trong khối EU qua Thị trường chung châu Âu.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 ">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Mức tiền đầu tư cao</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 mb-md-5">
                <div class="compare__img text-center">
                    <a href="#" class="d-inline-block">
                        <img src="../images/europe/malta-flag.png" alt="sip-flag">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="#!">Malta</a></h3>
                </div>
                <div class="europe row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>Tối thiểu từ 31,3 tỷ đồng (1,225 triệu Euro) cho gia đình 4 người (2 con dưới 18 tuổi)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy quốc tịch châu Âu, tự do sinh sống, làm việc, học tập tại bất kỳ quốc gia EU nào</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có quyền cư trú/quốc tịch</h4>
                            <ul class="compare__list pl-3">
                                <li>1 năm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư</h4>
                            <p>Tiền đầu tư được chia làm 3 phần:</p>
                            <ul class="compare__list pl-3">
                                <li>Đương đơn chính phải đóng góp ít nhất 16,6 tỷ đồng (650.000EUR) cho Chính phủ Malta. Vợ/chồng và con cái dưới 18 tuổi phải đóng thêm 640 triệu đồng (25.000EUR)/1 người. Con cái từ 18-26 tuổi (chưa kết hôn và phụ thuộc tài
                                    chính) và cha mẹ (phụ thuộc tài chính) phải đóng thêm 1,28 tỷ đồng (50.000EUR)/1 người</li>
                                <li>Mua bất động sản ở Malta có giá trị tối thiểu 8,96 tỷ đồng (350.000EUR) và duy trì tối thiểu 5 năm HOẶC thuê bất động sản tại Malta với số tiền thuê tối thiểu 409,5 triệu đồng (16.000EUR)/năm và duy trì trong ít nhất 5
                                    năm
                                </li>
                                <li>Mua trái phiếu/cổ phiếu (được Chính phủ Malta chấp thuận) trị giá 3,84 tỷ đồng (150.000EUR) và có thể bán sau 5 năm.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhà đầu tư cùng vợ/chồng, con cái dưới 27 tuổi (chưa kết hôn và phụ thuộc tài chính) và cha mẹ (phụ thuộc tài chính) sẽ có quốc tịch Malta và hưởng đầy đủ quyền lợi về y tế, giáo dục, an sinh xã hội..</li>
                                <li>Miễn visa đến <strong>169 nước và vùng lãnh thổ.</strong></li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT</li>
                                <li>Cả gia đình được sống ở bất kỳ nước EU nào với đầy đủ phúc lợi xã hội</li>
                                <li>Được tự do đi lại trong 26 quốc gia thuộc khối Schengen (Ý, Pháp, Tây Ban Nha, Hà Lan, Đức…)</li>
                                <li>Tự do mậu dịch trong khối EU qua Thị trường chung châu Âu.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Mức tiền trao tặng cao hơn nhiều so với các chương trình khác</li>
                                <li>Vợ/chồng, con cái và cha mẹ phải đóng thêm phí tính trên đầu người</li>
                                <li>Quy trình đầu tư phức tạp qua nhiều bước</li>
                                <li>Thẩm định nghiêm ngặt tư cách đương đơn: Chính phủ Malta sẽ thẩm định 4 vòng để đánh giá toàn diện các đương đơn. Các bước kiểm tra kết hợp với cả INTERPOL, Tòa án Hình sự Quốc tế và các cơ quan cùng nhiều nguồn chứng thực
                                    khác.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p style="opacity: 0;">
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 mb-md-5">
                <div class="compare__img text-center">
                    <a href="#" class="d-inline-block">
                        <img src="../images/europe/ireland-flag.png" alt="ireland-flag">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="#!">Ireland</a></h3>
                </div>
                <div class="europe row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>10,3 tỷ - 25,9 tỷ đồng <br> (400.000EUR - 1 triệu EUR)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy quyền cư trú Ireland</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có quyền cư trú/quốc tịch</h4>
                            <ul class="compare__list pl-3">
                                <li>4-6 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư</h4>
                            <p>Có 2 sự lựa chọn:</p>
                            <ul class="compare__list pl-3">
                                <li>10,3 tỷ (400.000EUR): đầu tư không hoàn lại</li>
                                <li>25,9 tỷ (1000.000EUR): đầu tư vào các dự án xã hội. Khoản đầu tư phải được duy trì trong 3 năm.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhà đầu tư cùng vợ/chồng, con cái dưới 24 tuổi (chưa kết hôn và phụ thuộc tài chính) và cha mẹ của đương đơn chính sẽ được cấp quyền cư trú Ireland</li>
                                <li>Cả gia đình có thể sinh sống, làm việc và học tập tại Ireland</li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT</li>
                                <li>Sau 5 năm cư trú, được phép xin quốc tịch nếu thỏa các điều kiện về cư trú tại Ireland</li>
                                <li>Khi có quốc tịch Ireland, cả gia đình sẽ có đầy đủ quyền lợi về y tế, giáo dục, an sinh xã hội…</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 ">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Mức tiền đầu tư cao</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row content-row mt-lg-5">
            <div class="col-md-4 my-4 mb-md-5">
                <div class="compare__img text-center">
                    <a href="#" class="d-inline-block">
                        <img src="../images/europe/montenegro-flag.png" alt="montenegro-flag">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="#!">Bồ Đào Nha</a></h3>
                </div>
                <div class="europe row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>13 tỷ đồng <br> (500.000EUR)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy quyền cư trú Bồ Đào Nha (Golden visa), tự do đi lại trong 26 quốc gia thuộc khối Schengen (Ý, Pháp, Tây Ban Nha, Hà Lan, Đức…)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có quyền cư trú/quốc tịch</h4>
                            <ul class="compare__list pl-3">
                                <li>8-12 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>Đầu tư bất động sản. Thẻ cư trú Bồ Đào Nha được gia hạn sau mỗi 5 năm với điều kiện vẫn còn sở hữu bất động sản</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhà đầu tư cùng vợ/chồng, bố mẹ trên 65 tuổi (bố mẹ dưới 65 tuổi, phải chứng minh ở cùng và đương đơn phụ trách chính việc cấp dưỡng) và các con dưới 26 tuổi (chưa kết hôn và phụ thuộc tài chính) sẽ được cấp quyền cư trú
                                    Bồ Đào Nha</li>
                                <li>Cả gia đình có thể sinh sống, làm việc tại Bồ Đào Nha với đầy đủ quyền lợi về y tế, giáo dục…</li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT</li>
                                <li>Được tự do đi lại trong 26 quốc gia thuộc khối Schengen (Ý, Pháp, Tây Ban Nha, Hà Lan, Đức…)</li>
                                <li>Sau 5 năm cư trú, có thể thi tiếng Bồ Đào Nha để lên thường trú. Sau 6 năm cư trú, có thể thi tiếng Bồ Đào Nha để lấy quốc tịch.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 ">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Thời gian xử lý hồ sơ hiện đang bị kéo dài</li>
                                <li>Điều kiện xin quốc tịch Bồ Đào Nha: phải biết tiếng Bồ Đào Nha, thỏa điều kiện về cư trú (thường trú 6 năm trước khi xin quốc tịch)...</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 mb-md-5">
                <div class="compare__img text-center">

                    <a href="#" class="d-inline-block">
                        <img src="../images/europe/bo-dao-nha-flag.png" alt="bo-dao-nha-flag">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="#!">Montenegro</a></h3>
                </div>
                <div class="europe row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>9,1 tỷ đồng<br> (350.000EUR)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy quốc tịch Montenegro và trở thành công dân châu Âu khi quốc gia này gia nhập EU vào năm 2025</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có quyền cư trú/quốc tịch</h4>
                            <ul class="compare__list pl-3">
                                <li>6-9 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>Đầu tư 6,5 tỷ đồng (250.000EUR) vào dự án du lịch (thời hạn 5 năm) và 2,6 tỷ (100.000EUR) trao tặng cho Chính phủ Montenegro.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhà đầu tư cùng gia đình (con cái đến 18 tuổi, còn phụ thuộc tài chính) sẽ có quốc tịch Montenegro, hưởng đầy đủ quyền lợi về y tế, giáo dục, an sinh xã hội...</li>
                                <li>Miễn visa đến <strong>123 nước và vùng lãnh thổ</strong></li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT</li>
                                <li>Khi <a href="https://www.immigration.com.vn/tin-tuc-di-tru/montenegro-gia-nhap-eu-se-mang-lai-thinh-vuong/" target="_blank"> Montenegro gia nhập EU</a>, dự kiến vào năm 2025, cả gia đình được sống ở bất kỳ nước EU nào với
                                    đầy đủ phúc lợi xã hội.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 ">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Thời gian xử lý hồ sơ hiện đang bị kéo dài</li>
                                <li>Điều kiện xin quốc tịch Bồ Đào Nha: phải biết tiếng Bồ Đào Nha, thỏa điều kiện về cư trú (thường trú 6 năm trước khi xin quốc tịch)...</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-4 mb-md-5">
                <div class="compare__img text-center">
                    <a href="#" class="d-inline-block">
                        <img src="../images/europe/bulgaria-flag.png" alt="bulgaria-flag">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="#!">Bulgaria</a></h3>
                </div>
                <div class="europe row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>7 tỷ đồng<br> (270.000EUR)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy quốc tịch châu Âu, tự do sinh sống, làm việc tại bất kỳ quốc gia EU nào</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có quyền cư trú/quốc tịch</h4>
                            <ul class="compare__list pl-3">
                                <li>2 năm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>Đầu tư không hoàn lại 7 tỷ đồng (270.000EUR)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Là một trong những chương trình đầu tư lấy quốc tịch châu Âu rẻ nhất</li>
                                <li>Cả gia đình (con cái dưới 18 tuổi) sẽ có quốc tịch Bulgaria và hưởng đầy đủ quyền lợi về y tế, giáo dục, an sinh xã hội...</li>
                                <li>Miễn visa đến <strong> 164 nước và vùng lãnh thổ </strong></li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT</li>
                                <li>Cả gia đình được sống ở bất kỳ nước EU nào với đầy đủ phúc lợi xã hội</li>
                                <li>Tự do mậu dịch trong khối EU qua Thị trường chung châu Âu.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 ">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Thời gian thụ lý hồ sơ dài hơn so với các chương trình</li>
                                <li>Mức đầu tư có thể tăng và các điều kiện nhập tịch sẽ khó khăn hơn.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row content-row mt-lg-5">
            <div class="col-md-4 my-4 mb-md-5">
                <div class="compare__img text-center">
                    <a href="#" class="d-inline-block">
                        <img src="../images/europe/hy-lap-flag.png" alt="hy-lap-flag">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="#!">Hy Lạp</a></h3>
                </div>
                <div class="europe row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>6,5 tỷ đồng<br> (250.000EUR)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy quyền cư trú Hy Lạp (Golden visa), tự do đi lại trong 26 quốc gia thuộc khối Schengen (Ý, Pháp, Tây Ban Nha, Hà Lan, Đức…)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có quyền cư trú/quốc tịch</h4>
                            <ul class="compare__list pl-3">
                                <li>3-6 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>Đầu tư bất động sản. Thẻ cư trú Hy Lạp được gia hạn sau mỗi 5 năm với điều kiện vẫn còn sở hữu bất động sản</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Là một trong những chương trình <strong>lấy quyền cư trú ở 1 quốc gia châu Âu </strong>có mức đầu tư thấp nhất</li>
                                <li>Nhà đầu tư cùng gia đình 3 thế hệ (bao gồm cha mẹ hai bên và con cái dưới 24 tuổi) sẽ có quyền cư trú Hy Lạp</li>
                                <li>Cả gia đình có thể sinh sống, làm việc và học tập tại Hy Lạp</li>
                                <li>Con cái nhà đầu tư được học miễn phí tại các trường công đến sau đại học</li>
                                <li>Được tự do đi lại trong 26 quốc gia thuộc khối Schengen (Ý, Pháp, Tây Ban Nha, Hà Lan, Đức…)</li>
                                <li>Sau 7 năm sống tại Hy Lạp, nhà đầu tư có thể thi tiếng Hy Lạp để xin quốc tịch</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 ">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Điều kiện xin quốc tịch Hy Lạp: phải biết tiếng Hy Lạp, cư trú thường xuyên ở Hy Lạp (thường trú 7 năm trước khi xin quốc tịch)…</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}