{% extends 'layouts/application.html' %}{% block bodyClass %}class="dinh-cu-my"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="main-content">
    <section class="our-story py-3 py-md-5" id="our_story">
        <div class="container">
            <div class="our-story__wrap">
                <div class="text-bg">
                    <h1>Câu<br> chuyện <br> của<br> IMM <br class="d-lg-none"> Group</h1>
                </div>
                <div class="text-wrap">
                    <p class="newspaper-style">
                        <span>N</span>hà sáng lập IMM, ông Trần Văn Tỉnh, sinh ra và lớn lên ở miền sông nước Cái Vồn, Bình Minh, Vĩnh Long. Cha mẹ ông xuất thân từ nông dân bần cùng, không được đi học và phải trải qua thời chiến tranh loạn lạc. Nghề
                        mưu sinh chính của cha mẹ ông là đi làm thuê, làm ruộng, nuôi heo và cuối cùng là làm tàu hủ (đậu hủ). Năm 1989, cha ông bị tai nạn, dẫn đến liệt bán thân phải ngồi xe lăn (cho đến bây giờ). Lúc ấy, mới 9 tuổi, ông Tỉnh bắt đầu
                        kiếm tiền phụ gia đình bằng các công việc bán vé số, làm tàu hủ, nuôi heo… Từ đó, tuổi thơ của ông chỉ có những ngày lam lũ thức khuya, dậy sớm.</p>
                    <p> Làm lụng vất vả nhưng vẫn cố gắng học, ba anh em ông cũng tốt nghiệp phổ thông trung học. Năm 2000, ông lên Sài Gòn vừa làm thêm vừa học đại học. Khởi đầu ông đi giao báo, rồi phụ bàn, dạy kèm và chính thức làm nhân viên văn phòng
                        năm 19 tuổi. Ông còn tự học thêm vi tính, lập trình và khởi nghiệp 2 lần trong lĩnh vực công nghệ thông tin nhưng thất bại. </p>
                    <p> Năm 2004, ông Tỉnh có cơ duyên cung cấp dịch vụ thành lập văn phòng đại diện tại Việt Nam cho ông William (Bill) Gadd, người Canada. Mọi việc suôn sẻ, hai người trở thành bạn của nhau. Tại thời điểm đó, Canada có chương trình đầu tư
                        Quebec. Nhận thấy Việt Nam chưa có dịch vụ này, ông Tỉnh và Bill quyết định hợp tác làm dịch vụ tư vấn định cư Canada. </p>
                    <p>Năm 2005, ông Tỉnh tách ra mở công ty riêng, Immigration Co., Ltd. Công ty từng bước phát triển, đến nay là tập đoàn IMM với nhiều công ty con. Thương hiệu IMM chính là viết tắt tên của công ty con đầu tiên, được lưu giữ để kỷ niệm
                        buổi đầu thành lập.</p>
                    <p>Đọc thêm tiểu sử của ông Tỉnh tại: <a href="https://tonytinh.me/">www.tonytinh.me</a> và tóm tắt quá trình khời nghiệp của ông tại Vnexpress: <a href="http://bit.ly/TonyTinh">http://bit.ly/TonyTinh</a>.</p>
                    <p class="text-right mb-0"><span class="signature-line"></span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="our-process text-justify py-4 py-md-5" id="our_process">
        <div class="container">
            <div class="section-animation">
                <div class="our-title">
                    <h2 class="line-title d-inline-block"><strong>QUÁ TRÌNH PHÁT TRIỂN 14 NĂM 2005 - 2019</strong></h2>
                </div>
                <div class="summary">
                    <p><strong>Buổi khởi đầu, Công ty Immigration Co., Ltd chỉ có duy nhất 1 nhân viên cũng chính là người sáng lập. Văn phòng đặt ngay tại phòng trọ sinh viên của ông Trần Văn Tỉnh. Lĩnh vực hoạt động là tư vấn chương trình đầu tư định cư Canada</strong></p>
                    <p><strong>Qua 14 năm, từ hẻm ra mặt phố, văn phòng lớn dần qua mỗi lần di dời. Tòa nhà IMM Group tại TP.HCM hiện có diện tích hơn 1.500m², ngoài ra còn có văn phòng ở Hà Nội, Úc, Mỹ. Số nhân viên đã lên đến 130. Lĩnh vực hoạt động mở rộng thêm nhiều mảng: đầu tư định cư Mỹ, Úc, châu Âu; bất động sản Mỹ, Úc; quỹ đầu tư Mỹ, Úc; tư vấn đầu tư nước ngoài vào Việt Nam, du lịch, du học… Tính đến nay, IMM Group đã tư vấn hơn 400 nhà đầu tư, quản lý tư vấn tổng số tiền khoảng 150 triệu đô-la Mỹ.</strong></p>
                </div>
            </div>
            <div class="our-process__timeline">
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="col-bg"></div>
                    </div>
                    <div class="col-md-8 col-right">
                        <div class="row section-animation ">
                            <div class="col-3 col-md-2 mt-5 year-wrap">
                                <div class="year text-center"><b>2005</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 pt-5 our-process__text">
                                Ngày 15/1/2005: Thành lập Công ty TNHH Di trú (Immigration Co., Ltd) - 1 nhân viên (người sáng lập), văn phòng đặt tại phòng trọ sinh viên
                                <p class="square-line">
                                    <span class="square bg-white"></span><span class="square bg-white"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span>
                                    <span class="square"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row section-animation ">
                            <div class="col-3 col-md-2 year-wrap ">
                                <div class="year text-center"><b>2006</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 our-process__text">
                                Di dời địa điểm ra Phan Đăng Lưu, Phú Nhuận, tuyển 1 nhân viên, văn phòng 20m² - Tư vấn chương trình đầu tư định cư Canada
                                <p class="square-line">
                                    <span class="square bg-white"></span><span class="square bg-white"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span>
                                    <span class="square"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row section-animation">
                            <div class="col-3 col-md-2 year-wrap ">
                                <div class="year text-center"><b>2007</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 our-process__text">
                                Di dời văn phòng đến Trần Đình Xu, Q.1, văn phòng 40m², có 3 nhân viên, mở rộng thêm chương trình đầu tư định cư Úc
                                <p class="square-line">
                                    <span class="square bg-white"></span><span class="square bg-white"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span>
                                    <span class="square"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row section-animation">
                            <div class="col-3 col-md-2 year-wrap">
                                <div class="year text-center"><b>2008</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 our-process__text">
                                Di dời văn phòng qua Điện Biên Phủ, 8 nhân viên -mở rộng thêm thị trường đầu tư định cư Mỹ - EB-5
                                <p class="square-line">
                                    <span class="square bg-white"></span><span class="square bg-white"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span>
                                    <span class="square"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row section-animation">
                            <div class="col-3 col-md-2 year-wrap">
                                <div class="year text-center"><b>2009</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 our-process__text">
                                <p>Thành lập văn phòng Hà Nội</p>
                                <p><img src="../images/imm-van-phong-ha-noi.jpg" alt="imm-van-phong-ha-noi"></p>
                                <p class="square-line">
                                    <span class="square bg-white"></span><span class="square bg-white"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span>
                                    <span class="square"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row section-animation">
                            <div class="col-3 col-md-2 year-wrap">
                                <div class="year text-center"><b>2012</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 our-process__text">
                                Di dời văn phòng sang Võ Văn Kiệt, Q.1; 35 nhân viên; mở rộng thêm chương trình đầu tư định cư Châu Âu
                                <p class="square-line">
                                    <span class="square bg-white"></span><span class="square bg-white"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span>
                                    <span class="square"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row section-animation">
                            <div class="col-3 col-md-2 year-wrap">
                                <div class="year text-center"><b>2015</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 our-process__text">
                                <p class="mb-md-5 pt-md-3">
                                    Mở rộng thêm chương trình bất động sản Úc , du lịch & du học
                                </p>
                                <p class="square-line">
                                    <span class="square bg-white"></span><span class="square bg-white"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span>
                                    <span class="square"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row section-animation">
                            <div class="col-3 col-md-2 year-wrap">
                                <div class="year text-center"><b>2016</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 our-process__text">
                                <p>Di dời văn phòng sang tòa nhà IMM Group có diện tích hơn 1.500m², thành lập văn phòng IMM tại Úc, IMM tại Mỹ</p>
                                <p><img src="../images/imm-van-phong-ho-chi-minh.jpg" alt="imm-van-phong-ho-chi-minh"></p>
                                <p class="square-line">
                                    <span class="square bg-white"></span><span class="square bg-white"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span>
                                    <span class="square"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row section-animation">
                            <div class="col-3 col-md-2 year-wrap">
                                <div class="year text-center"><b>2017</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 our-process__text">
                                <p>Mở rộng thêm chương trình bất động sản Mỹ; quỹ đầu tư Úc, Mỹ</p>
                                <p><img src="../images/bat-dong-san-my.jpg" alt="bat-dong-san-my"></p>
                                <p class="square-line">
                                    <span class="square bg-white"></span><span class="square bg-white"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span>
                                    <span class="square"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row section-animation">
                            <div class="col-3 col-md-2 year-wrap">
                                <div class="year text-center"><b>2018</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 our-process__text">
                                <p class="mb-md-5 pt-md-3">Mở rộng thêm bộ phận tư vấn đầu tư nước ngoài vào Việt Nam</p>
                                <p class="square-line">
                                    <span class="square bg-white"></span><span class="square bg-white"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span><span class="square"></span>
                                    <span class="square"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row section-animation">
                            <div class="col-3 col-md-2 year-wrap">
                                <div class="year text-center"><b>2017</b></div>
                                <span class="line"></span>
                            </div>
                            <div class="col-9 col-md-10 our-process__text">
                                <p>130 thành viên, 4 văn phòng chính, tư vấn hơn 400 nhà đầu tư, quản lý tư vấn tổng số tiền khoảng 150 triệu đô-la Mỹ</p>
                                <p class="mb-0"><img width="336" src="../images/meeting-imm.jpg" alt="meeting-imm"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-purpose py-5 text-white text-justify" id="our_purpose">
        <div class="container">
            <h2 class="white-line-title mb-4 d-inline-block">MỤC ĐÍCH KINH DOANH</h2>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="summary mb-4">IMM Group tập trung vào yếu tố bền vững trong việc phát triển doanh nghiệp, nâng cao chất lượng và giá trị nguồn nhân lực, đồng thời đóng góp thiết thực cho lợi ích cộng đồng. Chúng tôi đặt ra ba sứ mệnh chính cho mục đích tồn tại
                        của mình:
                    </div>
                </div>
                <div class="col-md-12 col-lg-6"></div>
            </div>
            <div class="row mb-4">
                <div class="col-md-12 col-lg-6">
                    <h4 class="font-16 font-weight-bold"><strong>1. Phát triển bền vững, trở thành một tập đoàn xứng tầm châu Á</strong></h4>
                    <p class="font-weight-light">
                        Sự phát triển bền vững ở đây bao gồm bền vững về mặt tài chính, bền vững về yếu tố con người và bền vững về chất lượng sản phẩm, dịch vụ.<br> Tài chính là một trong những yếu tố quan trọng nhất trong cuộc sống. Việc kinh doanh
                        của IMM Group cũng không nằm ngoài quy luật này. Một trong những mục đích của sự tồn tại là kinh doanh sinh lợi để có tài chính vững mạnh. Chỉ có tài chính vững mạnh mới có thể hỗ trợ nhân viên có cuộc sống đầy đủ về vật chất,
                        sau đó là giúp đỡ cộng đồng và nâng cao vị thế doanh nghiệp xứng tầm châu Á.</br>
                        Tuy nhiên, sự phát triển bền vững không thể có nếu chỉ dựa vào yếu tố tài chính mà còn phụ thuộc vào chất lượng sản phẩm, dịch vụ và yếu tố con người bao gồm đạo đức và sự chuyên nghiệp. Những yếu tố này góp phần xây dựng niềm tin nơi khách hàng, tạo
                        ra uy tín cũng như giá trị cho thương hiệu IMM.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 text-right mb-4">
                    <img src="../images/tro-thanh-tap-doan-xung-tam-chau-a.jpg" alt="tro-thanh-tap-doan-xung-tam-chau-a">
                </div>
            </div>
            <div class="row mb-4 ">
                <div class="col-md-12 col-lg-6">
                    <h4 class="font-16 font-weight-bold"><strong>2. Phát triển giá trị cá nhân của từng thành viên, gắn kết với giá trị của tập đoàn.</strong></h4>
                    <p class="font-weight-light">
                        Tại IMM Group, chúng tôi hiểu rằng sự phát triển của từng thành viên kết hợp hài hòa giữa tố chất tốt của con người với các quy luật về đạo đức xã hội. Chúng tôi quan tâm đến yếu tố hạnh phúc của mỗi thành viên IMM dựa trên lợi ích mà họ nhận được theo
                        công việc và phát triển những giá trị sống của họ. Một trong những lý do công ty tồn tại là tạo điều kiện cho mỗi cá nhân trong công ty phát triển bản thân về sự nghiệp và những giá trị cao cả như: tìm được mục đích sống có ý nghĩa,
                        sống vui vẻ và có ích, tìm được niềm an vui trong cuộc sống. Từ đó, chúng tôi kết nối giá trị của mỗi cá nhân với nhau bằng giá trị của doanh nghiệp để cộng hưởng và lan tỏa ra giá trị cộng đồng.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 text-lg-right mb-4">
                    <img src="../images/quy-cong-dong-imm.jpg" alt="quy-cong-dong-imm">
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 col-lg-6">
                    <h4 class="font-16 font-weight-bold"><strong>3. Góp phần nâng cao giá trị doanh nhân Việt trên thương trường quốc tế và xây dựng quỹ IMM để thực hiện trách nhiệm cộng đồng.</strong></h4>
                    <p class="font-weight-light">
                        Với sự phát triển của mỗi cá nhân nói riêng và tập đoàn nói chung, tập thể IMM Group tin rằng chúng tôi có thể cùng nhau tạo ảnh hưởng lớn trong nước và quốc tế. Chúng tôi mong muốn góp phần nâng tầm giá trị người Việt, để lại sự kế thừa cho mai sau.
                        Từng cá nhân trong công ty sẽ là những thành viên thành đạt, là những người có tầm ảnh hưởng tích cực trong xã hội, từ đó góp phần phát triển xã hội và thế hệ tiếp theo. Quy luật của tầm ảnh hưởng theo cấp số nhân sẽ giúp cho sự
                        lan truyền tầm ảnh hưởng này ngày một lớn mạnh theo thời gian.
                    </p>
                    <p class="font-weight-light">
                        Khi có đủ điều kiện về mặt tài chính cũng như sự thành đạt, viên mãn trong cuộc sống, IMM Group cùng tập thể các thành viên có thể giúp đỡ cộng đồng nhiều hơn, thiết thực hơn bằng tài chính, bằng kinh nghiệm và kiến thức để góp phần xây dựng một cuộc
                        sống, một xã hội, một thế giới tốt đẹp hơn. Thông qua quỹ IMM, chúng tôi mong muốn đem lại những đóng góp thiết thực cho cộng đồng bằng các chương trình và các hoạt động từ thiện. Quỹ IMM hướng đến việc nâng cao giá trị cho nhân
                        viên về các vấn đề chung của xã hội, cũng như hỗ trợ về tài chính cho những đối tượng có hoàn cảnh khó khăn ở Việt Nam.
                    </p>
                    <p class="font-weight-light">
                        Niềm vui và hạnh phúc sẽ không thật sự tồn tại nếu những điều đó chỉ mang tính cá nhân, nhỏ nhặt, và ích kỷ. Niềm hạnh phúc sẽ không thật sự lâu dài nếu không có sự cống hiến và chia sẻ cho người khác. Niềm vui, hạnh phúc cuối cùng lâu dài nhất là xây
                        dựng những giá trị vượt ra khỏi phạm vi mỗi cá nhân và để lại sự kế thừa cho thế hệ sau.
                    </p>
                </div>
                <div class="col-md-12 col-lg-6 text-right">
                    <img src="../images/gan-ket-gia-tri-tap-doan.jpg" alt="gan-ket-gia-tri-tap-doan">
                </div>
            </div>
        </div>
    </section>
    <section class="our-core-values" id="our_core_value">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="col-left">
                        <div class="our-core-values__title">
                            <h2 class="mb-0 text-center">GIÁ TRỊ CỐT LÕI</h2>
                            <p class="text-center"><span class="signature-line"></span></p>
                        </div>
                        <img src="../images/imm-service.png" alt="imm-service">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-right">
                    <div class="content-text">
                        <p class="newspaper-style text-justify">
                            <span>IMM</span> Group xem đạo đức và sự phát triển bền vững là giá trị cốt lõi của mình. Chúng tôi lấy giá trị thật từ bên trong tập thể và mỗi cá nhân làm nền tảng phục vụ khách hàng và đối tác. IMM Group hoạt động trên cơ
                            sở luôn tuân thủ pháp luật, đề cao sự trung thực, chân thành trong mọi giao dịch. Về phía khách hàng, chúng tôi luôn chú trọng việc lắng nghe và xem khách hàng như người thân để cung cấp dịch vụ sao cho có lợi nhất cho họ.
                            Về phía đối tác, chúng tôi hướng đến việc xây dựng mối quan hệ chân thành, rõ ràng, có cùng giá trị, phát triển cùng có lợi, góp phần tối ưu hóa lợi ích khách hàng. Đối với cộng đồng, chúng tôi luôn ý thức đóng góp vào sự phát
                            triển chung của xã hội. Nền tảng của IMM Group là niềm tin nơi khách hàng và đối tác, thông qua những giá trị cốt lõi như sự thẳng thắn, tính minh bạch, tích cực, luôn đứng trên phương diện khách hàng, đối tác để thấu hiểu,
                            sẻ chia, đồng cảm cùng họ trong mọi trường hợp.
                        </p>
                        <p CLASS="mb-0 imm-slogan text-center">INSIDE OUT - TỪ TÂM LAN TỎA </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-philosophy" id="our_philosophy">
        <div class="container">
            <div class="content-panel">
                <h2 class="our-philosophy__title">TRIẾT LÝ KINH DOANH</h2>
                <div class="content-text">
                    <div class="row">
                        <div class="col-md-9 text-justify ani-left">
                            <p>Triết lý kinh doanh trong suốt hơn 10 năm hoạt động đã được IMM Group tổng hợp và đúc kết trong slogan “Inside Out”. Thông điệp này thể hiện đầy đủ các khía cạnh của tập đoàn, từ lịch sử, giá trị cốt lõi, văn hóa, sứ mệnh đến
                                con người và các mối quan hệ đối nội, đối ngoại. Luôn có mối tương quan giữa các yếu tố nội tại của IMM Group với các yếu tố bên ngoài, tác động đến đường hướng phát triển của tập đoàn.</p>
                            <p>Xuất phát từ công việc của sáng lập viên, từ bán vé số đến giao báo, đến phục vụ bàn, đến việc khởi nghiệp từ căn phòng nhà trọ hầu như không có vốn vào năm 2005 (Inside), IMM Group đã tận dụng những khả năng nội tại để phát
                                triển ra bên ngoài, không hạn chế trong một lĩnh vực hay khuôn khổ (Out).</p>
                            <p>Trong mối tương quan giữa triết lý “Inside Out” với giá trị, sứ mệnh, con người, khách hàng, IMM Group luôn lấy giá trị thật bên trong của mỗi cá nhân, sự phát triển của từng cá nhân bên trong tập thể và dùng giá trị chân chính,
                                đạo đức (Inside) để kinh doanh, phục vụ khách hàng và để tạo dựng mối quan hệ với đối tác bên ngoài (Out).</p>
                            <p>Về sứ mệnh, IMM Group cũng cân bằng giữa những mục tiêu bên trong như tạo nên một tập đoàn mà trong đó mọi nhân viên đều hạnh phúc; thành lập quỹ từ thiện giúp đỡ những hoàn cảnh khó khăn trong nước (Inside) với các mục tiêu
                                bên ngoài như mang lại sự hài lòng về dịch vụ; xây dựng một tập đoàn xứng tầm châu Á và nâng tầm người Việt so với thế giới (Out).</p>
                            <p>Về văn hóa, con người và lối sống, IMM Group định hướng phát triển từng cá nhân, lấy yếu tố con người bên trong tập đoàn, từ những điều nhỏ nhất như cách cư xử, cách đối đãi, khả năng trong công việc... (Inside) làm nền tảng
                                cho sự thành công và phát triển của cả tập đoàn (Out). </p>
                        </div>
                        <div class="col-md-3 ani-right">
                            <img src="../images/logo-imm.png" alt="logo-imm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}