{% extends 'layouts/application.html' %}{% block bodyClass %}class="dinh-cu-my"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="product-page">
    <section class="py-5 bg-white">
        <div class="container">
            <h1 class="mb-4 title text-center "><strong>ĐẦU TƯ BẤT ĐỘNG SẢN NƯỚC NGOÀI</strong></h1>
            <div class="summary text-justify ">
                Thuộc nhóm sản phẩm quản lý và lập kế thừa gia sản, dịch vụ đầu tư bất động sản quốc tế giới thiệu và giúp nhà đầu tư tìm mua bất động sản tại Úc, Mỹ. Với mạng lưới đối tác uy tín ở khắp Úc, Mỹ, IMM Property có thể đáp ứng yêu cầu đa dạng về loại hình
                bất động sản, vị trí, mức giá… Qua đó, nhà đầu tư có thể bảo tồn vốn khi sở hữu bất động sản vĩnh viễn tại các quốc gia phát triển với tiềm năng tăng giá trị trong tương lai, ngoài ra còn có thêm lợi nhuận cho thuê hoặc chuẩn bị nơi ở
                ổn định cho kế hoạch du học, kinh doanh, định cư… ở nước ngoài.
            </div>
        </div>
    </section>
    <section class="main-banner">
        <img src="../images/US/america-banner.png" alt="banner-my">
    </section>
    <section class="mt-4 mt-md-5 advantages">
        <div class="container">
            <h2 class="line-title d-inline-block text-uppercase">LỢI ÍCH KHI SỞ HỮU BẤT ĐỘNG SẢN NƯỚC NGOÀI</h2>
            <div class="row content-row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/US/E-2/uu-diem-1.png" alt="uu-diem-1">
                            </div>
                            <div class="right-text">
                                <h3>Thời gian thụ lý nhanh: <strong>3 tháng (nhanh nhất 15 ngày)</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/US/E-2/uu-diem-1.png" alt="uu-diem-1">
                            </div>
                            <div class="right-text">
                                <h3>Thời gian thụ lý nhanh: <strong>3 tháng (nhanh nhất 15 ngày)</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/US/E-2/uu-diem-1.png" alt="uu-diem-1">
                            </div>
                            <div class="right-text">
                                <h3>Thời gian thụ lý nhanh: <strong>3 tháng (nhanh nhất 15 ngày)</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/US/E-2/uu-diem-1.png" alt="uu-diem-1">
                            </div>
                            <div class="right-text">
                                <h3>Thời gian thụ lý nhanh: <strong>3 tháng (nhanh nhất 15 ngày)</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/US/E-2/uu-diem-1.png" alt="uu-diem-1">
                            </div>
                            <div class="right-text">
                                <h3>Thời gian thụ lý nhanh: <strong>3 tháng (nhanh nhất 15 ngày)</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="border-dark p-3 content_1 d-flex">
                        <div class="d-flex align-items-center no-gutters">
                            <div class="advantages__icon pr-3">
                                <img src="../images/US/E-2/uu-diem-1.png" alt="uu-diem-1">
                            </div>
                            <div class="right-text">
                                <h3>Thời gian thụ lý nhanh: <strong>3 tháng (nhanh nhất 15 ngày)</strong></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-4 mt-md-5 project-style-01">
        <div class="container">
            <h2 class="line-title d-inline-block text-uppercase">BẤT ĐỘNG SẢN ÚC</h2>
            <div class="project-style-01__wrap p-4">
                <div class="row content-row">
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="project-style-01__item border-dark p-3">
                            <div class="project-style-01__img mb-3 content_1">
                                <a href="#" title="du-an-riverwalk">
                                    <div class="image-box">
                                        <div class="image" style="background-image:url('./images/project-01.jpg')"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="project-style-01__body">
                                <h3 class="project-style-01__name "><a href="#"><strong>Dự án Riverwalk</strong></a></h3>
                                <div class="project-style-01__sub-des content_2">
                                    Thành phố/bang: Melbourne, Victoria<br> Loại hình: Biệt thự
                                </div>
                                <div class="project-style-01__des content_3">
                                    <ul>
                                        <li> Tọa lạc tại Werribee - đặc khu kinh tế phía Tây Melbourne, Riverwalk có tiềm năng phát triển rất lớn trong tương lai.</li>
                                        <li> Dự án được phát triển bởi Chính phủ Úc, có diện tích không gian xanh rất lớn.</li>
                                        <li> Sở hữu nhiều tiện ích nổi trội như giáo dục, giải trí, văn hóa, thể thao,... hứa hẹn tạo ra một tổ ấm hoàn hảo cho cư dân.</li>
                                        <li> Dự án là sự kết hợp giữa phong cách Úc hiện đại, tinh tế và hệ sinh thái thiên nhiên trong. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="project-style-01__item border-dark p-3">
                            <div class="project-style-01__img mb-3 content_1">
                                <a href="#" title="du-an-riverwalk">
                                    <div class="image-box">
                                        <div class="image" style="background-image:url('./images/project-02.jpg')"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="project-style-01__body">
                                <h3 class="project-style-01__name "><a href="#"><strong>Dự án Riverwalk</strong></a></h3>
                                <div class="project-style-01__sub-des content_2">
                                    Thành phố/bang: Melbourne, Victoria<br> Loại hình: Biệt thự
                                </div>
                                <div class="project-style-01__des content_3">
                                    <ul>
                                        <li> Tọa lạc tại Werribee - đặc khu kinh tế phía Tây Melbourne, Riverwalk có tiềm năng phát triển rất lớn trong tương lai.</li>
                                        <li> Dự án được phát triển bởi Chính phủ Úc, có diện tích không gian xanh rất lớn.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="project-style-01__item border-dark p-3">
                            <div class="project-style-01__img mb-3 content_1">
                                <a href="#" title="du-an-riverwalk">
                                    <div class="image-box">
                                        <div class="image" style="background-image:url('./images/project-03.jpg')"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="project-style-01__body">
                                <h3 class="project-style-01__name "><a href="#"><strong>Dự án Riverwalk</strong></a></h3>
                                <div class="project-style-01__sub-des content_2">
                                    Thành phố/bang: Melbourne, Victoria<br> Loại hình: Biệt thự
                                </div>
                                <div class="project-style-01__des content_3">
                                    <ul>
                                        <li> Tọa lạc tại Werribee - đặc khu kinh tế phía Tây Melbourne, Riverwalk có tiềm năng phát triển rất lớn trong tương lai.</li>
                                        <li> Dự án được phát triển bởi Chính phủ Úc, có diện tích không gian xanh rất lớn.</li>
                                        <li> Sở hữu nhiều tiện ích nổi trội như giáo dục, giải trí, văn hóa, thể thao,... hứa hẹn tạo ra một tổ ấm hoàn hảo cho cư dân.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="action-bottom pt-lg-4 pb-0 px-lg-4">
                    <a href="#!" class="view-more">Xem thêm <span class="arrow_carrot-down"></span></a>
                    <a href="#register" class="btn btn__register">Yêu cầu tư vấn</a>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-5 project-style-01">
        <div class="container">
            <h2 class="line-title d-inline-block text-uppercase">các quỹ bảo toàn vốn sinh lợi</h2>
            <div class="project-style-01__wrap project-box__wrap p-4">
                <div class="row">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="project-style-01__item border-dark p-3">
                            <div class="project-style-01__img mb-3">
                                <a href="#" title="du-an-riverwalk">
                                    <div class="image-box">
                                        <div class="image" style="background-image:url('./images/project-01.jpg')"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="project-style-01__body">
                                <h3 class="project-style-01__name text-uppercase"><a href="#"><strong>Quỹ đầu tư úc</strong></a></h3>
                                <div class="pt-3 pb-0 px-lg-3 text-right">
                                    <a href="#register" class="btn btn__register">Yêu cầu tư vấn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="project-style-01__item border-dark p-3">
                            <div class="project-style-01__img mb-3">
                                <a href="#" title="du-an-riverwalk">
                                    <div class="image-box">
                                        <div class="image" style="background-image:url('./images/project-02.jpg')"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="project-style-01__body">
                                <h3 class="project-style-01__name text-uppercase"><a href="#"><strong>Quỹ đầu tư Mỹ</strong></a></h3>
                                <div class="pt-3 pb-0 px-lg-3 text-right">
                                    <a href="#register" class="btn btn__register">Yêu cầu tư vấn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Blog  -->
<div id="related-blog">
    {% include "modules/component/blog.html" %}
</div>
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}