{% extends 'layouts/application.html' %}{% block bodyClass %}class="product-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<div class="list-item__wrap py-4 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="blog__wrap pb-4 mb-5">
                    <div class="title__section">
                        <div class="entry-meta">
                            <span>November 10, 2020</span>
                        </div>
                        <h3 class="mb-4 mb-md-4 text-uppercase h4 text-primary">
                            <a href="#!">IMM Society, a Journey of Togetherness</a>
                        </h3>	
                    </div>
                    <div class="blog__image">
                        <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                            <div class="image-box">
                                <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                            </div>
                        </a>
                    </div>
                    <div class="blog__des mb-2 ">
                        Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                    </div>
                    <a href="#!" class="text-secondary font-helve font-14">READ MORE</a>
                </div>
                <div class="blog__wrap pb-4 mb-5">
                    <div class="title__section">
                        <div class="entry-meta">
                                <span>November 10, 2020</span>
                        </div>
                        <h3 class="mb-4 mb-md-5 text-uppercase h4 text-primary">IMM Society, a Journey of Togetherness</h3>				
                    </div>
                    <div class="blog__image">
                        <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                            <div class="image-box">
                                <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                            </div>
                        </a>
                    </div>
                    <div class="blog__des mb-2 ">
                        Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                    </div>
                    <a href="#!" class="text-secondary font-helve">READ MORE</a>
                </div>
                <div class="blog__wrap pb-4 mb-5">
                    <div class="title__section">
                        <div class="entry-meta">
                                <span>November 10, 2020</span>
                        </div>
                        <h3 class="mb-4 mb-md-5 text-uppercase h4 text-primary">IMM Society, a Journey of Togetherness</h3>				
                    </div>
                    <div class="blog__image">
                        <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                            <div class="image-box">
                                <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                            </div>
                        </a>
                    </div>
                    <div class="blog__des mb-2 ">
                        Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                    </div>
                    <a href="#!" class="text-secondary font-helve">READ MORE</a>
                </div>
            </div>
           
        </div>
        
        
        <!-- Pagination  -->
        {% include "modules/component/pagination.html" %}
        <!-- end pagination  -->
    </div>
</div>
<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}