{% extends 'layouts/application.html' %}{% block bodyClass %}class="event-page"{% endblock %} {% block header %} {% include "modules/header-event.html" %} {% endblock %} {% block content %}
<div class="event">
    <section class="banner">
        <img class="w-100 d-none d-md-block" src="../images/event/banner.png" alt="Los Angeles">
        <img class="w-100 d-md-none" src="../images/event/banner-mb.jpg" alt="banner-100-mb">
        <div class="banner__caption">
            <div class="banner__caption-inner">
                <h1 class="text-uppercase"><strong>SỞ HỮU BẤT ĐỘNG SẢN <br> VĨNH VIỄN TỪ 2 TRIỆU EUR</strong></h1>
                <h3>Sở hữu quốc tịch Liên minh châu Âu cho cả gia đình</h3>
                <p class="banner__register">
                    <a href="#register" class="btn btn__register">Đăng ký tham dự</a>
                </p>
            </div>
        </div>
    </section>
    <section class="text-center summary py-4 py-md-5">
        <div class="container">
            <h2 class="mb-0"><strong>SỞ DI TRÚ MỸ ĐÃ THÔNG BÁO: <br> ngày 21/11/2019 Số tiền đầu tư EB-5 <br> tăng lên 900,000 USD</strong></h2>
            <div class="mt-4 border-dark d-inline-block mx-auto py-3 px-3 py-md-4 px-md-5">
                <h3 class="mb-0"><strong class="text-primary">10 suất dự án an toàn cuối cùng cho thẻ xanh EB-5 <br class="d-none d-md-block"> của IMM Group tại Washington D.C: <br> DỰ ÁN CĂN HỘ CAO CẤP ECKINGTON PARK</strong></h3>
            </div>
        </div>
    </section>
    <section class="overflow-hidden" id="selling-point">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="bg-benefit bg-full" style="margin-right:0; background-color:#00172D"></div>
                    <div class="selling-point">
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/6.png" alt="6">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>Dự án Căn hộ cao cấp trung tâm Washington D.C phục vụ viên chức Chính phủ Mỹ</h3>
                            </div>
                        </div>
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/5.png" alt="5">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>Giá nhà ở Washington D.C ổn định nhất qua nhiều thời kỳ khủng hoảng vì đa phần phục vụ nhân viên Chính phủ</h3>
                            </div>
                        </div>
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/4.png" alt="4">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>Tất cả các vốn chính từ chủ đầu tư, ngân hàng đã có, tuyệt đối an toàn</h3>
                            </div>
                        </div>
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/7.png" alt="7">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>Dự án đã triển khai thi công xây dựng</h3>
                            </div>
                        </div>
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/8.png" alt="8">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>Dự án có hợp đồng đảm bảo hoàn tất thi công</h3>
                            </div>
                        </div>
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/9.png" alt="9">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>Chủ đầu tư dự phòng quỹ để sẵn để hoàn tiền đầu tư ngay, nếu hồ sơ thẻ xanh bị bác</h3>
                            </div>
                        </div>
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/10.png" alt="10">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>Số việc làm tạo ra từ dự án gấp đôi so với yêu cầu của Sở Di trú Mỹ</h3>
                            </div>
                        </div>
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/11.png" alt="11">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>Tập đoàn IMM có 14 năm kinh nghiệm tại Việt Nam, cam kết hoàn tiền dịch vụ</h3>
                            </div>
                        </div>
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/12.png" alt="12">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>IMM Group đại diện khách hàng, không đứng về phía dự án, bao gồm khởi kiện dự án, công ty quản lý vốn, nếu cần thiết để bảo vệ khách hàng tối đa</h3>
                            </div>
                        </div>
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/13.png" alt="13">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>Trung tâm vùng quản lý vốn uy tín hơn 10 năm, hoàn vốn trước hạn cho nhà đầu tư</h3>
                            </div>
                        </div>
                        <div class="row selling-point__item">
                            <div class="col-4 col-md-3">
                                <div class="selling-point__icon">
                                    <img src="../images/event/14.png" alt="14">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 pl-0 selling-point__text">
                                <h3>10 suất cuối cùng ưu tiên đặc biệt của IMM dành cho những ai đăng ký trước, trước khi luật thay đổi</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="position: relative">
                    <div class="bg-benefit bg-full" style="background: url('../images/event/1.png') 0 0/cover no-repeat; margin-left:0; margin-right:calc(50% - 40vw)"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <img src="../images/event/2.png" alt="2">
    </section>
    <section class="overflow-hidden" id="special">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="special__block">
                        <div class="special__title text-primary">
                            <h3 class="title-border-line text-uppercase"><strong>GÓI ƯU ĐÃI ĐẶC BIỆT TẠI SỰ KIỆN</strong></h3>
                            <h2 class="text-uppercase"><strong>trị giá 53.700 aud</strong></h2>
                        </div>
                        <div class="mt-4 mt-md-5 border-bottom-dark">
                            <div class="d-flex align-items-center mb-2">
                                <div class="special__number">01</div>
                                <div class="special__text">• Miễn phí FIRB (Từ 5.700 AUD)</div>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <div class="special__number">02</div>
                                <div class="special__text">• Ưu đãi 3.5% thuế trước bạ</div>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <div class="special__number">03</div>
                                <div class="special__text">• Gói nâng cấp nội thất trị giá 24.000 AUD</div>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <div class="special__number">04</div>
                                <div class="special__text">• Tặng cặp vé khứ hồi đi Brisbane (~3.000AUD)*</div>
                            </div>
                        </div>
                        <p class="pt-3">*Áp dụng một ngày duy nhất tại sự kiện</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg-benefit bg-full" style="background: url('../images/event/3.png') center/cover no-repeat; margin-left:0; margin-right:calc(50% - 40vw)"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="time overflow-hidden" id="location-time">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="bg-benefit bg-full bg-primary" style="margin-right:0;"></div>
                    <div class="time__wrap d-flex text-white">
                        <div class="time__location">
                            <p class="mb-0 time__location-text">HÀ NỘI</p>
                            <p>
                                <img src="../images/event/15.png" alt="15">
                            </p>
                        </div>
                        <div class="time__event">
                            <strong>
                                <p class="mb-0">Thứ Tư,</p>
                                <p class="date mb-0">30/10/2019</p>
                                <p class="mb-0">10:30 - 12:30</p> 
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg-benefit bg-full bg-dark-primary" style="margin-left:0;"></div>
                    <div class="time__wrap d-flex text-white right">
                        <div class="time__location">
                            <p class="mb-0 time__location-text">TP.HCM</p>
                            <p>
                                <img src="../images/event/15.png" alt="15">
                            </p>
                        </div>
                        <div class="time__event">
                            <strong>
                                <p class="mb-0">Thứ Năm,</p>
                                <p class="date mb-0">31/10/2019</p>
                                <p class="mb-0">10:30 - 12:30</p> 
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="adviser py-4 py-md-5" style="background-color:#00172D">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="col-md-6 text-white">
                    <h3 class="title-border-line white text-uppercase pb-2 mb-3">Trao đổi trực tiếp với</h3>
                    <h2 class="mb-4">Ông Maurice (Morrie) Berez <br> Nguyên Trưởng bộ phận Xét duyệt EB-5 của Sở Di trú Mỹ</h2>
                    <p>• Cố vấn chuyên môn độc quyền của IMM Group cho từng hồ sơ.</p>
                </div>
                <div class="col-md-6">
                    <div class="border-white-img image-center">
                        <img src="../images/event/maurice-berez.png" alt="maurice-berez">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="owner overflow-hidden" id="project-owner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 py-4 py-md-5">
                    <div class="bg-benefit bg-full bg-ED" style="margin-right:0;"></div>
                    <h2 class="font-commerceB">IMM GROUP & CYBARCO</h2>
                    <p><strong>IMM Group tự hào đại diện độc quyền tập đoàn bất động sản Cybarco tại Việt Nam</strong></p>
                    <p>• Cybarco là tập đoàn gia đình thượng lưu, cùng truyền thống phát triển từ thế kỷ 19 (1896), và tiếp tục bền vững sau 4 thế hệ.</p>
                    <p>• Phân khúc chuyên biệt của bất động sản dành cho giới thượng lưu châu Âu</p>
                    <p>• Nhà thầu cho các dự án của chính phủ các nước như <strong> Anh, Hy Lạp, Emirates of Qatar, Bahrain & Kuwait.</strong></p>
                    <p>• Là tập đoàn xây tòa nhà Oval – biểu tượng của đất nước Síp</p>
                    <p>• Tập đoàn duy nhất tại Đảo Síp công bố giá bán biệt thự/giá căn hộ trên web thể hiện sự minh bạch và công bằng cho tất cả khách hàng trong và ngoài </p>
                </div>
                <div class="col-md-6">
                    <div class="border-white-img image-center">
                        <div class="bg-benefit bg-full" style="background: url('../images/event/17.jpg') center/cover no-repeat; margin-left:0; margin-right:calc(50% - 40vw)"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4">
        <div class="container">
            <div class=" owl-carousel owl-theme project__slider-img mb-3">
                <div class="item"><img src="../images/event/18.png" alt="18"></div>
                <div class="item"><img src="../images/event/19.png" alt="19"></div>
                <div class="item"><img src="../images/event/20.png" alt="20"></div>
                <div class="item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                <div class="item"><img src="../images/product/du-an-marina-villars02.jpg" alt="du-an-marina-villars01"></div>
            </div>
        </div>
    </section>
    <section class="project py-4 py-md-5 overflow-hidden" id="project">
        <div class="skew-bg bg-ED"></div>
        <div class="container">
            <div class="project__detail ">
                <div class="row no-gutters mb-3">
                    <div class="col-md-4">
                        <div class="project__name-wrap font-commerceB">
                            <div class="row">
                                <div class="col-3 text-center pr-0">
                                    <h2 class="project__number">01</h2>
                                </div>
                                <div class="col-9">
                                    <h2 class="project__name">Dự án nổi bật Marina Villas - Biệt thự marina <br> giá từ: 2,6 triệu eur</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="video__wrap" style="background: transparent url('../images/product/du-an-marina-villars.jpg') center/cover no-repeat">
                            <video class="video w-100 h-100" poster="../images/event/transparent.png">
                            <source src="https://archive.org/download/ElephantsDream/ed_1024_512kb.mp4" type="video/mp4">
                            <source src="https://archive.org/download/ElephantsDream/ed_hd.ogv" type="video/ogg">
                            <source src="https://archive.org/download/ElephantsDream/ed_hd.avi" type="video/avi">
                            Your browser doesn't support HTML5 video tag.
                        </video>
                            <div class="playpause"></div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel owl-theme project__slider-img mb-3 ">
                    <div class="item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                    <div class="item"><img src="../images/product/du-an-marina-villars01.jpg" alt="du-an-marina-villars01"></div>
                </div>
            </div>
        </div>
    </section>
</div>
{% include "modules/component/register-event.html" %}
<!-- end register -->
{% endblock %}