{% extends 'layouts/application.html' %}{% block bodyClass %}class="dinh-cu-my"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<!-- Breadcrumb  -->
{% include "modules/component/breadcrumb.html" %}
<!-- End breadcrumb  -->
<section class="py-5 bg-white">
    <div class="container">
        <h1 class="mb-4 title text-center "><strong>ĐẦU TƯ ĐỊNH CƯ MỸ</strong></h1>
        <p class="text-justify">Lâu nay chương trình đầu tư <a href="/dinh-cu-my/visa-dinh-cu-eb-5/"><strong>EB-5</strong></a> là phương thức lấy thẻ xanh chính thống và an toàn dành cho số đông. Tuy nhiên, thời gian chờ đợi kéo dài đến 5-7 năm. Và từ 21/11/2019, mức đầu tư
            thông qua trung tâm vùng sẽ tăng từ 500.000USD lên 900.000USD, gây khó khăn nhiều hơn cho việc chứng minh nguồn tiền.</p>
        <p class="text-justify">Bên cạnh chương trình EB-5, một số chương trình khác đang được quảng cáo rầm rộ trên thị trường như <a href="/dinh-cu-my/visa-kinh-doanh-e-2/"><strong>E-2</strong></a>,<a href="/dinh-cu-my/visa-kinh-doanh-e-2/"><strong> L1-A</strong></a> và
            <a href="/dinh-cu-my/visa-kinh-doanh-e-2/"><strong>EB-1C</strong></a>. Tuy nhiên, điều kiện các chương trình này phức tạp và khó hơn so với chương trình EB-5 truyền thống nên nhà đầu tư cần xem xét kỹ lưỡng.</p>
        <p><a href="#!"><strong>IMM Group</strong></a> xin chia sẻ bảng so sánh tổng hợp các quyền lợi và điều kiện cũng như những khó khăn của các chương trình định cư Mỹ để nhà đầu tư có sự am hiểu rõ ràng</p>
    </div>
</section>
<section class="main-banner">
    <img src="../images/US/america-banner.png" alt="banner-my">
</section>
<section class="py-4 py-md-5 compare__country ">
    <div class="container">
        <h2 class="line-title d-inline-block mb-4 mb-md-5">LỰA CHỌN CHƯƠNG TRÌNH ĐẦU TƯ MỸ PHÙ HỢP</h2>
        <div class="row content-row">
            <div class="col-md-6 col-lg-5 my-4 mb-md-5 ">
                <div class="compare__img text-center">
                    <a href="./page-visa-doanh-nhan-L-1A.html" class="d-inline-block">
                        <img class="border-dark" src="../images/US/visa-my-L-1A.jpg" alt="visa-my-L-1A">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="./page-visa-doanh-nhan-L-1A.html">Visa Mỹ L-1A</a></h3>
                </div>
                <div class="row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>Mức đầu tư tùy thuộc vào loại hình kinh doanh</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy visa định cư tạm sang Mỹ điều hành công ty con, làm việc, cho con đi học</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có visa</h4>
                            <ul class="compare__list pl-3">
                                <li>3 tháng (nhanh nhất là 15 ngày)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư/yêu cầu</h4>
                            <ul class="compare__list pl-3">
                                <li>Mở rộng kinh doanh sang Mỹ bằng cách lập công ty con và chuyển nhân sự cấp cao từ công ty mẹ ở Việt Nam sang Mỹ quản lý</li>
                            </ul>
                            <p><i>Đối với công ty:</i></p>
                            <p>– Công ty mẹ ở Việt Nam có quy mô đủ lớn và đủ tài chính để đầu tư sang Mỹ</p>
                            <p>– Công ty ở Mỹ phải là công ty con hoặc đồng sở hữu của công ty mẹ tại Việt Nam. Có quy mô đủ lớn đòi hỏi cần có nhân sự cấp cao từ Việt Nam sang Mỹ để điều hành</p>
                            <p><i>Đối với nhà đầu tư:</i></p>
                            <p>– Đang giữ vị trí quản lý cấp cao tại công ty mẹ ở Việt Nam</p>
                            <p>– Đủ năng lực và kinh nghiệm sang Mỹ đảm nhận vị trí quản lý cấp cao, vận hành công ty con.</p>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Thời gian thực hiện nhanh chóng, tối thiểu chỉ 15 ngày</li>
                                <li>Cả gia đình được tự do sinh sống, học tập và làm việc tại Mỹ theo thời hạn visa được cấp</li>
                                <li>Con cái dưới 21 tuổi được học phổ thông miễn phí tại trường công như người bản xứ</li>
                                <li>Sau tối thiểu 1 năm kinh doanh tại Mỹ, nếu doanh nghiệp hoạt động hiệu quả và có kế hoạch phát triển lâu dài tại Mỹ, nhà đầu tư có thể nộp hồ sơ xin visa định cư Mỹ EB-1C</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 ">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Sau 1 năm đầu, công ty con tại Mỹ phải chứng minh khả năng kinh doanh hiệu quả thì quản lý cấp cao mới được tiếp tục ở lại Mỹ. Điều này có thể gây khó khăn cho những nhà đầu tư thiếu sự chuẩn bị chu đáo cho kế hoạch kinh
                                    doanh tại Mỹ.</li>
                                <li>Visa L-1A là visa định cư tạm. Gia hạn lần đầu: sau 1 năm. Các lần sau, 2 năm/lần.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-2"></div>
            <div class="col-md-6 col-lg-5 my-4 mb-md-5 ">
                <div class="compare__img text-center">
                    <a href="./page-visa-kinh-doanh-E-2.html" class="d-inline-block">
                        <img class="border-dark" src="../images/US/visa-my-E-2.jpg" alt="visa-my-E-2">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="./page-visa-kinh-doanh-E-2.html">Visa Kinh Doanh E-2</a></h3>
                </div>
                <div class="row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>Mức đầu tư tùy thuộc vào loại hình kinh doanh</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy visa định cư tạm sang Mỹ kinh doanh, làm việc, cho con đi học</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có visa</h4>
                            <ul class="compare__list pl-3">
                                <li>6 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư/yêu cầu</h4>
                            <ul class="compare__list pl-3">
                                <li>Đầu tư một khoản nhất định vào doanh nghiệp mới hoặc sẵn có tại Mỹ</li>
                            </ul>
                            <p>Tuy nhiên, visa E-2 chỉ dành cho công dân các nước ký Hiệp ước Thương mại đặc biệt với Mỹ. Để lấy visa E-2, nhà đầu tư cần qua bước đệm là lấy quốc tịch của <strong>một nước có Hiệp ước đặc biệt này.</strong> Trong số này,
                                hiện <strong>Grenada</strong> có chương trình đầu tư lấy quốc tịch giá thấp nhất và nhanh chóng.</p>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Là chương trình lấy visa sang Mỹ nhanh chóng với mức đầu tư tương đối thấp</li>
                                <li>Có quốc tịch Grenada, được tự do đi lại, miễn visa đến 131 nước bao gồm khối Schengen & EU</li>
                                <li>Nhà đầu tư cùng vợ/chồng và con cái dưới 21 tuổi có thể sang Mỹ tự do làm việc, kinh doanh và học tập theo thời hạn visa được cấp</li>
                                <li>Sở hữu doanh nghiệp tại Mỹ để kinh doanh, thu lợi nhuận</li>
                                <li>Không phải đóng thuế toàn cầu</li>
                                <li>Con cái được học phổ thông miễn phí tại trường công</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 ">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Visa đầu tư E-2 là visa có thời hạn 2-5 năm. Visa có thể gia hạn nhiều lần nếu doanh nghiệp còn hoạt động.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row content-row">
            <div class="col-md-6 col-lg-5 my-4 mb-md-5 ">
                <div class="compare__img text-center">
                    <a href="#!" class="d-inline-block">
                        <img class="border-dark" src="../images/US/visa-my-EB-5-EB-1C.jpg" alt="visa-my-EB-5">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="#!">Visa Định Cư EB-5</a></h3>
                </div>
                <div class="row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>11,6 tỷ đồng<br>(500.000USD)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy thẻ xanh Mỹ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có thẻ xanh</h4>
                            <ul class="compare__list pl-3">
                                <li>5-7 năm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư/yêu cầu</h4>
                            <ul class="compare__list pl-3">
                                <li>Đầu tư vào dự án đã được Chính phủ Mỹ chấp thuận. Khoản đầu tư sẽ được hoàn lại sau tối thiểu 5 năm</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhà đầu tư cùng vợ/chồng và con dưới 21 tuổi sẽ có thẻ xanh <strong>định cư Mỹ</strong></li>
                                <li>Miễn visa đến 170 nước và vùng lãnh thổ</li>
                                <li>Cả gia đình được tự do sinh sống, làm việc và học tập tại bất kỳ bang nào của <strong>Mỹ</strong></li>
                                <li>Hưởng đầy đủ quyền lợi y tế, giáo dục và an sinh xã hội như công dân Mỹ (trừ quyền bầu cử)</li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT. Học đại học với mức chi phí chỉ bằng ⅓ du học sinh</li>
                                <li>Cơ hội tìm việc làm không bị hạn chế.</li>
                                <li>Sau 5 năm từ ngày được cấp thẻ xanh, nhà đầu tư và gia đình có thể nộp đơn xin nhập quốc tịch <strong>Mỹ.</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 ">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Thời gian chờ cấp thẻ xanh lâu, không phù hợp với những gia đình muốn sang Mỹ nhanh cho con đi học</li>
                                <li>Sau 21/11, mức đầu tư sẽ tăng đến <strong>900.000USD</strong>, điều kiện phê duyệt các dự án đầu tư cũng sẽ khó khăn hơn.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-2"></div>
            <div class="col-md-6 col-lg-5 my-4 mb-md-5 ">
                <div class="compare__img text-center">
                    <a href="./page-visa-dinh-cu-EB-1C.html" class="d-inline-block">
                        <img class="border-dark" src="../images/US/visa-my-EB-5-EB-1C.jpg" alt="visa-my-EB-1C">
                    </a>
                    <h3 class="mt-2 compare__country-name"><a href="./page-visa-dinh-cu-EB-1C.html">Visa Định Cư EB-1C</a></h3>
                </div>
                <div class="row mt-4 text-left px-2">
                    <div class="col-md-12 mb-3">
                        <div class="content_1 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mức đầu tư</h4>
                            <ul class="compare__list pl-3">
                                <li>Mức đầu tư tùy thuộc vào loại hình kinh doanh</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_2 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Mục đích chương trình</h4>
                            <ul class="compare__list pl-3">
                                <li>Lấy thẻ xanh Mỹ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_3 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Thời gian có thẻ xanh</h4>
                            <ul class="compare__list pl-3">
                                <li>Từ 6 tháng</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_4 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Hình thức đầu tư/yêu cầu</h4>
                            <ul class="compare__list pl-3">
                                <li>Có công ty tại Mỹ đã hoạt động tối thiểu 1 năm. Công ty đang hoạt động hiệu quả và có kế hoạch kinh doanh khả thi để tiếp tục phát triển.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_5 border-bottom-dark ">
                            <h4 class="compare__title text-blue">Quyền lợi</h4>
                            <ul class="compare__list pl-3">
                                <li>Nhà đầu tư cùng vợ/chồng và con dưới 21 tuổi sẽ có thẻ xanh <strong> định cư Mỹ </strong></li>
                                <li>Miễn visa đến 170 nước và vùng lãnh thổ</li>
                                <li>Cả gia đình được tự do sinh sống, làm việc và học tập tại bất kỳ bang nào của <strong>Mỹ</strong></li>
                                <li>Hưởng đầy đủ quyền lợi y tế, giáo dục và an sinh xã hội như công dân Mỹ (trừ quyền bầu cử)</li>
                                <li>Con cái được học miễn phí tại các trường công đến hết THPT. Học đại học với mức chi phí chỉ bằng 1/3 du học sinh</li>
                                <li>Được quyền nộp đơn xin Chính phủ Mỹ hỗ trợ về tài chính và giáo dục</li>
                                <li>Cơ hội tìm việc làm không bị hạn chế.</li>
                                <li>Sau 5 năm từ ngày được cấp thẻ xanh, nhà đầu tư và gia đình có thể nộp đơn xin nhập quốc tịch <strong>Mỹ.</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="content_6 ">
                            <h4 class="compare__title text-blue">Khó khăn</h4>
                            <ul class="compare__list pl-3">
                                <li>Chỉ dành cho những nhà đầu tư đã có doanh nghiệp tại Mỹ</li>
                                <li>Cần chứng minh được khả năng hoạt động của doanh nghiệp ở Mỹ và kế hoạch phát triển lâu dài.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="btn-actions mt-3">
                            <p>
                                <a href="#!" class="btn__more">Tìm hiểu thêm <span class="btn__icon arrow_carrot-right"></span></a>
                            </p>
                            <p class="mb-0">
                                <a class="btn btn__register" href="#register">Đánh giá hồ sơ miễn phí</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="share-section bg-secondary py-3 text-white">
    <div class="container text-center">
        <div class="d-flex d-flex-col align-items-center justify-content-center">
            <span class="mr-3">Chia sẻ:</span>
            <ul class="list-inline d-flex ">
                <li class="list-inline-item icon_facebook"><a href="#!" title="facebook"><span class="social_facebook_circle"></span></a></li>
                <li class="list-inline-item icon_zalo"><a href="#!" title="zalo"><span class="social_zalo_circle"><img src="../images/icon/icon_zalo.png" alt="icon_zalo"></span></a></li>
                <li class="list-inline-item icon_twitter"><a href="#!" title="twitter"><span class="social_twitter_circle"></span></a></li>
                <li class="list-inline-item icon_linkedin"><a href="#!" title="linkedin"><span class="social_linkedin_circle"></span></a></li>
                <li class="list-inline-item icon_copylink"><a href="#!" title="copylink"><span class=" icon_link_alt"></span></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Blog  -->
{% include "modules/component/blog.html" %}
<!-- end blog  -->
{% include "modules/component/register-footer.html" %}
<!-- end register -->
{% endblock %}