<section class="blog__panel bg-white py-4 py-md-5">
    <div class="container">
        <h2 class="line-title d-inline-block">BÀI VIẾT LIÊN QUAN</h2>
        <div class="blog__wrap">
            <div class="row content-row">
                <div class="col-md-4 mb-4 ">
                    <div class="blog__wrap border-bottom-dark pb-4">
                        <div class="blog__image content_1">
                            <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                                <div class="image-box">
                                    <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                                </div>
                            </a>
                        </div>
                        <h3 class="blog__title mb-2 content_2">
                            <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                        </h3>
                        <div class="blog__date mb-2"><small>18/10/2019</small> </div>
                        <div class="blog__des content_3">
                            Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 ">
                    <div class="blog__wrap border-bottom-dark pb-4">
                        <div class="blog__image content_1">
                            <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                                <div class="image-box">
                                    <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                                </div>
                            </a>
                        </div>
                        <h3 class="blog__title mb-2 content_2">
                            <a href="#">Đầu tư định cư EB-5 là lựa chọn tốt nhất để đảm bảo tương lai cho con</a>
                        </h3>
                        <div class="blog__date mb-2"><small>18/10/2019</small> </div>
                        <div class="blog__des content_3">
                            Đầu tư định cư EB-5 là con đường lấy thẻ xanh Mỹ chính thống an toàn nhất hiện nay. Một trong những lý do hàng đầu thúc đẩy nhiều người chọn EB-5 là
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 ">
                    <div class="blog__wrap border-bottom-dark pb-4">
                        <div class="blog__image content_1">
                            <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                                <div class="image-box">
                                    <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                                </div>
                            </a>
                        </div>
                        <h3 class="blog__title mb-2 content_2">
                            <a href="#">25 thành phố giàu nhất nước Mỹ – Kỳ cuối</a>
                        </h3>
                        <div class="blog__date mb-2"><small>18/10/2019</small> </div>
                        <div class="blog__des content_3">
                            Mỹ là một trong những siêu cường quốc có nền kinh tế phát triển với những thành phố thịnh vượng bậc nhất. Mới đây, trang
                        </div>
                    </div>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4 mb-4 ">
                    <div class="blog__wrap border-bottom-dark pb-4">
                        <div class="blog__image content_1">
                            <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                                <div class="image-box">
                                    <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                                </div>
                            </a>
                        </div>
                        <h3 class="blog__title mb-2 content_2">
                            <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                        </h3>
                        <div class="blog__date mb-2"><small>18/10/2019</small> </div>
                        <div class="blog__des content_3">
                            Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 ">
                    <div class="blog__wrap border-bottom-dark pb-4">
                        <div class="blog__image content_1">
                            <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                                <div class="image-box">
                                    <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                                </div>
                            </a>
                        </div>
                        <h3 class="blog__title mb-2 content_2">
                            <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                        </h3>
                        <div class="blog__date mb-2"><small>18/10/2019</small> </div>
                        <div class="blog__des content_3">
                            Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 ">
                    <div class="blog__wrap border-bottom-dark pb-4">
                        <div class="blog__image content_1">
                            <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                                <div class="image-box">
                                    <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                                </div>
                            </a>
                        </div>
                        <h3 class="blog__title mb-2 content_2">
                            <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                        </h3>
                        <div class="blog__date mb-2"><small>18/10/2019</small> </div>
                        <div class="blog__des content_3">
                            Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                        </div>
                    </div>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4 mb-4 ">
                    <div class="blog__wrap border-bottom-dark pb-4">
                        <div class="blog__image content_1">
                            <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                                <div class="image-box">
                                    <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                                </div>
                            </a>
                        </div>
                        <h3 class="blog__title mb-2 content_2">
                            <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                        </h3>
                        <div class="blog__date mb-2"><small>18/10/2019</small> </div>
                        <div class="blog__des content_3">
                            Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 ">
                    <div class="blog__wrap border-bottom-dark pb-4">
                        <div class="blog__image content_1">
                            <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                                <div class="image-box">
                                    <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                                </div>
                            </a>
                        </div>
                        <h3 class="blog__title mb-2 content_2">
                            <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                        </h3>
                        <div class="blog__date mb-2"><small>18/10/2019</small> </div>
                        <div class="blog__des content_3">
                            Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 ">
                    <div class="blog__wrap border-bottom-dark pb-4">
                        <div class="blog__image content_1">
                            <a href="#" title="Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD">
                                <div class="image-box">
                                    <div class="image" style="background-image:url('../../images/blog-image.png')"></div>
                                </div>
                            </a>
                        </div>
                        <h3 class="blog__title mb-2 content_2">
                            <a href="#">Chỉ còn 3 ngày để tranh thủ đầu tư EB-5 mức 500.000 USD</a>
                        </h3>
                        <div class="blog__date mb-2"><small>18/10/2019</small> </div>
                        <div class="blog__des content_3">
                            Ngày ưu tiên xếp lịch phỏng vấn cấp visa của Việt Nam theo bản tin visa EB-5 tháng 11/2019 không thay đổi nhiều so với tháng 10. Tuy nhiên,...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination  -->
        {% include "modules/component/pagination.html" %}
        <!-- end pagination  -->
    </div>
</section>