<div class="header__bottom">
    <div class="d-flex align-items-sm-center d-sm-reverse justify-content-sm-between">
        <div class="left">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>Đầu tư định cư châu Âu</span></li>
                </ol>
            </nav>
        </div>
        <div class="right d-flex align-items-center">
            <div class="header__switch-language switch-language">
                <ul class="d-flex align-items-center">
                    <li class="active"><a href="#!"><span>Tiếng Việt</span></a></li>
                    <li><a href="#!"><span>English</span></a></li>
                </ul>
            </div>
            <div class="header__search">
                <a href="#!" id="btnSearch" class="btn-search">
                    <span class="header__icon icon_search"></span>
                </a>
            </div>
        </div>
    </div>
</div>