<div class="header__bottom">
    <div class="d-flex align-items-sm-center d-sm-reverse justify-content-sm-between">
        <div class="left">
            <nav aria-label="breadcrumb">
                <div id="breadcrumbs" class="breadcrumb"><span><span><a href="https://www.whiskyhollywood.com/vi/">Trang chủ</a> <span aria-hidden="true" class="arrow_carrot-right"></span> <span><a href="https://www.whiskyhollywood.com/category/latest-updates/">Latest Updates</a> <span aria-hidden="true" class="arrow_carrot-right"></span> <span class="breadcrumb_last" aria-current="page">Chủ sở hữu kiêm nhà phát triển dự án Whisky Hotel – Ông Adolfo Suaya</span></span></span></span></div>						</nav>
        </div>
    </div>
</div>