<!-- Modal -->
<div class="modal fade questionModal" id="questionModal" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="questionModalTitle" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered scrollbar" role="document" id="style-4">
        <div class="modal-content container">
            <div class="modal-header text-center px-0">
                <h5 class="modal-title h2 text-primary w-100 title-mb ">ĐÁNH GIÁ HỒ SƠ E-2/L-1A/EB-1C TRỰC TUYẾN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body overflow-hidden"><iframe width="300" height="150" id="iframeregister" class="iframe-class iframeregister" src="https://crm.imm.group/surveys/l1a-form.aspx" allow="encrypted-media" scrolling="auto" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
        </div>
    </div>
</div>

<!-- Modal chuong trinh uc -->
<div class="modal fade questionModal" id="questionModalUc" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="questionModalTitle" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered scrollbar" role="document" id="style-4">
        <div class="modal-content container">
            <div class="modal-header text-center px-0">
                <h5 class="modal-title h2 text-primary w-100 title-mb ">ĐÁNH GIÁ HỒ SƠ 188A/188B/188C và 132A TRỰC TUYẾN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body overflow-hidden"><iframe width="300" height="150" id="iframeregisteruc" class="iframe-class iframeregister" src="https://crm.imm.group/surveys/form-danh-gia-truc-tuyen-chuong-trinh-uc.aspx" allow="encrypted-media" scrolling="auto" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
        </div>
    </div>
</div>

<!-- Modal chuong trinh chau au -->
<div class="modal fade questionModal" id="questionModalEU" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="questionModalTitle" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered scrollbar" role="document" id="style-4">
        <div class="modal-content container">
            <div class="modal-header text-center px-0">
                <h5 class="modal-title h2 text-primary w-100 title-mb ">ĐÁNH GIÁ & CHỌN CHƯƠNG TRÌNH CHÂU ÂU PHÙ HỢP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body overflow-hidden"><iframe width="300" height="150" id="iframeregistereu" class="iframe-class iframeregister" src="https://crm.imm.group/surveys/form-danh-gia-truc-tuyen-chuong-trinh-chau-au.aspx" allow="encrypted-media" scrolling="auto" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
        </div>
    </div>
</div>