<section class="register bg-white" id="register">
    <div class="container">
        <div class="py-4 p-md-4 p-lg-5">
            <div class="register__wrap p-3 p-md-4 p-lg-5">
                <h2 class="register__title text-uppercase title text-center">ĐĂNG KÝ THAM DỰ SỰ KIỆN</h2>
                <p class="register__summary font-weight-light text-center"> Sự kiện ĐẶC BIỆT DÀNH RIÊNG cho 50 NHÀ ĐẦU TƯ nghiêm túc & nhận được thiệp mời chính thức từ IMM Group.</p>
                <div class="register__form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input class="form-control register__input" type="text" placeholder="Tên">
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control register__input" type="text" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control register__input" type="text" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control">
                                <option value="hide">-Địa điểm tham dự sự kiện-</option>
                                <option value="hcm">TP. Hồ Chí Minh</option>
                                <option value="hn">Hà Nội</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <div class="register__action">
                            <input type="submit" value="Gửi" class="btn register__btn">
                            <span class="ajax-loader"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="register bg-white" id="register">
    <div class="container">
        <div class="py-4 p-md-4 p-lg-5">
            <div class="register__wrap p-3 p-md-4 p-lg-5">
                <h2 class="register__title text-uppercase title text-center">SỰ KIỆN ĐÃ KẾT THÚC</h2>
                <p class="register__summary font-weight-light text-center"> Sự kiện đã kết thúc, quý khách quan tâm đến sự kiện vui lòng đăng ký tại đây</p>
                <div class="register__form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input class="form-control register__input" type="text" placeholder="Tên">
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control register__input" type="text" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control register__input" type="text" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control">
                                    <option value="hide">-Địa điểm tham dự sự kiện-</option>
                                    <option value="hcm">TP. Hồ Chí Minh</option>
                                    <option value="hn">Hà Nội</option>
                                </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <textarea class="form-control register__input" cols="100" rows="3" placeholder="Nhu cầu khác cần được tư vấn"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <div class="register__action">
                            <input type="submit" value="Gửi" class="btn register__btn">
                            <span class="ajax-loader"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>