<section class="register bg-white" id="register">
    <div class="container">
        <div class="py-4 p-md-4 p-lg-5">
            <div class="register__wrap p-3 p-md-4">
                <h2 class="register__title text-uppercase title text-center mb-4">yêu cầu chuyên viên tư vấn gọi lại</h2>
                <div class="row">
                    <div class="form-group col-md-4">
                        <input class="form-control register__input" type="text" placeholder="Tên">
                    </div>
                    <div class="form-group col-md-4">
                        <input class="form-control register__input" type="text" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group col-md-4">
                        <input class="form-control register__input" type="text" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8">
                        <select class="form-control">
                        <option value="hide">-Quốc gia nhà đầu tư quan tâm -</option>
                        <option value="Mỹ">Mỹ</option>
                        <option value="Úc">Úc</option>
                        <option value="Canada">Canada</option>
                        <option value="Các nước châu Âu">Các nước châu Âu</option>
                        <option value="Vùng Caribbean">Vùng Caribbean</option>
                        <option value="Chưa xác định">Chưa xác định</option>
                    </select>
                    </div>
                    <div class="form-group col-md-4">
                        <select class="form-control">
                        <option value="hide">-Văn phòng tư vấn-</option>
                        <option>Phía Nam: Vp Tp. Hồ Chí Minh</option>
                        <option>Phía Bắc: Vp Hà Nội</option>
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8">
                        <textarea class="form-control register__input" cols="100" rows="3" placeholder="Nhu cầu khác cần được tư vấn"></textarea>
                    </div>
                    <div class="form-group col-md-4">
                        reCaptcha
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="register__action">
                            <input type="submit" value="Gửi" class="btn register__btn">
                            <span class="ajax-loader"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>