<div class="sidebar-blog">
    <div class="blog__wrap border-bottom-dark mb-4">
        <div class="blog__image content_1 mb-3">
            <a href="#">
                <div class="image-box">
                    <div class="image" style="background-image:url('../../images/blog/5.png')"></div>
                </div>
            </a>
        </div>
        <h3 class="blog__title mb-2 content_2">
            <a href="#">Đầu tư định cư EB-5 là lựa chọn tốt nhất để đảm bảo tương lai cho con</a>
        </h3>
        <div class="d-flex justify-content-between">
            <div class="blog__date mb-2"><small>18/10/2019</small> </div>
            <div class="blog__share">
                <a href="#!" class="text-secondary">
                    <span class="social_share"></span>
                    <span>Chia sẻ</span>
                </a>
            </div>
        </div>
    </div>
    <div class="blog__wrap border-bottom-dark mb-4">
        <div class="blog__image content_1 mb-3">
            <a href="#">
                <div class="image-box">
                    <div class="image" style="background-image:url('../../images/blog/6.png')"></div>
                </div>
            </a>
        </div>
        <h3 class="blog__title mb-2 content_2">
            <a href="#">Đầu tư định cư EB-5 là lựa chọn tốt nhất để đảm bảo tương lai cho con</a>
        </h3>
        <div class="d-flex justify-content-between">
            <div class="blog__date mb-2"><small>18/10/2019</small> </div>
            <div class="blog__share">
                <a href="#!" class="text-secondary">
                    <span class="social_share"></span>
                    <span>Chia sẻ</span>
                </a>
            </div>
        </div>
    </div>
    <div class="blog__wrap border-bottom-dark mb-4">
        <div class="blog__image content_1 mb-3">
            <a href="#">
                <div class="image-box">
                    <div class="image" style="background-image:url('../../images/blog/7.png')"></div>
                </div>
            </a>
        </div>
        <h3 class="blog__title mb-2 content_2">
            <a href="#">Đầu tư định cư EB-5 là lựa chọn tốt nhất để đảm bảo tương lai cho con</a>
        </h3>
        <div class="d-flex justify-content-between">
            <div class="blog__date mb-2"><small>18/10/2019</small> </div>
            <div class="blog__share">
                <a href="#!" class="text-secondary">
                    <span class="social_share"></span>
                    <span>Chia sẻ</span>
                </a>
            </div>
        </div>
    </div>
</div>