<ul class="social-group">
    <li>
        <a class="social-icon" href="https://www.facebook.com/www.imm.group/"><img src="../../../images/face-book-icon.png" alt="face-book"></a>
    </li>
    <li>
        <a class="social-icon" href="https://zalo.me/2927588750558753244"><img src="../../../images/zalo-icon.png" alt="zalo"></a>
    </li>
    <li>
        <a class="social-icon" href="https://www.youtube.com/channel/UCnL8Nygh4_S3loV2rgSR8jw"><img src="../../../images/youtube-icon.png" alt="youtube"></a>
    </li>
</ul>