.compare {
    &__country-name {
        a {
            color: $black;
            font-size: rem(30);
            &:hover {
                color: $primary
            }
        }
    }
    &__title {
        font-size: 1rem;
        font-weight: $font-weight-bold;
    }
    &__country {
        ul,
        ol {
            list-style: disc;
            padding-left: 1rem;
            li {
                padding-bottom: .5rem;
            }
        }
        .btn {
            &__register {
                padding: 0.375rem 1.5rem;
            }
            &__more {
                font-weight: normal;
            }
        }
    }
}

.share-section {
    // a {
    //     color: $white;
    //     font-size: rem(39);
    //     &:hover {
    //         color: #a9a9a9;
    //     }
    // }
    .zalo-share-button {
        margin-top: 0 !important;
    }
    ul li {
        vertical-align: middle;
        &.icon_zalo span {
            display: inline-block;
            vertical-align: text-top;
        }
        span {
            display: inline-block;
            width: rem(40);
            height: rem(40);
            background-color: $white;
            border-radius: 100%;
            &:before {
                font-size: 1.5rem;
                vertical-align: middle;
                line-height: rem(37);
            }
        }
        a {
            color: $secondary;
            display: inline-block;
            vertical-align: middle;
            &:hover {
                color: #a9a9a9
            }
        }
        &.icon_copylink a {
            &:active,
            &:focus {
                color: #000
            }
            @include media-breakpoint-down(sm) {
                @include hover-focus-active {
                    color: #fff;
                    span {
                        background-color: #a9a9a9;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .compare__country-name a {
        font-size: rem(20);
    }
}

@include media-breakpoint-down(md) {
    .compare {
        &__country .btn__register {
            padding: 0.375rem 1rem;
            font-size: 14px;
        }
    }
}