.product-page {
    .bg-gray {
        background-color: #F7F7F7;
    }
    .bg-dark-gray {
        background-color: #E8E8E8;
    }
    .summary {
        ul {
            list-style: disc;
            padding-left: 1rem;
        }
    }
    .top-text {
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 0;
        }
    }
    .right-text {
        h3 {
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 0;
            margin-top: 2px;
        }
        p {
            margin-bottom: 0;
        }
        ul {
            list-style-type: disc;
            padding-left: 1rem;
        }
    }
    .whatis-content ul {
        list-style-type: disc;
        padding-left: 1rem;
    }
    .submenu-linkto {
        padding: 1.5rem 0;
        li {
            display: inline-block;
            margin-right: .5rem;
            padding-right: .8rem;
            position: relative;
            white-space: nowrap;
            &:after {
                content: "|";
                position: absolute;
                right: 0;
                top: 0
            }
            &:last-child:after {
                content: "";
            }
            a {
                color: $body-color;
                font-weight: 500;
            }
        }
    }
    .advantages__icon {
        max-width: 5rem;
        min-width: 5rem;
    }
    .condition__icon {
        max-width: 2rem;
        min-width: 2rem;
        padding-right: 0;
    }
    .process {
        &__wrap {
            position: relative;
            margin-bottom: 5rem;
            &:after {
                position: absolute;
                content: "";
                height: 105%;
                width: 2px;
                background-color: $secondary;
                top: -1%;
                left: 6.45rem;
            }
        }
        &__row {
            display: flex;
            margin: 0 0 1.5rem
        }
        &__icon {
            width: rem(80px);
            height: rem(80px);
            border: 2px solid $secondary;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
            img {
                margin: auto;
            }
            &:after {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background-color: $secondary;
                border-radius: 100%;
                left: calc(100% + 21px);
                top: calc((100% - 10px)/2);
            }
        }
        &__steps {
            display: -ms-flexbox;
            display: flex;
            margin: 0 0 0 1.5rem;
            -ms-flex-align: center;
            align-items: center;
            border-bottom: 2px dashed #969696;
            padding: 1rem 0 1rem 1.5rem;
            flex-grow: 2;
            max-width: 65%;
        }
        &__step {
            text-align: center;
            font-weight: $font-weight-bold;
            span {
                background-color: $secondary;
                padding: .5rem 2rem;
                color: #fff;
                white-space: nowrap;
                display: inline-block;
            }
        }
        &__des {
            font-weight: 500;
            margin-left: 1rem;
            padding: 0 1rem;
            ul {
                list-style: disc;
            }
            h3 {
                font-size: 1rem;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        .top-text {
            padding: 1rem
        }
    }
    @include media-breakpoint-only(md) {
        .column-md {
            flex-direction: column;
            text-align: center;
        }
    }
    @include media-breakpoint-down(md) {
        .submenu-linkto {
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
        }
    }
    @include media-breakpoint-down(sm) {
        .banner__row {
            flex-direction: column-reverse;
        }
        .condition__icon {
            max-width: 1.5rem;
            min-width: 1.5rem;
        }
        .advantages__icon {
            max-width: 3.5rem;
            min-width: 3.5rem;
        }
        .submenu-linkto {
            display: block;
            li {
                display: block;
                margin-bottom: .5rem;
                padding-right: 0;
                padding-left: 1rem;
                font-size: rem(14);
                &:last-child {
                    margin-bottom: 0;
                    &:after {
                        content: "-"
                    }
                }
                &:after {
                    content: "-";
                    right: auto;
                    left: 0
                }
            }
        }
        .process {
            &__wrap:after {
                left: 0;
            }
            &__icon {
                display: none;
            }
            &__steps {
                margin-left: 0;
                position: relative;
                max-width: unset;
                padding-left: 1rem;
                .text-primary {
                    margin-bottom: .5rem;
                    font-size: rem(13);
                }
                &:after {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    background-color: $secondary;
                    border-radius: 100%;
                    left: -4px;
                    top: calc((100% - 10px)/2);
                }
            }
            &__step {
                span {
                    font-size: rem(13);
                    padding: .2rem 1rem;
                }
            }
            &__des {
                padding: 0;
                margin-left: 1.5rem;
            }
            &__row {
                margin-bottom: 0;
            }
        }
    }
}

.project {
    position: relative;
    overflow: hidden;
    iframe {
        position: relative;
        z-index: 1;
    }
    &__number {
        font-size: rem(80);
        line-height: 70px;
    }
    &__name {
        line-height: 36px;
    }
    &__name-wrap {
        background-color: $secondary;
        color: $white;
        text-transform: uppercase;
        padding: 2rem;
        height: 100%;
    }
    &__name-wrap-style02 {
        padding: 2rem;
        border: 1px solid $black;
        margin-right: -1px;
        height: 100%;
        text-transform: uppercase;
    }
    &__slider-img,
    &__detail {
        position: relative;
        z-index: 2;
    }
    @include media-breakpoint-down(lg) {
        &__name {
            line-height: 30px;
            font-size: 1.5rem;
        }
        &__number {
            font-size: 3rem;
            line-height: 45px;
        }
    }
    @include media-breakpoint-down(md) {
        &__name-wrap-style02,
        &__name-wrap {
            padding: 1rem
        }
        &__name {
            line-height: 25px;
            font-size: 1.2rem;
        }
    }
    @include media-breakpoint-down(sm) {
        &__name-wrap-style02,
        &__name-wrap {
            margin-right: 0;
            margin-bottom: -1px
        }
        iframe {
            height: 270px
        }
    }
}

.project-style-01 {
    &__item {
        height: 100%;
    }
    &__name {
        font-size: rem(20);
        a {
            color: $secondary;
            border-bottom: 1px solid transparent;
            &:hover {
                border-bottom-color: $secondary;
            }
        }
    }
    &__wrap {
        box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 1rem;
    }
    .image-box::before {
        padding-top: 70%;
    }
    &__sub-des {
        color: #4C4C4C;
        padding-bottom: .7rem;
        border-bottom: 1px solid #4c4c4c;
        margin-bottom: 1rem;
        p {
            margin-bottom: 0;
        }
    }
    &__des {
        ul {
            list-style: disc;
            padding-left: 1rem;
            li {
                margin-bottom: .5rem;
            }
        }
    }
    .action-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .view-more {
            font-weight: 700;
            color: $secondary;
            display: flex;
            align-items: center;
            span:before {
                font-size: 1.6rem;
            }
            &:hover {
                color: lighten($secondary, 15%)
            }
        }
    }
    @include media-breakpoint-down(md) {
        .btn__register {
            font-size: 14px;
            min-width: inherit;
            min-height: inherit;
            padding: 0.3rem 1rem;
        }
        &__wrap {
            padding: 0 !important;
            box-shadow: none;
        }
    }
}