.breadcrumb {
    margin-bottom: 0;
    font-size: rem(14);
    a {
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom-color: $header-bottom-text;
        }
    }
    span.current {
        color: $gray-500
    }
}

@include media-breakpoint-down(sm) {
    .breadcrumb {
        font-size: rem(12);
    }
}