.breadcrumb {
    margin-bottom: 0;
    font-weight: 700;
    a {
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom-color: $header-bottom-text;
        }
    }
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        .arrow_carrot-right{
            padding: 0 1.5rem;
        }
    }
    span.current {
        color: $gray-500
    }
}

@include media-breakpoint-down(sm) {
    .breadcrumb {
        font-size: rem(12);
        span{
            .arrow_carrot-right{
                padding: 0 0.2rem;
            }
        }
    }
}