.social {
    &-group {
        li {
            display: inline-block;
            &:hover {
                opacity: .8;
            }
        }
    }
    &-icon {
        display: inline-block;
        vertical-align: middle;
    }
}