@media (min-width: 768px) {
    .releases {
        .carousel-item-right.active,
        .carousel-item-next {
            transform: translateX(50%);
        }
        .carousel-item-left.active,
        .carousel-item-prev {
            transform: translateX(-50%);
        }
    }
    
}

/* large - display 3 */
@media (min-width: 992px) {
    .releases {
        .carousel-item-right.active,
        .carousel-item-next {
            transform: translateX(33%);
        }
        .carousel-item-left.active,
        .carousel-item-prev {
            transform: translateX(-33%);
        }
    }  
}

@media (max-width: 768px) {
    .releases {
        .carousel-item>div {
            display: none;
        }
        .carousel-item>div:first-child {
            display: block;
        }
    } 
}
.releases {
    .carousel-item-right,
    .carousel-item-left {
        transform: translateX(0);
    }
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev{
        display: flex;
    }
    .carousel-control-prev,
    .carousel-control-next{
        width: 33%;
        opacity: 1;
        font-size: 2.2rem;
    }
    .carousel-control-prev{
        background: linear-gradient(90deg, #000033 50%, #ffffff00 100% );
    }
    .carousel-control-next{
        background: linear-gradient(-90deg, #000033 50%, #ffffff00 100% );
    }
    .carousel-indicators{
        margin-top: 35px;
    }
}
.carousel-indicators {
    position: static;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px;
}