.title {
    font-family: 'commerceB', sans-serif;
    font-size: rem(40);
    @include media-breakpoint-down(lg) {
        font-size: rem(30);
    }
    // @include media-breakpoint-down(xs) {
    //     font-size: rem(25);
    // }
}

.title-mb {
    font-weight: bold;
    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
    }
    @include media-breakpoint-down(sm) {
        font-size: 1rem;
    }
}

.line-title {
    font-family: 'commerceB', sans-serif;
    font-size: rem(28);
    color: $main-title-text-color;
    border-bottom: 2px solid $main-title-line-second-color;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 2rem;
    &:after {
        position: absolute;
        height: 2px;
        width: 35%;
        content: '';
        left: 0;
        bottom: -2px;
        background-color: $main-title-line-color;
    }
    @include media-breakpoint-down(lg) {
        margin-bottom: 1.5rem;
    }
    @include media-breakpoint-down(sm) {
        // font-size: 1.3rem;
        font-size: 1.5rem;
    }
}

.line-title-w-number {
    display: flex;
    font-family: 'commerceB', sans-serif;
    align-items: flex-start;
    margin-bottom: 2rem;
    .title__text {
        font-size: rem(20);
        line-height: rem(26);
        border-bottom: 2px solid $main-title-line-second-color;
        padding-bottom: 5px;
        position: relative;
        &:after {
            position: absolute;
            height: 2px;
            width: 35%;
            content: '';
            left: 0;
            bottom: -2px;
            background-color: $main-title-line-color;
        }
    }
    .title__number {
        font-size: rem(40);
        line-height: 1;
        margin-right: .5rem
    }
    .title__icon {
        max-width: rem(40);
    }
}

.line-title-w-number-no-line {
    @extend .line-title-w-number;
    align-items: baseline;
    font-family: $font-family-base;
    margin-bottom: 1rem;
    .title__text {
        font-size: 1rem;
        border-bottom: 0;
        padding: 0;
        line-height: 1rem;
        font-weight: bold;
        &:after {
            display: none;
        }
    }
    .title__number {
        font-size: rem(34);
        font-family: 'commerceB', sans-serif;
    }
}

.white-line-title {
    @extend .line-title;
    border-bottom: 0;
    color: $white;
    &::before {
        content: "";
        height: 2px;
        width: 100%;
        bottom: -2px;
        background-color: $white;
        position: absolute;
    }
}

.btn {
    &__more {
        display: flex;
        align-items: center;
        font-weight: $font-weight-lighter;
        color: $body-color;
        &:hover .btn__icon {
            animation: arrow-left-animation 1s ease infinite
        }
    }
    &__icon {
        font-size: 2rem;
    }
}

.btn-learn-more {
    .icon__arrow {
        font-size: 21px;
        @include transform(translate(0, 4px));
        display: inline-block;
    }
    &[aria-expanded="true"] .icon__arrow {
        @include transform(rotate(180deg) translate(0, -6px))
    }
}

.switch-language {
    li {
        font-weight: $font-weight-lighter;
        &.active {
            font-weight: $font-weight-bold;
        }
        a {
            border-bottom: 1px solid transparent;
            padding: 0;
            display: block;
            line-height: 1;
            margin: 0 10px;
            span {
                line-height: 1;
            }
            &:hover {
                border-color: $header-bottom-text;
            }
        }
        &.wpml-ls-current-language {
            font-weight: bold;
            &:hover a {
                border-color: transparent;
                cursor: default;
            }
        }
        &:first-child {
            position: relative;
            &:after {
                content: "|";
                position: absolute;
                right: -1px;
                top: 0px;
                line-height: 1;
            }
        }
    }
    .wpml-ls-legacy-list-horizontal {
        padding: 0;
    }
}

.language_mobile {
    ul {
        display: flex;
        align-items: center;
    }
    li span {
        display: none;
    }
}

.overlay-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $black;
    opacity: .7;
    z-index: 999;
    display: none;
}

#to_top {
    position: fixed;
    width: rem(35);
    height: rem(35);
    line-height: rem(35);
    text-align: center;
    bottom: 3rem;
    right: rem(20);
    background-color: $secondary;
    font-size: 0;
    display: none;
    z-index: 10;
    &:before,
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $white;
        position: absolute;
        top: calc((100% - 8px)/2);
        left: calc((100% - 15px)/2);
    }
    &:after {
        border-bottom-color: rgba($white, 0.5);
        @include transform(translateY(-4px));
    }
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}

.image-box {
    position: relative;
    overflow: hidden;
}

.image-box::before {
    content: "";
    display: block;
    padding-top: 55%;
}

.image-box .image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-center {
    text-align: center;
    img {
        display: inline-block;
        margin: auto
    }
}

.bg {
    &-section {
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-full {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    &-benefit {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
    }
}

.skew-bg {
    width: 95%;
    height: 100%;
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 1;
    @include transform(skewX(-34deg));
}

.app-group li:hover {
    opacity: .8;
}

.video-content iframe {
    width: 100% !important;
    height: auto;
    min-height: 500px !important;
    @include media-breakpoint-down(md) {
        min-height: 365px !important;
    }
    @include media-breakpoint-down(sm) {
        min-height: 190px !important;
    }
}
.video-content-new iframe{
    width: 100% !important;
    height: auto;
    min-height: 400px !important;
    @include media-breakpoint-down(md) {
        min-height: 365px !important;
    }
    @include media-breakpoint-down(sm) {
        min-height: 190px !important;
    } 
}
.video-youtube{
    min-height: 300px;
    @include media-breakpoint-down(sm) {
        min-height: 190px !important;
    }
}

video[poster] {
    display: inherit;
}

.video__wrap {
    position: relative;
    video {
        cursor: pointer;
    }
    .playpause {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        width: rem(60);
        height: rem(60);
        margin: auto;
        background-color: $white;
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-top: 1rem solid transparent;
            border-left: 1.5rem solid $primary;
            border-bottom: 1rem solid transparent;
            top: calc((100% - 2rem)/2);
            left: calc((100% - 1.3rem)/2);
            position: absolute;
            cursor: pointer;
        }
    }
}

body.modal-open {
    padding-right: 0 !important;
}

#questionModal {
    .modal-dialog {
        max-width: 80vw;
        height: 90vh;
        margin: 3vh auto;
    }
    .modal-content {
        height: 100%;
    }
    .close {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 2rem;
    }
}

#iframeregister {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box-style01 {
    .box__icon {
        max-width: 5rem;
        min-width: 5rem;
    }
}

.link-icon {
    display: inline-block;
    position: relative;
    i {
        font-size: 2rem;
        position: absolute;
        right: -2rem;
        top: -5px;
    }
}

.grid-list .border-dark {
    border-right: 0;
    @include media-breakpoint-up(xl) {
        &:last-child,
        &:nth-child(4n) {
            border-right: 1px solid;
        }
    }
    @include media-breakpoint-only(lg) {
        &:last-child,
        &:nth-child(3n) {
            border-right: 1px solid;
        }
    }
    @include media-breakpoint-only(md) {
        &:last-child,
        &:nth-child(2n) {
            border-right: 1px solid;
        }
    }
    @include media-breakpoint-down(sm) {
        border-right: 1px solid;
    }
}

@include media-breakpoint-down(md) {
    #questionModal.modal.fade.show {
        padding-left: 0 !important;
    }
    #questionModal.modal-dialog {
        max-width: 90vw;
    }
}

@include media-breakpoint-down(sm) {
    .table-sm {
        overflow-x: scroll;
        table td {
            vertical-align: top;
        }
    }
}