//CAROUSEL
.carousel {
    &-indicators {
        position: static;
        align-items: center;
        margin: 0 10px;
        li {
            background-color: #999;
            border-radius: 100%;
            &.active {
                background-color: $carousel-indicator-active-bg;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
}

//SLICK
.owl-carousel {
    .owl-nav button.owl {
        &-prev,
        &-next {
            position: absolute;
            display: block;
            line-height: 0px;
            font-size: 0px;
            cursor: pointer;
            background: transparent;
            color: $body-color;
            top: 50%;
            padding: 0;
            border: none;
            outline: none;
            width: rem(50);
            height: rem(50);
            z-index: 1;
            @include transform(translate(0, -50%));
            &:before {
                @include icon-font("\35", 3rem, 50px);
            }
            &:hover:not(.disabled) {
                color: $primary;
            }
            span {
                display: none;
            }
            &.disabled {
                opacity: .5;
                cursor: no-drop;
            }
        }
        &-next {
            right: rem(-50);
        }
        &-prev {
            left: rem(-50);
            &::before {
                content: "\34"
            }
        }
        @media screen and (max-width:1299px) {
            &-next,
            &-prev {
                background-color: $secondary;
                color: $white;
                @include hover-focus-active {
                    &:not(.disabled) {
                        color: $white
                    }
                }
            }
            &-next {
                right: rem(-15);
            }
            &-prev {
                left: rem(-15);
            }
        }
        @include media-breakpoint-down(md) {
            &-next,
            &-prev {
                width: 2.5rem;
                height: 2.5rem;
                &:before {
                    font-size: 1.7rem;
                    line-height: 2.5rem;
                }
            }
            &-next {
                right: -.55rem;
            }
            &-prev {
                left: -.55rem;
            }
        }
        @include media-breakpoint-down(sm) {
            &-next {
                right: 0;
            }
            &-prev {
                left: 0;
            }
        }
    }
    .owl-dots {
        text-align: center;
        margin: .5rem 0;
    }
    button.owl-dot {
        width: 10px;
        height: 10px;
        margin: 0 .2rem;
        border-radius: 100%;
        background-color: $gray-500;
        &.active {
            background-color: $primary;
        }
    }
}